.E_NewPageSectionSelector {
}

.E_NewPageSectionSelector--page-section-types {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.E_NewPageSectionSelector--page-section-type {
    font-size: 23px;

    margin-bottom: 20px;
    position: relative;

    flex-shrink: 1;
	flex-basis: calc(50% - 10px);

    cursor: grab;
}

.E_NewPageSectionSelector--page-section-type .type {
    width: 100%;
    height: 0;
    padding-bottom: 100%;

    background-color: #404040;
}

.P_sortable-sections .E_NewPageSectionSelector--page-section-type {
    margin-bottom: 0;
}

.P_sortable-sections .E_NewPageSectionSelector--page-section-type .type {
    height: 100%;
    padding-bottom: 0;
}

.E_NewPageSectionSelector--page-section-type .text {
    position:absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.E_NewPageSectionSelector--clone {
    z-index: 320;

    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);

    animation: E_NewPageSectionSelector--clone-shadow var(--default-transition-duration-hover) var(--default-transition-easing-hover) forwards;
    transition: opacity var(--default-transition-duration-hover) var(--default-transition-easing-hover) 0s;

    cursor: grabbing;
}

body > .E_NewPageSectionSelector--clone .type {
    opacity: 0.75;
}

.E_NewPageSectionSelector--clone__removed {
    transition: none;
}

@keyframes E_NewPageSectionSelector--clone-shadow {
    to { box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.3) }
}
