.E_NewPageSectionSelector {
}

.E_NewPageSectionSelector--thumbs {
    width: calc(100% + 16px);

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.E_NewPageSectionSelector .E_SectionThumb {
    margin-bottom: 16px;
    margin-right: 16px;
}

.P_sortable-sections .E_SectionThumb {
    margin-bottom: 0;
    margin-right: 0;
}
