.E_ColorSettings {
    width: 100%;

    display: flex;
}

.E_ColorSettings .E_ColorSettings--menu {
    min-width: 209px;
    max-width: 340px;
}

.E_ColorSettings .E_ColorSettings--menu > * {
}

.E_ColorSettings--ColorPicker {
/*    max-height: var(--E_PageSectionSettings--init-max-height);*/
}
