.E_ColorSettings {
    width: 100%;

    display: flex;
}

.E_ColorSettings .E_ColorSettings--menu {
    min-width: 209px;
    max-width: 340px;
}

.E_ColorSettings .E_ColorSettings--ColorPicker:nth-child(1n) {
    padding: 4px;

    flex-basis: 75%;
}

.E_ColorSettings .E_PageSectionSettingsMenu {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.E_ColorSettings .E_ColorSettings--menu-list {
    width: 100%;
}

.Button.E_ColorSettings--random-colors-button {
    margin-top: 32px;
    margin-right: 16px;
}
