html, body {
    margin: 0;

    max-width: 100%;
    min-height: 100%;
    padding: 0;
}

body {
    position: relative;

    will-change: scroll-position;
}

* {
    box-sizing: border-box;
}

*:after, *:before {
    box-sizing: inherit;
}

#page {
    overflow: hidden;
}
