html, body {
    margin: 0;

    min-width: 320px;
    max-width: 100%;
    min-height: 100%;
    padding: 0;
}

body {
    position: relative;

    will-change: scroll-position;
}

* {
    box-sizing: border-box;
}

*:after, *:before {
    box-sizing: inherit;
}

#app {
    height: 100%;
}

#app,
#page {
    min-height: 100vh;
}

#page {
    font-size: 0;
    line-height: 0;

    overflow: hidden;
    display: table-cell;
}

/*---------------------------- CURSOR ----------------------------*/

.cursor-grabbing,
.cursor-grabbing * {
    cursor: grabbing !important;
}

.cursor-no-drop,
.cursor-no-drop * {
	cursor: no-drop !important;
}
