html, body {
    margin: 0;

    max-width: 100%;
    min-height: 100%;
    padding: 0;
}

body {
    position: relative;

    will-change: scroll-position;
}

* {
    box-sizing: border-box;
}

*:after, *:before {
    box-sizing: inherit;
}

#app {
    height: 100%;
}

#app,
#page {
    min-height: 100%;
}

#page {
    overflow: hidden;
}

/*---------------------------- CURSOR ----------------------------*/

.cursor-grabbing,
.cursor-grabbing * {
    cursor: grabbing !important;
}
