:root {
    --default-transition-duration:        0.3s;
    --default-transition-duration-hover:  0.125s;
    --default-transition-duration-active: 0.075s;

    --default-transition-easing:          cubic-bezier(0.1, 0.4, 0.4, 1);
    --default-transition-easing-hover:    cubic-bezier(0.8,  0.4, 0.2, 0.8);
    --default-transition-easing-active:   cubic-bezier(0.5,  0.3, 0.2, 1);

    --default-transition:                 all var(--default-transition-duration)        var(--default-transition-easing)        0s;
    --default-transition-hover:           all var(--default-transition-duration-hover)  var(--default-transition-easing-hover)  0s;
    --default-transition-active:          all var(--default-transition-duration-active) var(--default-transition-easing-active) 0s;

    --P_PageSection__max-width: 1440px;

    --P_PageSection__dragged_height: 48px;
    --P_PageSection_sorting-transition-duration: 0.35s;
    --P_PageSection_sorting-transition-easing: cubic-bezier(0, 0, .58, 1); /*ease-out*/

    --P_PageSection--placeholder_text: "Umístit sekci zde...";
    --P_PageSection--empty_text: "Sem můžete přidat další sekci...";

    --E_PageSectionSettings--init-max-height: 320px;

    --P_PageSection--shadow-10__text  : 0px 0px  8px rgba(0, 0, 0, 0.2);
    --P_PageSection--shadow-20__text  : 0px 0px 12px rgba(0, 0, 0, 0.4);
    --P_PageSection--shadow-30__text  : 0px 0px 16px rgba(0, 0, 0, 0.6);
    --P_PageSection--shadow-10__box   : 0px 0px  8px rgba(0, 0, 0, 0.1);
    --P_PageSection--shadow-20__box   : 0px 0px 12px rgba(0, 0, 0, 0.175);
    --P_PageSection--shadow-30__box   : 0px 0px 16px rgba(0, 0, 0, 0.25);
    --P_PageSection--shadow-10__filter: 0px 0px  3px rgba(0, 0, 0, 0.125);
    --P_PageSection--shadow-20__filter: 0px 0px  4px rgba(0, 0, 0, 0.25);
    --P_PageSection--shadow-30__filter: 0px 0px  6px rgba(0, 0, 0, 0.4);

    --P_PageSection--shadow-10__box-1 : 0px 0px  8px 1px rgba(0, 0, 0, 0.1);
    --P_PageSection--shadow-20__box-1 : 0px 0px 12px 1px rgba(0, 0, 0, 0.175);
    --P_PageSection--shadow-30__box-1 : 0px 0px 16px 1px rgba(0, 0, 0, 0.25);
}
