/*====================================================================*/
/*---------------------- PAGESECTIONFEATUREFULL ----------------------*/
/*====================================================================*/

.P_PageSectionFeatureFull .P_PageSection--center {
    position: relative;
    z-index: 2;
}

.P_PageSectionFeatureFull .P_PageSection--content-wrapper {
	display: table-cell;
    vertical-align: bottom;
}

[class*="P_PageSectionFeatureFull__center"] .P_PageSection--content-wrapper {
	text-align: center;
}

.P_PageSectionFeatureFull--text {
    margin-top: 8.984%;
    margin-top: 8.984vh;
    margin-top: 8.984vmin;
    margin-bottom: 8.984%;
    margin-bottom: 8.984vh;
    margin-bottom: 8.984vmin;
    position: relative;
    z-index: 2;

    width: 50%;

	display: inline-block;
}

.P_PageSectionFeatureFull .P_PageSection--buttons {
    margin-top: -16px;
    margin-bottom: -16px;
}

[class*="P_PageSectionFeatureFull__right"] .P_PageSectionFeatureFull--text {
    padding-left: 44px;
}

[class*="P_PageSectionFeatureFull__left"] .P_PageSectionFeatureFull--text {
    padding-right: 44px;
}

[class*="P_PageSectionFeatureFull__center"] .P_PageSectionFeatureFull--text {
    padding-right: 22px;
    padding-left: 22px;
}

@media (max-width: 1023px) {

    .P_PageSectionFeatureFull:not(.P_PageSectionFeatureFull__center-center) .P_PageSection--center {
        order: 2;
    }

    .P_PageSectionFeatureFull:not(.P_PageSectionFeatureFull__center-center) .P_PageSection--center,
    .P_PageSectionFeatureFull:not(.P_PageSectionFeatureFull__center-center) .P_PageSection--content-wrapper {
        text-align: center;

        height: auto;
    }

    .P_PageSectionFeatureFull .P_PageSectionFeatureFull--text {
        text-align: center;

        margin-top: 0;
        margin-bottom: 0;

        width: 85.627%;
    }

    .P_PageSectionFeatureFull .P_PageSectionFeatureFull--text {
        padding-right: 0px;
        padding-left: 0px;
    }

    .P_PageSectionFeatureFull:not(.P_PageSectionFeatureFull__center-center) [class*="P_PageSection__shadow"] .P_PageSectionFeatureFull--text .P_PageElementButton *,
    .P_PageSectionFeatureFull:not(.P_PageSectionFeatureFull__center-center) [class*="P_PageSection__shadow"] .P_PageSectionFeatureFull--text .P_PageElementButton,
    .P_PageSectionFeatureFull:not(.P_PageSectionFeatureFull__center-center) [class*="P_PageSection__shadow"] .P_PageSectionFeatureFull--text .P_PageElementText *:after,
    .P_PageSectionFeatureFull:not(.P_PageSectionFeatureFull__center-center) [class*="P_PageSection__shadow"] .P_PageSectionFeatureFull--text .P_PageElementText *:before,
    .P_PageSectionFeatureFull:not(.P_PageSectionFeatureFull__center-center) [class*="P_PageSection__shadow"] .P_PageSectionFeatureFull--text .P_PageElementText,
    .P_PageSectionFeatureFull:not(.P_PageSectionFeatureFull__center-center) [class*="P_PageSection__shadow"] .P_PageSectionFeatureFull--text .P_PageElementText--underline,
    .P_PageSectionFeatureFull:not(.P_PageSectionFeatureFull__center-center) [class*="P_PageSection__shadow"] .P_PageSectionFeatureFull--text .P_PageElementText--underline:after,
    .P_PageSectionFeatureFull:not(.P_PageSectionFeatureFull__center-center) [class*="P_PageSection__shadow"] .P_PageSectionFeatureFull--text .P_PageElementText--underline:before,
    .P_PageSectionFeatureFull:not(.P_PageSectionFeatureFull__center-center) [class*="P_PageSection__shadow"] .P_PageSectionFeatureFull--text .P_PageElementText--underline-element,
    .P_PageSectionFeatureFull:not(.P_PageSectionFeatureFull__center-center) [class*="P_PageSection__shadow"] .P_PageSectionFeatureFull--text .P_PageElementText * {
        text-shadow: none;
        box-shadow: none;
    }

    .P_PageSectionFeatureFull__right-bottom .P_PageSection--background-color,
    .P_PageSectionFeatureFull__left-bottom .P_PageSection--background-color,
    .P_PageSectionFeatureFull__center-bottom .P_PageSection--background-color {
        display: flex;
        flex-direction: column;
    }

    .P_PageSectionFeatureFull:not(.P_PageSectionFeatureFull__center-center) .P_BackgroundImage {
        position: relative;

        min-height: 480px;
        height: 100vm;
        height: 100vmin;
    }
}

@media (max-width: 640px) {

    P_PageSectionFeatureFull .P_PageSectionFeatureFull--text {
        width: 100%;
    }

}

[class*="P_PageSectionFeatureFull__right"] .P_PageSection--content-wrapper {
    text-align: right;
}

[class*="P_PageSectionFeatureFull__left"] .P_PageSection--content-wrapper {
    text-align: left;
}

[class*="P_PageSectionFeatureFull__center"] .P_PageSection--content-wrapper {
    text-align: center;
}

.P_PageSectionFeatureFull__center-center .P_PageSection--content-wrapper,
.P_PageSectionFeatureFull__right-center .P_PageSection--content-wrapper,
.P_PageSectionFeatureFull__left-center .P_PageSection--content-wrapper {
    vertical-align: middle;
}

.P_PageSectionFeatureFull__center-top .P_PageSection--content-wrapper,
.P_PageSectionFeatureFull__right-top .P_PageSection--content-wrapper,
.P_PageSectionFeatureFull__left-top .P_PageSection--content-wrapper {
    vertical-align: top;
}

.P_PageSectionFeatureFull__center-bottom .P_PageSection--content-wrapper,
.P_PageSectionFeatureFull__right-bottom .P_PageSection--content-wrapper,
.P_PageSectionFeatureFull__left-bottom .P_PageSection--content-wrapper {
    vertical-align: bottom;
}

.P_PageSectionFeatureFull__left-center .P_BackgroundImage--image {
    background-position: 50% 50%;
}

.P_PageSectionFeatureFull__left-top .P_BackgroundImage--image {
    background-position: 50% 75%;
}

.P_PageSectionFeatureFull__left-bottom .P_BackgroundImage--image {
    background-position: 50% 25%;
}

.P_PageSectionFeatureFull__right-center .P_BackgroundImage--image {
    background-position: 50% 50%;
}

.P_PageSectionFeatureFull__right-top .P_BackgroundImage--image {
    background-position: 50% 75%;
}

.P_PageSectionFeatureFull__right-bottom .P_BackgroundImage--image {
    background-position: 50% 25%;
}

.P_PageSectionFeatureFull__center-center .P_BackgroundImage--image {
    background-position: 50% 50%;
}

.P_PageSectionFeatureFull__center-top .P_BackgroundImage--image {
    background-position: 50% 75%;
}

.P_PageSectionFeatureFull__center-bottom .P_BackgroundImage--image {
    background-position: 50% 25%;
}


@media (max-width: 1023px) {

    .P_PageSectionFeatureFull__left-center .P_BackgroundImage--image {
        background-position: 75% 50%;
    }

    .P_PageSectionFeatureFull__left-top .P_BackgroundImage--image {
        background-position: 75% 25%;
    }

    .P_PageSectionFeatureFull__left-bottom .P_BackgroundImage--image {
        background-position: 75% 75%;
    }

    .P_PageSectionFeatureFull__right-center .P_BackgroundImage--image {
        background-position: 25% 50%;
    }

    .P_PageSectionFeatureFull__right-top .P_BackgroundImage--image {
        background-position: 25% 25%;
    }

    .P_PageSectionFeatureFull__right-bottom .P_BackgroundImage--image {
        background-position: 25% 75%;
    }

    .P_PageSectionFeatureFull__center-center .P_BackgroundImage--image {
        background-position: 50% 50%;
    }

    .P_PageSectionFeatureFull__center-top .P_BackgroundImage--image {
        background-position: 50% 25%;
    }

    .P_PageSectionFeatureFull__center-bottom .P_BackgroundImage--image {
        background-position: 50% 75%;
    }


}

@media (min-width: 1024px) {

    [class*="P_PageSectionFeatureFull__right"] .P_PageSection--buttons {
        text-align: right;

        margin-right: -16px;
        margin-left: auto;
    }

    [class*="P_PageSectionFeatureFull__right"] .P_PageSection--buttons-wrapper {
        text-align: right;

        margin-left: 0;
        margin-right: 0;
    }

    [class*="P_PageSectionFeatureFull__left"] .P_PageSection--buttons {
        text-align: left;

        margin-left: -16px;
        margin-right: 0;
    }

    [class*="P_PageSectionFeatureFull__left"] .P_PageSection--buttons-wrapper {
        text-align: left;

        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 0px) {

    .P_PageSection--content-wrapper.has-empty-texts.has-no-button:not(.has-active-texts) .P_PageSectionFeatureFull--text {
        padding-top: 0;
        padding-bottom: 0;
    }

    .has-no-image:not(.has-active-image) .P_PageSectionFeatureFull--text {
        padding-bottom: 0;
    }

}

/**Minimální velikost .P_PageElementText -> kvůli animaci*/
/*font-size krát line-height*/
.P_PageSectionFeatureFull .P_PageSectionFeatureFull--title .P_PageElement:not(.P_PageElement__empty) .P_PageElementText {
    min-height: calc((31px + (41 - 31) * (100vw - 320px) / (1440 - 320)) * 1.46);
}

.P_PageSectionFeatureFull .P_PageSectionFeatureFull--content .P_PageElement:not(.P_PageElement__empty) .P_PageElementText {
    min-height: calc((17px + (19 - 17) * (100vw - 320px) / (1440 - 320)) * 2.11);
}

.P_PageSectionFeatureFull--title.has-empty-PageElement:not(.has-active-PageElement) ~ .P_PageSectionFeatureFull--content .P_PageElement:not(.P_PageElement__empty) .P_PageElementText {
    min-height: calc((19px + (23 - 19) * (100vw - 320px) / (1440 - 320)) * 2.11);
}

@media (min-width: 1440px) {

    .P_PageSectionFeatureFull .P_PageSectionFeatureFull--title .P_PageElement:not(.P_PageElement__empty) .P_PageElementText {
        min-height: calc(41px * 1.46);
    }

    .P_PageSectionFeatureFull .P_PageSectionFeatureFull--content .P_PageElement:not(.P_PageElement__empty) .P_PageElementText {
        min-height: calc(19px * 2.11);
    }

    .P_PageSectionFeatureFull--title.has-empty-PageElement:not(.has-active-PageElement) ~ .P_PageSectionFeatureFull--content .P_PageElement:not(.P_PageElement__empty) .P_PageElementText {
        min-height: calc(23px * 2.11);
    }

}

/***************/

.P_PageSectionFeatureFull--text,
.P_PageSectionFeatureFull--title,
.P_PageSectionFeatureFull--content,
.P_PageSectionFeatureFull--title .P_PageElement,
.P_PageSectionFeatureFull--content .P_PageElement,
.P_PageSectionFeatureFull .P_PageSection--buttons,
.P_PageSectionFeatureFull .P_PageSection--buttons-wrapper {
    transition: all 0.3s ease-in-out;
    transition-property: margin, font-size, line-height, width, height, padding;
}

.P_PageSectionFeatureFull--text {
    transition-property: font-size, line-height, width, height, padding;
}

.P_PageSectionFeatureFull--text .P_PageElementText {
    transition-property: width, height, padding;
}

.P_PageSectionFeatureFull .P_PageElementText p {
    transition: all 0.3s ease-in-out;
    transition-property: margin, padding;
}

.P_PageSectionFeatureFull .P_PageSectionFeatureFull--title,
.P_PageSectionFeatureFull .P_PageSectionFeatureFull--title .P_PageElement,
.P_PageSectionFeatureFull .P_PageSectionFeatureFull--title .P_font-title {
    font-size: 41px;
    font-size: calc(31px + (41 - 31) * (100vw - 320px) / (1440 - 320));
}

.P_PageSectionFeatureFull .P_PageSectionFeatureFull--title.has-empty-PageElement:not(.has-active-PageElement),
.P_PageSectionFeatureFull .P_PageSectionFeatureFull--content.has-empty-PageElement:not(.has-active-PageElement),
.P_PageSectionFeatureFull .P_PageSectionFeatureFull--content.has-empty-PageElement:not(.has-active-PageElement) .P_PageElement {
    font-size: 0;
    line-height: 0;
}

.P_PageSectionFeatureFull .P_PageSectionFeatureFull--title .P_PageElement,
.P_PageSectionFeatureFull .P_PageSectionFeatureFull--title .P_font-title {
    line-height: 1.46;
}

@media (min-width: 1440px) {

    .P_PageSectionFeatureFull .P_PageSectionFeatureFull--title .P_PageElement,
    .P_PageSectionFeatureFull .P_PageSectionFeatureFull--title .P_font-title {
        font-size: 41px;
    }

}

.P_PageSectionFeatureFull--title:not(.has-empty-PageElement),
.P_PageSectionFeatureFull--title.has-empty-PageElement.has-active-PageElement {
    margin-bottom: 0.488em;
}

.P_PageSectionFeatureFull .P_PageSectionFeatureFull--content,
.P_PageSectionFeatureFull .P_PageSectionFeatureFull--content .P_PageElement,
.P_PageSectionFeatureFull .P_PageSectionFeatureFull--content .P_font-title {
    font-size: 19px;
    font-size: calc(17px + (19 - 17) * (100vw - 320px) / (1440 - 320));
    text-wrap: balanced;
}

.has-empty-PageElement:not(.has-active-PageElement) ~ .P_PageSectionFeatureFull--content,
.has-empty-PageElement:not(.has-active-PageElement) ~ .P_PageSectionFeatureFull--content .P_PageElement,
.has-empty-PageElement:not(.has-active-PageElement) ~ .P_PageSectionFeatureFull--content .P_font-title {
    font-size: 23px;
    font-size: calc(19px + (23 - 19) * (100vw - 320px) / (1440 - 320));
}

.P_PageSectionFeatureFull .P_PageSectionFeatureFull--content .P_PageElement,
.P_PageSectionFeatureFull .P_PageSectionFeatureFull--content .P_font-title {
    line-height: 2.11;
}

@media (min-width: 1440px) {

    .P_PageSectionFeatureFull .P_PageSectionFeatureFull--content .P_PageElement,
    .P_PageSectionFeatureFull .P_PageSectionFeatureFull--content .P_font-title {
        font-size: 19px;
    }

    .has-empty-PageElement:not(.has-active-PageElement) ~ .P_PageSectionFeatureFull--content,
    .has-empty-PageElement:not(.has-active-PageElement) ~ .P_PageSectionFeatureFull--content .P_PageElement,
    .has-empty-PageElement:not(.has-active-PageElement) ~ .P_PageSectionFeatureFull--content .P_font-title {
        font-size: 23px;
    }
}

.P_PageSectionFeatureFull .P_PageSectionFeatureFull--content .P_PageElement {
    margin-bottom: 1.176em;
}

.P_PageSectionFeatureFull .P_PageSectionFeatureFull--content .P_PageElementText > *:first-child {
    margin-top: 0;
}

.P_PageSectionFeatureFull .P_PageSection--content-wrapper:not(.has-empty-texts) .P_PageSection--buttons,
.P_PageSectionFeatureFull .has-empty-texts.has-active-texts .P_PageSection--buttons {
    margin-top: -8px;
}

/*title - ano | content - ne | buttons - ano -> buttons*/
.P_PageSectionFeatureFull--title:not(.has-empty-PageElement) ~ .P_PageSectionFeatureFull--content.has-empty-PageElement:not(.has-active-PageElement) ~ .P_PageSection--buttons,
.P_PageSectionFeatureFull--title.has-empty-PageElement.has-active-PageElement ~ .P_PageSectionFeatureFull--content.has-empty-PageElement:not(.has-active-PageElement) ~ .P_PageSection--buttons {
    margin-top: 0;
}

/*********/
/*---------------------------- UNDERLINE ----------------------------*/

@media (min-width: 1024px) {

    .P_underline-titles [class*="P_PageSectionFeatureFull__left"] .P_PageSectionFeatureFull--title .P_PageElementText--underline:before {
        right: auto;
        left: 0;
    }

    .P_underline-titles [class*="P_PageSectionFeatureFull__right"] .P_PageSectionFeatureFull--title .P_PageElementText--underline:before {
        right: 0;
        left: auto;
    }

    .P_underline-titles [class*="P_PageSectionFeatureFull__left"] .P_PageSectionFeatureFull--title .P_PageElementText--underline {
        right: auto;
        left: 0;
        transform: none;
    }


    .P_underline-titles [class*="P_PageSectionFeatureFull__right"] .P_PageSectionFeatureFull--title .P_PageElementText--underline {
        right: 0;
        left: auto;
        transform: none;
    }

}

/*FONT - 3*/

.P_underline-titles.P_font-type-3 .P_PageSectionFeatureFull--title .P_PageElementText--underline {
    height: 0.07em;

    width: 32%;
    max-width: 88px;
}

.P_underline-titles.P_font-type-3 [class*="P_PageSectionFeatureFull__center"] .P_PageSectionFeatureFull--title .P_PageElementText--underline {
    width: 20%;
}

.P_underline-titles.P_font-type-3 [class*="P_PageSectionFeatureFull__center"] .P_PageSectionFeatureFull--title:not(.has-empty-PageElement) .P_PageElementText {
    padding-bottom: 20px;
}

.P_underline-titles.P_font-type-3 [class*="P_PageSectionFeatureFull__center"] .P_PageSectionFeatureFull--title:not(.has-empty-PageElement) .P_PageElementText--underline {
    bottom: 0em;
}

@media (max-width: 1023px) {

    .P_underline-titles.P_font-type-3 P_PageSectionFeatureFull .P_PageSectionFeatureFull--title .P_PageElementText--underline {
        width: 20%;
    }

    .P_underline-titles.P_font-type-3 P_PageSectionFeatureFull .P_PageSectionFeatureFull--title:not(.has-empty-PageElement) .P_PageElementText {
        padding-bottom: 20px;
    }

    .P_underline-titles.P_font-type-3 P_PageSectionFeatureFull .P_PageSectionFeatureFull--title:not(.has-empty-PageElement) .P_PageElementText--underline {
        bottom: 0em;
    }
}

@media (min-width: 1024px) {

    .P_underline-titles.P_font-type-3 [class*="P_PageSectionFeatureFull__right"] .P_PageSectionFeatureFull--title:not(.has-empty-PageElement) .P_PageElementText,
    .P_underline-titles.P_font-type-3 [class*="P_PageSectionFeatureFull__left"] .P_PageSectionFeatureFull--title:not(.has-empty-PageElement) .P_PageElementText {
        padding-bottom: 16px;
    }

}
/*FONT - 1*/

.P_underline-titles.P_font-type-1 [class*="P_PageSectionFeatureFull__center"] .P_PageSectionFeatureFull--title:not(.has-empty-PageElement) .P_PageElementText {
    padding-bottom: 24px;
}

.P_underline-titles.P_font-type-1 [class*="P_PageSectionFeatureFull__center"] .P_PageSectionFeatureFull--title:not(.has-empty-PageElement) .P_PageElementText--underline {
    bottom: 0.1em;
}

@media (max-width: 1023px) {

    .P_underline-titles.P_font-type-1 .P_PageSectionFeatureFull .P_PageSectionFeatureFull--title:not(.has-empty-PageElement) .P_PageElementText {
        padding-bottom: 24px;
    }

    .P_underline-titles.P_font-type-1 .P_PageSectionFeatureFull .P_PageSectionFeatureFull--title:not(.has-empty-PageElement) .P_PageElementText--underline {
        bottom: 0.1em;
    }

}

@media (min-width: 1024px) {

    .P_underline-titles.P_font-type-1 [class*="P_PageSectionFeatureFull__left"] .P_PageSectionFeatureFull--title:nth-of-type(1n) .P_PageElementText--underline:after,
    .P_underline-titles.P_font-type-1 [class*="P_PageSectionFeatureFull__left"] .P_PageSectionFeatureFull--title:nth-of-type(1n) .P_PageElementText--underline-element,
    .P_underline-titles.P_font-type-1 [class*="P_PageSectionFeatureFull__right"] .P_PageSectionFeatureFull--title:nth-of-type(1n) .P_PageElementText--underline:after,
    .P_underline-titles.P_font-type-1 [class*="P_PageSectionFeatureFull__right"] .P_PageSectionFeatureFull--title:nth-of-type(1n) .P_PageElementText--underline-element {
        display: none;
    }

    .P_underline-titles.P_font-type-1 [class*="P_PageSectionFeatureFull__left"] .P_PageSectionFeatureFull--title .P_PageElementText--underline:before,
    .P_underline-titles.P_font-type-1 [class*="P_PageSectionFeatureFull__right"] .P_PageSectionFeatureFull--title .P_PageElementText--underline:before {
        width: 50%;
        max-width: 96px;
    }

    .P_underline-titles.P_font-type-1 [class*="P_PageSectionFeatureFull__left"] .P_PageSectionFeatureFull--title:not(.has-empty-PageElement) .P_PageElementText,
    .P_underline-titles.P_font-type-1 [class*="P_PageSectionFeatureFull__right"] .P_PageSectionFeatureFull--title:not(.has-empty-PageElement) .P_PageElementText {
        padding-bottom: 16px;
    }
}
