/*====================================================================*/
/*------------------------- PAGEMENU CONTENT -------------------------*/
/*====================================================================*/

.E_PageMenu--section {
    position: relative;

    padding: 12px 0;
}

.E_PageMenu--title {
    font-family: "Encode Sans", sans-serif;
    font-size: 19px;
    line-height: 1.21;
    font-weight: 500;

    margin-bottom: 8px;

    color: var(--color-title-1);

    cursor: default;
}

.E_PageMenu--sub-title {
    font-family: "Encode Sans", sans-serif;
    font-size: 14px;
    line-height: 1.21;
    font-weight: 600;
    white-space: nowrap;

    position: relative;

    padding-bottom: 10px;

    color: var(--color-title-2);

    display: flex;
    justify-content: space-between;

    cursor: default;
}

.E_PageMenu--section + .E_PageMenu--title {
    margin-top: 12px;
}

.E_PageMenu--sub-title:nth-of-type(1n + 2) {
    margin-top: 8px;
}

.E_PageMenu--sub-title__interactive {
    cursor: pointer;
}

.E_PageMenu--sub-title-value {
    font-weight: 400;
    line-height: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;

    padding-left: 32px;

    color: var(--color-text-2);

    overflow: hidden;
}

.E_PageMenu--sub-title-dropdown {
    position: absolute;
    top: -1px;
    right: -16px;

    width: 16px;
    height: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.E_PageMenu--sub-title-dropdown + .E_PageMenu--sub-title-value {
    margin-right: 1px;
}

.E_PageMenu--sub-title-dropdown svg {
    width: 10px;
    height: 10px;

    fill: var(--color-text-1);
    opacity: 0.5;

    transform: rotate(-90deg);

    transition: var(--default-transition);
}

.E_PageMenu--sub-title:hover .E_PageMenu--sub-title-dropdown svg {
    opacity: 1;

    transition: var(--default-transition-hover);
}

.E_PageMenu--sub-title__active .E_PageMenu--sub-title-dropdown svg {
    fill: var(--color-selected);
    opacity: 1;

    transition: var(--default-transition-hover);
}

.E_PageMenu--sub-title__active .E_PageMenu--sub-title-dropdown svg {
    transform: rotate(-180deg);
}
