/*====================================================================*/
/*------------------------- PAGEMENU CONTENT -------------------------*/
/*====================================================================*/

.E_PageMenu--title {
    font-family: "Encode Sans", sans-serif;
    font-size: 19px;
    font-weight: 500;

    margin-bottom: 16px;

    color: var(--color-title-1);
}
