/*====================================================================*/
/*----------------------------- PAGE MENU ----------------------------*/
/*====================================================================*/

.E_PageMenu {
    z-index: 300;
    position: fixed;
    top: 14.48vh;

    opacity: 1;

    will-change: transform, opacity;
    transition:
        transform var(--default-transition-duration) var(--default-transition-easing) 0s,
        opacity 0.2s cubic-bezier(.1, 0, .9, 1) 0s;
}

.E_PageMenu__show-page {
    opacity: 0.05;
}

.E_PageMenu__hidden {
    pointer-events: none;
}

.E_PageMenu__fixed-top {
    top: 14.48vh;
}

.E_PageMenu__fixed-bottom {
    top: auto;
    bottom: 14.48vh;
}

.E_PageMenu__left {
    z-index: 301;
    left: 0;
}

.E_PageMenu__right {
    right: 0;
}

@media screen and (max-width: 479px) {

    .E_PageMenu__right {
        right: auto;
        left: 0;
    }

    .E_PageMenu__fixed-top.E_PageMenu__right {
        top: calc(14.48vh + 160px);
    }

    .E_PageMenu__fixed-bottom.E_PageMenu__left {
        bottom: calc(14.48vh + 160px);
    }
}

.E_PageMenu--items {
    z-index: 2;
    position: relative;

    width: 64px;
    height: 128px;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;

    animation-duration: var(--default-transition-duration);
    animation-timing-function: var(--default-transition-easing);
    animation-fill-mode: forwards;
}

.E_PageMenu__visible.E_PageMenu__fixed-top .E_PageMenu--items,
.E_PageMenu__fixed-top .E_PageMenu--items {
    /*iOS fix*/
    top: 0;
    left: 0;

    animation-name: PageMenu__top-active;
}

.E_PageMenu__visible.E_PageMenu__fixed-bottom .E_PageMenu--items,
.E_PageMenu__fixed-bottom .E_PageMenu--items {
    /*iOS fix*/
    bottom: 0;
    right: 0;

    animation-name: PageMenu__bottom-active;
}

.E_PageMenu__hidden.E_PageMenu__fixed-top .E_PageMenu--items {
    /*iOS fix*/
    bottom: 0;
    right: 0;

    animation-name: PageMenu__top;
}

.E_PageMenu__hidden.E_PageMenu__fixed-bottom .E_PageMenu--items {
    /*iOS fix*/
    top: 0;
    left: 0;

    animation-name: PageMenu__bottom;
}

.E_PageMenu--item {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;

    max-width: 64px;
    min-width: 64px;
    width: 64px;
    height: 64px;

    color: #404040;
    background-color: #f5f5f5;

    will-change: box-shadow, width, height, min-width, transform, z-index, min-height, max-width, max-height;
    transition:
        transform     0.3s linear 0.3s,
        height        0.3s linear 0.3s,
        min-width     0.3s linear 0.3s,
        max-width     0.3s linear 0.3s,
        width         0.3s linear 0.3s,
        box-shadow    0.3s linear 0.3s,
        z-index       0s   linear 0.6s;
}

.E_PageMenu__fixed-bottom .E_PageMenu--item {
    top: auto;
    bottom: 0;
}

.E_PageMenu--item:nth-of-type(1) {
    transform: translateY(0px) translateX(0px);
}

.E_PageMenu--item:nth-of-type(2) {
    transform: translateY(64px) translateX(0px);
}

.E_PageMenu__fixed-bottom .E_PageMenu--item:nth-of-type(1) {
    transform: translateY(-64px) translateX(0px);
}

.E_PageMenu__fixed-bottom .E_PageMenu--item:nth-of-type(2) {
    transform: translateY(0px) translateX(0px);
}

.E_PageMenu--item.E_PageMenu--item__show-content {
    z-index: 5;

    height: 100vh;
    min-width: 320px;
    max-width: 480px;
    width: calc((61.88vw / 21) * 8);

    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);

    transform: translateX(0) translateY(-14.48vh);

    will-change: box-shadow, width, height, min-width, transform, z-index, min-height, max-width, max-height;
    transition:
        transform  0.3s linear 0.15s,
        height     0.3s linear 0.15s,
        min-width  0.3s linear 0.15s,
        max-width  0.3s linear 0.15s,
        width      0.3s linear 0.15s,
        box-shadow 0.3s linear 0.15s,
        z-index    0s   linear 0.15s;
}

.E_PageMenu--item .E_PageMenu--content-wrapper {
    position: relative;

    height: 100vh;
    min-width: 320px;
    max-width: 480px;
    width: calc((61.88vw / 21) * 8);
    padding: 24px 20px;
}

.E_PageMenu--item.E_PageMenu--item__show-content__min {
    width: 320px;
}

.E_PageMenu--item.E_PageMenu--item__show-content__min .E_PageMenu--content-wrapper {
    width: 320px;
}

.E_PageMenu--content-wrapper > .ps-scrollbar-y-rail {
    z-index: 2;

    margin-right: -2px;
    width: 8px;

    background: #d7d7d7;
    opacity: 1;
    visibility: visible;
}

.E_PageMenu--content-wrapper > .ps-scrollbar-y-rail .ps-scrollbar-y {
    margin-right: 2px;

    width: 4px;
}

@media (pointer: coarse) {

    .E_PageMenu--content-wrapper > .ps-scrollbar-y-rail .ps-scrollbar-y:before {
        content: "";

        z-index: 5;
        position: absolute;
        top: 0px;
        right: 0px;

        width: 24px;
        height: 100%;

        background: transparent;
    }
}

.E_PageMenu--content-wrapper.ps-active-y {
    padding-right: 28px;
    outline: 1px solid red;
}


.E_PageMenu__fixed-bottom .E_PageMenu--item.E_PageMenu--item__show-content {
    transform: translateY(14.48vh);
}

@media screen and (max-width: 479px) {

    .E_PageMenu__fixed-bottom .E_PageMenu--item.E_PageMenu--item__show-content {
        transform: translateY(calc(14.48vh + 160px));
    }
}

/*--------------------------------------------------------------------*/
/*------------------------------ BUTTONS -----------------------------*/
/*--------------------------------------------------------------------*/

.E_PageMenu--button {
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;

    width: 64px;
    height: 64px;

    visibility: visible;
    opacity: 1;

    transition:
        visibility 0s   linear 0.6s,
        opacity    0.3s linear 0.6s;

    cursor: default;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.E_PageMenu--item__has-content .E_PageMenu--button:hover {
    transition:
        visibility 0s   linear 0.6s,
        opacity    0.3s linear 0.6s;
}

.E_PageMenu--item.E_PageMenu--item__show-content .E_PageMenu--button {
    opacity: 0;
    visibility: hidden;

    transition:
        opacity    0.15s linear 0s,
        visibility 0s    linear 0.15s;
}

/*--------------------------------------------------------------------*/
/*------------------------------ CONTENT -----------------------------*/
/*--------------------------------------------------------------------*/

.E_PageMenu--content {
    position: relative;

    width: 100%;
    height: 100%;

    background-color: #fcfcfc;
    opacity: 0;
    visibility: hidden;

    transition:
        opacity    0.3s linear 0s,
        visibility 0s   linear 0.3s;

    overflow: hidden;
}

.E_PageMenu--item__show-content .E_PageMenu--content {
    opacity: 1;
    visibility: visible;

    transition:
        opacity    0.3s linear 0.45s,
        visibility 0s   linear 0.15s;
}

/*---------------------------- HIDE CONTENT ----------------------------*/

.E_PageMenu--hide-content {
    z-index: 110;
    position: absolute;
    top: 0px;
    right: 0px;

    width: 24px;
    height: 24px;

    background-color: transparent;
    border: none;
    opacity: 0.5;

    transition: var(--default-transition);

    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

@media (pointer: coarse) {

    .E_PageMenu--hide-content {
        width: 32px;
        height: 32px;
    }
}
.E_PageMenu--hide-content:hover {
    opacity: 1;

    transition: var(--default-transition-hover);
}

.E_PageMenu--hide-content:active {
    transform: scale(0.95);

    transition: var(--default-transition-active);
}

.E_PageMenu--hide-content svg {
    width: 10px;
    height: 10px;

    fill: var(--color-text-1);
}

@media (pointer: coarse) {

    .E_PageMenu--hide-content svg {
        position: relative;
        left: 2px;
        bottom: 2px;

        width: 12px;
        height: 12px;
    }
}

/*---------------------------- SHOW PAGE ----------------------------*/

.E_PageMenu--show-page {
    z-index: 200;
    position: absolute;
    top: 0;
    right: 24px;

    width: 24px;
    height: 24px;

    opacity: 0.5;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.E_PageMenu--show-page svg {
    width: 16px;
    height: 16px;

    margin-left: 4px;
}

@media (pointer: coarse) {

    .E_PageMenu--show-page {
        right: 32px;

        width: 32px;
        height: 32px;
    }

    .E_PageMenu--show-page svg {
        width: 20px;
        height: 20px;

        margin-bottom: 4px;
    }

    .E_PageMenu--show-page:after {
        content: "";

        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;

        width: 40px;
        height: 40px;

        touch-action: manipulation;
    }
}


/*---------------------------- RESIZER ----------------------------*/

.E_PageMenu--resizer {
    z-index: 100;
    position: absolute;
    top: 0px;
    left: calc(100% - 2px);

    width: 10px;
    height: 100%;
    min-height: 100%;

    cursor: ew-resize;

    display: none;
}

@media (pointer: coarse) {

    .E_PageMenu--resizer {
        left: calc(100% - 8px);

        width: 24px;
    }
}

.E_PageMenu--resizer:after {
    content: "";

    position: absolute;
    top: 0px;
    left: 2px;

    width: 0px;
    height: 100%;

    border-right: 1px solid transparent;

    cursor: ew-resize;

    transition: var(--default-transition);

    transform: translateZ(0);
}

@media (pointer: coarse) {

    .E_PageMenu--resizer:after {
        left: 8px;
    }
}

.E_PageMenu--resizer:hover:after {
    border-right-color: var(--color-selected);

    transition: var(--default-transition-hover);
}

.E_PageMenu--resizer__active:after,
.E_PageMenu--resizer:active:after {
    border-right-color: var(--color-ok);

    transition: var(--default-transition-active);
}

.E_PageMenu--item__show-content .E_PageMenu--resizer {
    display: block;
}

/*---------------------------- POSITION SWITCHER ----------------------------*/

.E_PageMenu--position-switcher {
    position: absolute;

    width: 64px;
    height: 64px;

    opacity: 0;

    transition: var(--default-transition);

    cursor: default;
    pointer-events: none;

	display: flex;
    justify-content: center;
    align-items: center;

    animation-duration: var(--default-transition-duration);
    animation-timing-function: var(--default-transition-easing);
    animation-fill-mode: forwards;
}

.E_PageMenu--position-switcher__top {
    top: -64px;
    transform: translateY(6px);
}

.E_PageMenu--position-switcher__bottom {
    bottom: -64px;
    transform: translateY(-6px);
}

@media screen and (max-width: 479px) {

    .E_PageMenu__left .E_PageMenu--position-switcher__bottom,
    .E_PageMenu__right .E_PageMenu--position-switcher__top {
        display: none;
    }
}

.E_PageMenu__left.E_PageMenu__fixed-bottom:not(.E_PageMenu__css-fixed):not(.E_PageMenu__hidden) .E_PageMenu--position-switcher__top,
.E_PageMenu__left.E_PageMenu__fixed-top:not(.E_PageMenu__css-fixed):not(.E_PageMenu__hidden) .E_PageMenu--position-switcher__bottom,
body:not(.cursor-grabbing) .E_PageMenu__fixed-bottom.E_PageMenu__css-fixed:not(.E_PageMenu__hidden):hover .E_PageMenu--position-switcher__top,
body:not(.cursor-grabbing) .E_PageMenu__fixed-top.E_PageMenu__css-fixed:not(.E_PageMenu__hidden):hover .E_PageMenu--position-switcher__bottom {
    transform: translateY(0px);

    opacity: 1;

    pointer-events: all;
}

.E_PageMenu__left.E_PageMenu__fixed-bottom:not(.E_PageMenu__css-fixed) .E_PageMenu--position-switcher__top {
    animation-name: PageMenu__bottom;
}

.E_PageMenu__left.E_PageMenu__fixed-top:not(.E_PageMenu__css-fixed) .E_PageMenu--position-switcher__bottom {
    animation-name: PageMenu__top;
}

.E_PageMenu__left.E_PageMenu__fixed-bottom:not(.E_PageMenu__css-fixed):not(.E_PageMenu__hidden) .E_PageMenu--position-switcher__top {
    animation-name: PageMenu__bottom-active;
}

.E_PageMenu__left.E_PageMenu__fixed-top:not(.E_PageMenu__css-fixed):not(.E_PageMenu__hidden) .E_PageMenu--position-switcher__bottom {
    animation-name: PageMenu__top-active;
}

.E_PageMenu--position-switcher .icon {
    text-align: center;
    line-height: 32px;

    position: relative;

    width: 32px;
    height: 32px;

    background-color: var(--color-flat-button-bg);
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);

    display: block;

    transition: inherit;
}

.E_PageMenu--position-switcher .icon:hover {
    background-color: var(--color-hover);

    transition: var(--default-transition-hover);
}

.E_PageMenu.E_PageMenu__css-fixed:not(.E_PageMenu__hidden):hover .E_PageMenu--position-switcher .icon,
.E_PageMenu__left:not(.E_PageMenu__css-fixed) .E_PageMenu--position-switcher .icon {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

.E_PageMenu--position-switcher .icon svg {
    margin: auto;
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    fill: var(--color-flat-button-icon);

    transform-origin: center center;

    transition: var(--default-transition);
}

.E_PageMenu--position-switcher .icon:hover svg {
    fill: var(--color-flat-button-icon-hover);

    transition: var(--default-transition-hover);
}

.E_PageMenu--icon__arrow {
    width: 16px;
    height: 16px;
}

.E_PageMenu--icon__touch {
    width: 20px;
    height: 20px;

    display: none;
}

.E_PageMenu--position-switcher__top .E_PageMenu--icon__arrow {
    transform: translateY(-1px) rotate(-90deg);
}

.E_PageMenu--position-switcher__bottom .E_PageMenu--icon__arrow {
    transform: translateY(1px) rotate(90deg);
}

.E_PageMenu--position-switcher__top .E_PageMenu--icon__touch {
    transform: translateY(1px);
}

.E_PageMenu:not(.E_PageMenu__css-fixed):hover .E_PageMenu--icon__touch {
    opacity: 0;

    display: block;

    animation: E_PageMenu--show-icon__touch 2s linear 1s forwards;
}

.E_PageMenu:not(.E_PageMenu__css-fixed):hover .E_PageMenu--icon__arrow {
    animation: E_PageMenu--hide-icon__arrow 3s linear 0.5s forwards;
}

@keyframes E_PageMenu--hide-icon__arrow {
    0% {
        opacity: 1;
    }
    16.666% {
        opacity: 0;
    }
    83.333% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes E_PageMenu--show-icon__touch {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*====================================================================*/
/*---------------------------- ANIMATIONS ----------------------------*/
/*====================================================================*/

@keyframes PageMenu__top {
    from {
        transform: translate(0px, 0px);
        opacity: 1;
    }
    to {
        transform: translate(0px, 6px);
        opacity: 0;
    }
}

@keyframes PageMenu__top-active {
    from {
        transform: translate(0px, 6px);
        opacity: 0;
    }
    to {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

@keyframes PageMenu__bottom {
    from {
        transform: translate(0px, 0px);
        opacity: 1;
    }
    to {
        transform: translate(0px, -6px);
        opacity: 0;
    }
}

@keyframes PageMenu__bottom-active {
    from {
        transform: translate(0px, -6px);
        opacity: 0;
    }
    to {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
