<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>

    <script>
        var ractiveData = <%- ractiveData %>;
    </script>

</head>

<body>

    <%- ractiveHtml %>

    <script src="js/bundle.js"></script>

</body>

</html>
