
html, body {
    margin: 0;

    padding: 0;

    will-change: scroll-position;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:after, *:before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}


.P_PageSection--placeholder {
    position: relative;

    min-height: 0px;
    height: 40px;
    width: 100%;

    color: #888;
    outline: 2px dashed currentColor;
    outline-offset: -4px;

    -webkit-transition-property: height, min-height;

    -moz-transition-property: height, min-height;

    -o-transition-property: height, min-height;

    transition-property: height, min-height;
    -webkit-transition-duration: 0.1s;
       -moz-transition-duration: 0.1s;
         -o-transition-duration: 0.1s;
            transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;

    will-change: height;
}

.P_PageSection--placeholder:after {
    content: "Umístit sekci zde...";

    font-size: 17px;

    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    display: -webkit-box;

    display: -webkit-flex;

    display: -moz-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.P_PageSection--placeholder__transitions {
    height: 40px;
    width: 100%;

    -webkit-transition-property: height;

    -moz-transition-property: height;

    -o-transition-property: height;

    transition-property: height;
    -webkit-transition-duration: 0.35s;
       -moz-transition-duration: 0.35s;
         -o-transition-duration: 0.35s;
            transition-duration: 0.35s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;

    will-change: height;
}


.E_NewPageSectionSelector {
    z-index: 110;
    position: fixed;
    top: -webkit-calc(-100% + 20px);
    top: -moz-calc(-100% + 20px);
    top: calc(-100% + 20px);
    left: 0px;

    padding: 20px;
    width: 300px;
    height: 100%;

    background-color: #ddd;

    -webkit-transition: all 0.3s ease-in-out 0s;

    -moz-transition: all 0.3s ease-in-out 0s;

    -o-transition: all 0.3s ease-in-out 0s;

    transition: all 0.3s ease-in-out 0s;
}

[class*='E_NewPageSection'] {
    will-change: transform, opacity, width, height;
}

.E_NewPageSectionSelector:hover {
    top: 0%;
}

.E_NewPageSectionSelector--page-section-types {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.E_NewPageSectionSelector--page-section-type {
    font-size: 23px;

    margin-bottom: 20px;

	width: -webkit-calc(50% - 10px);

	width: -moz-calc(50% - 10px);

	width: calc(50% - 10px);
    height: 105px;

    color: #fff;
    background-color: #404040;

    display: -webkit-box;

    display: -webkit-flex;

    display: -moz-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.E_NewPageSectionSelector--clone {
    z-index: 120;
}

.P_PageSection {
    position: relative;

    -webkit-transition-property: height;

    -moz-transition-property: height;

    -o-transition-property: height;

    transition-property: height;
    -webkit-transition-duration: 0.35s;
       -moz-transition-duration: 0.35s;
         -o-transition-duration: 0.35s;
            transition-duration: 0.35s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}

.P_PageSection__placed {
    z-index: 100;

    overflow: hidden;
}

.P_PageSection__dragged {
    z-index: 100;

    height: 40px;
    min-height: 40px;
    width: 100%;

    overflow: hidden;
}

.E [class*='P_PageSection'], .E [class*='P_PageSection']:after {
    will-change: transform, opacity, width, height;
}

.E .P_PageSection:after {
    content: attr(data-section-name);

    font-size: 19px;

    z-index: 100;
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    color: #fff;
    background-color: #404040;
    opacity: 0;
    visibility: hidden;

    display: -webkit-box;

    display: -webkit-flex;

    display: -moz-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    -webkit-transition-property: opacity, visibility;

    -moz-transition-property: opacity, visibility;

    -o-transition-property: opacity, visibility;

    transition-property: opacity, visibility;
    -webkit-transition-duration: 0.35s;
       -moz-transition-duration: 0.35s;
         -o-transition-duration: 0.35s;
            transition-duration: 0.35s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}

.E .P_PageSection__dragged:after {
    opacity: 1;
    visibility: visible;
}

/*# sourceMappingURL=page.css.map */
