
html, body {
    margin: 0;

    padding: 0;
}

body {
    will-change: scroll-position;
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*:after, *:before {
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
}

.medium-editor-anchor-preview, .medium-editor-toolbar {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;

    z-index: 2000;

    -webkit-transition: 0.2s ease-in-out 0s;

    -moz-transition: 0.2s ease-in-out 0s;

    -o-transition: 0.2s ease-in-out 0s;

    transition: 0.2s ease-in-out 0s;
    -webkit-transition-property: top, left, bottom, right;
    -moz-transition-property: top, left, bottom, right;
    -o-transition-property: top, left, bottom, right;
    transition-property: top, left, bottom, right;
}

@-webkit-keyframes medium-editor-image-loading {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-moz-keyframes medium-editor-image-loading {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
             transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
             transform: scale(1)
    }
}

@-o-keyframes medium-editor-image-loading {
    0% {
        -webkit-transform: scale(0);
        -o-transform: scale(0);
           transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1);
        -o-transform: scale(1);
           transform: scale(1)
    }
}

@keyframes medium-editor-image-loading {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
          -o-transform: scale(0);
             transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
          -o-transform: scale(1);
             transform: scale(1)
    }
}

@-webkit-keyframes medium-editor-pop-upwards {
    0% {
        opacity: 0;
        -webkit-transform: matrix(.97, 0, 0, 1, 0, 12);
        transform: matrix(.97, 0, 0, 1, 0, 12)
    }
    20% {
        opacity: .7;
        -webkit-transform: matrix(.99, 0, 0, 1, 0, 2);
        transform: matrix(.99, 0, 0, 1, 0, 2)
    }
    40% {
        opacity: 1;
        -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
        transform: matrix(1, 0, 0, 1, 0, -1)
    }
    100% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0)
    }
}

@-moz-keyframes medium-editor-pop-upwards {
    0% {
        opacity: 0;
        -webkit-transform: matrix(.97, 0, 0, 1, 0, 12);
        -moz-transform: matrix(.97, 0, 0, 1, 0, 12);
             transform: matrix(.97, 0, 0, 1, 0, 12)
    }
    20% {
        opacity: .7;
        -webkit-transform: matrix(.99, 0, 0, 1, 0, 2);
        -moz-transform: matrix(.99, 0, 0, 1, 0, 2);
             transform: matrix(.99, 0, 0, 1, 0, 2)
    }
    40% {
        opacity: 1;
        -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
        -moz-transform: matrix(1, 0, 0, 1, 0, -1);
             transform: matrix(1, 0, 0, 1, 0, -1)
    }
    100% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        -moz-transform: matrix(1, 0, 0, 1, 0, 0);
             transform: matrix(1, 0, 0, 1, 0, 0)
    }
}

@-o-keyframes medium-editor-pop-upwards {
    0% {
        opacity: 0;
        -webkit-transform: matrix(.97, 0, 0, 1, 0, 12);
        -o-transform: matrix(.97, 0, 0, 1, 0, 12);
           transform: matrix(.97, 0, 0, 1, 0, 12)
    }
    20% {
        opacity: .7;
        -webkit-transform: matrix(.99, 0, 0, 1, 0, 2);
        -o-transform: matrix(.99, 0, 0, 1, 0, 2);
           transform: matrix(.99, 0, 0, 1, 0, 2)
    }
    40% {
        opacity: 1;
        -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
        -o-transform: matrix(1, 0, 0, 1, 0, -1);
           transform: matrix(1, 0, 0, 1, 0, -1)
    }
    100% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        -o-transform: matrix(1, 0, 0, 1, 0, 0);
           transform: matrix(1, 0, 0, 1, 0, 0)
    }
}

@keyframes medium-editor-pop-upwards {
    0% {
        opacity: 0;
        -webkit-transform: matrix(.97, 0, 0, 1, 0, 12);
        -moz-transform: matrix(.97, 0, 0, 1, 0, 12);
          -o-transform: matrix(.97, 0, 0, 1, 0, 12);
             transform: matrix(.97, 0, 0, 1, 0, 12)
    }
    20% {
        opacity: .7;
        -webkit-transform: matrix(.99, 0, 0, 1, 0, 2);
        -moz-transform: matrix(.99, 0, 0, 1, 0, 2);
          -o-transform: matrix(.99, 0, 0, 1, 0, 2);
             transform: matrix(.99, 0, 0, 1, 0, 2)
    }
    40% {
        opacity: 1;
        -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
        -moz-transform: matrix(1, 0, 0, 1, 0, -1);
          -o-transform: matrix(1, 0, 0, 1, 0, -1);
             transform: matrix(1, 0, 0, 1, 0, -1)
    }
    100% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        -moz-transform: matrix(1, 0, 0, 1, 0, 0);
          -o-transform: matrix(1, 0, 0, 1, 0, 0);
             transform: matrix(1, 0, 0, 1, 0, 0)
    }
}

.medium-editor-anchor-preview {
    left: 0;
    line-height: 1.4;
    max-width: 280px;
    position: absolute;
    text-align: center;
    top: 0;
    word-break: break-all;
    word-wrap: break-word;
    visibility: hidden
}

.medium-editor-anchor-preview a {
    color: #fff;
    display: inline-block;
    margin: 5px 5px 10px
}

.medium-editor-anchor-preview-active {
    visibility: visible;
}

.medium-editor-dragover {
    background: #ddd;
}

.medium-editor-image-loading {
    height: 40px;
    width: 40px;

    background-color: #333;
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;

    -webkit-animation: medium-editor-image-loading 1s infinite ease-in-out;

       -moz-animation: medium-editor-image-loading 1s infinite ease-in-out;

         -o-animation: medium-editor-image-loading 1s infinite ease-in-out;

            animation: medium-editor-image-loading 1s infinite ease-in-out;

    display: inline-block;
}

.medium-editor-placeholder {
    position: relative;
}

.medium-editor-placeholder:after {
    content: attr(data-placeholder)!important;
    font-style: italic;
    left: 0;
    position: absolute;
    top: 0;
    white-space: pre;
    padding: inherit;
    margin: inherit;
}

.medium-toolbar-arrow-over:before, .medium-toolbar-arrow-under:after {
    border-style: solid;
    content: '';
    display: block;
    height: 0;
    left: 50%;
    margin-left: -8px;
    position: absolute;
    width: 0;
}

.medium-toolbar-arrow-under:after {
    border-width: 8px;
    bottom: -16px;
    border-color: black transparent transparent transparent;
}

.medium-toolbar-arrow-over:before {
    border-width: 8px;
    border-color: transparent transparent black transparent;
    top: -16px;
}
.medium-editor-toolbar {
    position: absolute;
    left: 0;
    top: 0;

    height: 160px;
    width: 260px;

    display: -webkit-box;

    display: -webkit-flex;

    display: -moz-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;

    pointer-events: visible;
    visibility: hidden;
}

.medium-toolbar-arrow-over.medium-editor-toolbar {
    margin-top: 120px;

    -webkit-box-align: start;

    -webkit-align-items: flex-start;

       -moz-box-align: start;

        -ms-flex-align: start;

                -ms-grid-row-align: flex-start;

            align-items: flex-start;
}

.medium-editor-toolbar ul {
    margin: 0;

    padding: 0;
    min-width: 100%;
    height: 100%;

    background-color: #f5f5f5;
    -webkit-box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.5);

    -webkit-box-flex: 0;

    -webkit-flex-grow: 0;

       -moz-box-flex: 0;

        -ms-flex-positive: 0;

            flex-grow: 0;

    display: -webkit-box;

    display: -webkit-flex;

    display: -moz-box;

    display: -ms-flexbox;

    display: flex;
    text-align: center;
    white-space: nowrap;


    -webkit-transition: all 0.2s cubic-bezier(0, 1, 1, 1) 0s;


    -moz-transition: all 0.2s cubic-bezier(0, 1, 1, 1) 0s;


    -o-transition: all 0.2s cubic-bezier(0, 1, 1, 1) 0s;


    transition: all 0.2s cubic-bezier(0, 1, 1, 1) 0s;
}

.medium-editor-toolbar .medium-editor-default-actions-displayed {
    min-width: 80px;
    height: 40px;

    -webkit-transition: all 0.2s cubic-bezier(0, 0, 1, 0) 0.4s;

    -moz-transition: all 0.2s cubic-bezier(0, 0, 1, 0) 0.4s;

    -o-transition: all 0.2s cubic-bezier(0, 0, 1, 0) 0.4s;

    transition: all 0.2s cubic-bezier(0, 0, 1, 0) 0.4s;
}

.medium-toolbar-arrow-under.medium-editor-toolbar ul {
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.medium-editor-toolbar ul li {
    margin: 0;

    padding: 0;

    list-style: none;
    opacity: 0;

    display: -webkit-inline-box;

    display: -webkit-inline-flex;

    display: -moz-inline-box;

    display: -ms-inline-flexbox;

    display: inline-flex;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.medium-editor-toolbar .medium-editor-default-actions-displayed li {
    opacity: 1;

    -webkit-transition: all 0.2s linear 0.4s;

    -moz-transition: all 0.2s linear 0.4s;

    -o-transition: all 0.2s linear 0.4s;

    transition: all 0.2s linear 0.4s;
}

.medium-editor-toolbar li button {
    cursor: pointer;

    font-size: 14px;
    line-height: 40px;

    padding: 0;
    width: 40px;
    height: 40px;

    background-color: transparent;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    border: none;
}

.medium-editor-toolbar li button:focus {
    outline: 0;
}

.medium-editor-toolbar li .medium-editor-action-underline {
    text-decoration: underline;
}

.medium-editor-toolbar li .medium-editor-action-pre {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    font-weight: 100;

    padding: 15px 0;
}

.medium-editor-toolbar-active {
    visibility: visible;
}

.medium-editor-sticky-toolbar {
    position: fixed;
    top: 1px;
}

.medium-editor-relative-toolbar {
    position: relative;
}

.medium-editor-toolbar-active.medium-editor-stalker-toolbar {
    -webkit-animation: medium-editor-pop-upwards 160ms forwards linear;
       -moz-animation: medium-editor-pop-upwards 160ms forwards linear;
         -o-animation: medium-editor-pop-upwards 160ms forwards linear;
            animation: medium-editor-pop-upwards 160ms forwards linear;
}

.medium-editor-action-bold {
    font-weight: bolder
}

.medium-editor-action-italic {
    font-style: italic
}

.medium-editor-toolbar-form {
    position:absolute;
    margin: auto;
    bottom: 0px;
    left: 0;
    right: 0;

    width: 100%;
    height: 40px;

    opacity: 0;
    background-color: #f5f5f5;
    -webkit-box-shadow: 0px -4px 15px rgba(0, 0, 0, 0);
       -moz-box-shadow: 0px -4px 15px rgba(0, 0, 0, 0);
            box-shadow: 0px -4px 15px rgba(0, 0, 0, 0);

    visibility: hidden;
    overflow: hidden;
    -webkit-transition: visibility 0s linear 0.4s,
        opacity 0.2s linear 0.2s,
        height 0.2s linear 0s;
    -moz-transition: visibility 0s linear 0.4s,
        opacity 0.2s linear 0.2s,
        height 0.2s linear 0s;
    -o-transition: visibility 0s linear 0.4s,
        opacity 0.2s linear 0.2s,
        height 0.2s linear 0s;
    transition:
        visibility 0s linear 0.4s,
        opacity 0.2s linear 0.2s,
        height 0.2s linear 0s;
}

.medium-editor-action-createLink-displayed.medium-editor-toolbar-form {
    height: 100%;

    -webkit-box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.5);

       -moz-box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.5);

            box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.5);
    opacity: 1;

    -webkit-animation: medium-editor-show-form 0.4s forwards linear;

       -moz-animation: medium-editor-show-form 0.4s forwards linear;

         -o-animation: medium-editor-show-form 0.4s forwards linear;

            animation: medium-editor-show-form 0.4s forwards linear;

    visibility: visible;
    overflow: hidden;
    -webkit-transition: visibility 0s linear 0.2s,
        opacity 0.2s linear 0.2s,
        height 0.2s linear 0.4s;
    -moz-transition: visibility 0s linear 0.2s,
        opacity 0.2s linear 0.2s,
        height 0.2s linear 0.4s;
    -o-transition: visibility 0s linear 0.2s,
        opacity 0.2s linear 0.2s,
        height 0.2s linear 0.4s;
    transition:
        visibility 0s linear 0.2s,
        opacity 0.2s linear 0.2s,
        height 0.2s linear 0.4s;
}

.medium-toolbar-arrow-over .medium-editor-toolbar-form {
    bottom: auto;
    top: 0;
}

.medium-toolbar-arrow-under .medium-editor-toolbar-form {
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.medium-editor-toolbar-form a, .medium-editor-toolbar-form input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.medium-editor-toolbar-form .medium-editor-toolbar-form-row {
    line-height: 14px;
    margin-left: 5px;
    padding-bottom: 5px
}

.medium-editor-toolbar-form .medium-editor-toolbar-input, .medium-editor-toolbar-form label {
    border: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    padding: 6px;
    width: 100%;
    display: inline-block;
}

.medium-editor-toolbar-form .medium-editor-toolbar-input:focus, .medium-editor-toolbar-form label:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    outline: 0;
}

.medium-editor-toolbar-form a {
    display: inline-block;
    font-size: 24px;
    font-weight: bolder;
    margin: 0 10px;
    text-decoration: none;
}

.medium-editor-toolbar-actions:after {
    clear: both;
    content: "";
    display: table
}

[data-medium-editor-element] img {
    max-width: 100%
}

[data-medium-editor-element] sub {
    vertical-align: sub
}

[data-medium-editor-element] sup {
    vertical-align: super
}

.medium-editor-hidden {
    display: none;
}

.E .P_sortable-sections {
    position: relative;

    min-height: 40px;
}

.E .P_sortable-sections:after {
    content: "Sem můžete přidat další sekci...";

    font-size: 17px;

    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    color: #888;
    opacity: 0;
    visibility: hidden;

    display: -webkit-box;

    display: -webkit-flex;

    display: -moz-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    -webkit-transition: all 0.1s ease-in 0s;

    -moz-transition: all 0.1s ease-in 0s;

    -o-transition: all 0.1s ease-in 0s;

    transition: all 0.1s ease-in 0s;
}

.E .P_sortable-sections:empty:after {
    opacity: 1;
    visibility: visible;

    -webkit-transition: all 0.35s ease-out 0s;

    -moz-transition: all 0.35s ease-out 0s;

    -o-transition: all 0.35s ease-out 0s;

    transition: all 0.35s ease-out 0s;
}

.P_PageSection--placeholder {
    position: relative;

    min-height: 0px;
    height: 40px;
    width: 100%;

    color: #888;
    background-color: #fff;
    outline: 2px dashed currentColor;
    outline-offset: -4px;

    -webkit-transition-property: height, min-height;

    -moz-transition-property: height, min-height;

    -o-transition-property: height, min-height;

    transition-property: height, min-height;
    -webkit-transition-duration: 0.1s;
       -moz-transition-duration: 0.1s;
         -o-transition-duration: 0.1s;
            transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;

    will-change: height;
    overflow: hidden;
}

.P_PageSection--placeholder:after {
    content: "Umístit sekci zde...";

    font-size: 17px;

    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    display: -webkit-box;

    display: -webkit-flex;

    display: -moz-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.P_PageSection--placeholder__transitions {
    height: 40px;
    width: 100%;

    background-color: #fff;

    -webkit-transition-property: height;

    -moz-transition-property: height;

    -o-transition-property: height;

    transition-property: height;
    -webkit-transition-duration: 0.35s;
       -moz-transition-duration: 0.35s;
         -o-transition-duration: 0.35s;
            transition-duration: 0.35s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;

    will-change: height;
}


.E_GlobalPageSettings {
    z-index: 110;
    position: fixed;
    bottom: -webkit-calc(-100% + 20px);
    bottom: -moz-calc(-100% + 20px);
    bottom: calc(-100% + 20px);
    left: 0px;

    padding: 20px;
    width: 300px;
    height: 100%;

    background-color: #ddd;

    -webkit-transition: all 0.3s ease-in-out 0s;

    -moz-transition: all 0.3s ease-in-out 0s;

    -o-transition: all 0.3s ease-in-out 0s;

    transition: all 0.3s ease-in-out 0s;
}

.E_GlobalPageSettings:hover {
    bottom: 0%;
}

.E_NewPageSectionSelector {
    z-index: 110;
    position: fixed;
    top: -webkit-calc(-100% + 20px);
    top: -moz-calc(-100% + 20px);
    top: calc(-100% + 20px);
    left: 0px;

    padding: 20px;
    width: 300px;
    height: 100%;

    background-color: #ddd;

    -webkit-transition: all 0.3s ease-in-out 0s;

    -moz-transition: all 0.3s ease-in-out 0s;

    -o-transition: all 0.3s ease-in-out 0s;

    transition: all 0.3s ease-in-out 0s;
}

[class*='E_NewPageSection'] {
    will-change: transform, opacity, width, height;
}

.E_NewPageSectionSelector:hover {
    top: 0%;
}

.E_NewPageSectionSelector--page-section-types {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.E_NewPageSectionSelector--page-section-type {
    font-size: 23px;

    margin-bottom: 20px;

	width: -webkit-calc(50% - 10px);

	width: -moz-calc(50% - 10px);

	width: calc(50% - 10px);
    height: 105px;

    color: #fff;
    background-color: #404040;

    display: -webkit-box;

    display: -webkit-flex;

    display: -moz-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.E_NewPageSectionSelector--clone {
    z-index: 120;
}

.P_PageSection {
    position: relative;

    width: 100%;

    -webkit-transition-property: height;

    -moz-transition-property: height;

    -o-transition-property: height;

    transition-property: height;
    -webkit-transition-duration: 0.35s;
       -moz-transition-duration: 0.35s;
         -o-transition-duration: 0.35s;
            transition-duration: 0.35s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}

.P_PageSection--section {
    position: relative;
}

.P_PageSection__dragged, .P_PageSection__removed, .P_PageSection__placed {
    z-index: 100;

    overflow: hidden;
}

.P_PageSection__removed {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.P_PageSection__dragged {
    height: 40px;
    min-height: 40px;
}

.E [class*='P_PageSection'], .E [class*='P_PageSection']:after {
    will-change: transform, opacity, width, height, margin, margin-bottom;
}

.E .P_PageSection:after {
    content: attr(data-page-section-name);

    font-size: 19px;

    z-index: 100;
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    color: #fff;
    background-color: #404040;
    opacity: 0;
    visibility: hidden;

    display: -webkit-box;

    display: -webkit-flex;

    display: -moz-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    -webkit-transition-property: opacity, visibility;

    -moz-transition-property: opacity, visibility;

    -o-transition-property: opacity, visibility;

    transition-property: opacity, visibility;
    -webkit-transition-duration: 0.35s;
       -moz-transition-duration: 0.35s;
         -o-transition-duration: 0.35s;
            transition-duration: 0.35s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}

.E .P_PageSection__dragged:after {
    opacity: 1;
    visibility: visible;
}

.P_font-type-1 .P_PageSection--content {
    font-family: serif;
}

.P_font-type-2 .P_PageSection--content {
    font-family: sans-serif;
}

/*# sourceMappingURL=page.css.map */
