/*====================================================================*/
/*-------------------- BACKGROUND IMAGE SETTINGS ---------------------*/
/*====================================================================*/

.E_BackgroundImageSettings {
    width: 100%;

    display: flex;
}

.E_BackgroundImageSettings--background-settings {
    text-align: left;

    padding: 12px 0;
}

.E_BackgroundImageSettings--ImageBrowser {
}
