/*====================================================================*/
/*----------------------- ButtonElementSettings ----------------------*/
/*====================================================================*/

.E_ButtonElementSettings--type {
    margin-bottom: 16px;
}

.E_ButtonElementSettings--label {
    font-family: "Encode Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;

    margin-bottom: 6px;

    color: var(--color-text-1);

    display: block;
}

.E_ButtonElementSettings--input {
    position: relative;
    margin-bottom: 8px;
}

.E_ButtonElementSettings--input__select {
    margin-bottom: 16px;
}

.E_ButtonElementSettings--button .E_ButtonElementSettings--input__select:before,
.E_ButtonElementSettings--button .E_ButtonElementSettings--input__select:after,
.E_ButtonElementSettings--button .E_ButtonElementSettings--input__toggle:before,
.E_ButtonElementSettings--button .E_ButtonElementSettings--input__toggle:after {
    content: "";

    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;

    background-color: #ccc;
    opacity: 0;

    transition: opacity 0.1s linear;
}

.E_ButtonElementSettings--button .E_ButtonElementSettings--input__on:after,
.E_ButtonElementSettings--button .E_ButtonElementSettings--input__on:before,
.E_ButtonElementSettings--button .E_ButtonElementSettings--input__on + .E_ButtonElementSettings--input__select:after,
.E_ButtonElementSettings--button .E_ButtonElementSettings--input__on + .E_ButtonElementSettings--input__select:before {
    opacity: 1;

    transition: opacity 0.1s linear 0.3s;
}

.E_ButtonElementSettings--button .E_ButtonElementSettings--input__toggle:before {
    left: -5px;

    width: 5px;
    height: 1px;
}

.E_ButtonElementSettings--button .E_ButtonElementSettings--input__toggle:after {
    top: 50%;
    bottom: auto;
    left: -6px;

    width: 1px;
    height: 32px;
}

.E_ButtonElementSettings--button .E_ButtonElementSettings--input__select:before {
    left: -5px;

    width: 5px;
    height: 1px;
}

.E_ButtonElementSettings--button .E_ButtonElementSettings--input__select:after {
    bottom: calc(50% - 1px);
    top: auto;
    left: -6px;

    width: 1px;
    height: 32px;
}
