.P_PageElement__title {
    position: relative;

    display: inline-block;

    transition: var(--default-transition);
}

.P_PageElementTitle {
    margin: 0;

    min-height: 100%;
    max-height: 100%;
    min-width: 24px;
    padding: 0;

    display: inline-block;
}

.P_PageElementTitle {
/*    text-shadow: 0px 0px 0.3em rgba(0, 0, 0, 0.3);*/
/*    text-shadow: 0px 0px 0.4em rgba(0, 0, 0, 0.4);*/
}

.P_PageElementTitle a {
    text-decoration: none;

    background-repeat: repeat-y;

    transform: translateZ(0);
    will-change: color, text-shadow;
}

.P_Page__loaded .P_PageElementTitle a {
    background-image: linear-gradient(rgba(0,0,0,0) 1.2em, currentColor 1.2em, currentColor calc(1.2em + 0.04em), rgba(0,0,0,0) calc(1.2em + 0.04em));
}

.P_PageElement:not(.E_PageElement) .P_PageElementTitle a,
body.E_actions-active .P_PageElement.E_PageElement .P_PageElementTitle a {
    transition: var(--P_animations-20);
}

.P_PageElement:not(.E_PageElement) .P_PageElementTitle a:hover,
body.E_actions-active .P_PageElement.E_PageElement .P_PageElementTitle a:hover {
    opacity: 0.75;

    transition: var(--P_animations-20-hover);
}

.P_PageElement__title.P_PageElement__empty:not(.E_PageElement__active) > .P_PageElementTitle:nth-of-type(1n) {
    line-height: 0;
    font-size: 0;

    margin: 0;

    min-width: 0px;
    max-width: 0px;
    min-height: 0px;
    max-height: 0px;
    padding: 0;

    transition: var(--default-transition);
}

.P_PageElement__title.P_PageElement__empty:not(.E_PageElement__active):nth-of-type(1n) {
    font-size: 0;
    line-height: 0;

    transition: var(--default-transition);
}

.P_PageElement__title.P_PageElement__empty.E_PageElement__active > .P_PageElementTitle {
    transition: var(--default-transition);
}
