.E .P_sortable-sections {
    position: relative;

    min-height: 40px;
}

.E .P_sortable-sections:after {
    content: var(--P_PageSection--empty_text);

    font-family: "Encode Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 17px;

    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    color: #999;
    opacity: 0;
    visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.1s ease-in 0s;
}

.E .P_sortable-sections:empty:after {
    opacity: 1;
    visibility: visible;

    transition: all 0.35s ease-out 0s;
}

.P_PageSection--fake-placeholder,
.P_PageSection--placeholder {
    position: relative;

    width: 100%;

    color: #999;
    background-color: #f7f7f7;

    transform: translateZ(0px);

    will-change: height;
}

.P_PageSection--placeholder {
    height: var(--P_PageSection__dragged_height);
    min-height: 0px;

    transition-property: height, min-height;
    transition-duration: 0.1s;
    transition-timing-function: var(--P_PageSection_sorting-transition-easing);

    overflow: hidden;
}

.P_PageSection--fake-placeholder:after,
.P_PageSection--placeholder:after {
    content: var(--P_PageSection--placeholder_text);

    font-family: "Encode Sans Narrow", sans-serif;
    font-size: 17px;
    font-weight: 400;

    position: absolute;
    top: 0px;
    left: -1px;

    width: calc(100% + 2px);
    height: 100%;

    outline: 2px dashed rgba(64, 64, 64, 0.25);
    outline-offset: -6px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.P_PageSection--fake-placeholder:after {
    animation: P_PageSection--fake-placeholder-outline-text var(--P_PageSection_sorting-transition-duration) var(--P_PageSection_sorting-transition-easing) forwards;
}

@keyframes P_PageSection--fake-placeholder-outline-text {
    to {
        color: rgba(136, 136, 136, 0);
        outline: 2px dashed rgba(64, 64, 64, 0);
    }
}

.P_PageSection--fake-placeholder:before,
.P_PageSection--placeholder:before {
    content: "";

    position: absolute;
    top: 0px;
    left: -8px;

    width: calc(100% + 16px);
    height: 100%;

    box-shadow: inset 0 0 8px 0px rgba(0, 0, 0, 0.25);
}

.P_PageSection--placeholder__transitions {
    height: var(--P_PageSection__dragged_height);
    width: 100%;

    background-color: #fff;

    will-change: height;
    transition-property: height;
    transition-duration: var(--P_PageSection_sorting-transition-duration);
    transition-timing-function: var(--P_PageSection_sorting-transition-easing);
}

.P_PageSection--fake-placeholder:after,
.P_PageSection--fake-placeholder:before,
.P_PageSection--fake-placeholder {
    will-change: height, box-shadow;
}

.P_PageSection--fake-placeholder {
    position: absolute;
    top: 0px;
    left: 0px;

    transition-property: height;
    transition-duration: var(--P_PageSection_sorting-transition-duration);
    transition-timing-function: var(--P_PageSection_sorting-transition-easing);

    overflow: hidden;
}
