/*====================================================================*/
/*--------------------------- PageElementButton --------------------------*/
/*====================================================================*/

.P_PageElement__button {
    font-size: 0;
    line-height: 0;

    position: relative;
    margin: 0 8px;
    margin-bottom: 16px;

    display: inline-block;
}

.E.P_Page__loaded .P_PageElement__button[data-ractive-transition="intro"] {
    animation: P_PageElement__button-show 0.3s ease-in-out forwards;
}

.E.P_Page__loaded .P_PageElement__button[data-ractive-transition^="outro"] {
    animation: P_PageElement__button-hide 0.3s ease-in-out forwards;
}

@keyframes P_PageElement__button-show {
    from {
        margin: 0;
    }
    to {
        margin: 0 8px;
        margin-bottom: 16px;
    }
}

@keyframes P_PageElement__button-hide {
    from {
        margin: 0 8px;
        margin-bottom: 16px;
    }
    to {
        margin: 0;
    }
}

@keyframes P_PageElement__button-show__480 {
    from {
        margin: 0;
    }
    to {
        margin: 0 6px;
        margin-bottom: 12px;
    }
}

@keyframes P_PageElement__button-hide__480 {
    from {
        margin: 0 6px;
        margin-bottom: 12px;
    }
    to {
        margin: 0;
    }
}

@keyframes P_PageElement__button-show__360 {
    from {
        margin: 0;
    }
    to {
        margin-bottom: 8px;
    }
}

@keyframes P_PageElement__button-hide__360 {
    from {
        margin-bottom: 8px;
    }
    to {
        margin: 0;
    }
}

.P_PageElementButton {
    position: relative;
    margin: 0;

    height: 56px;
    max-width: 300px;

    border: 2px solid;

    display: inline-block;
    overflow: hidden;

    transition:
        color 0.1s linear 0s,
        background 0.1s linear 0s,
        border 0.1s linear 0s,
        border-radius 0.1s linear 0s,
        box-shadow 0.1s linear 0s,
        text-shadow 0.1s linear 0s;
}

.E_PageSection__stop-color-transitions .P_PageElementButton {
    transition:
        box-shadow 0.1s linear 0s,
        border-radius 0.1s linear 0s,
        text-shadow 0.1s linear 0s;
}

.P_PageElement:not(.E_PageElement) .P_PageElementButton:focus,
.P_PageElement:not(.E_PageElement) .P_PageElementButton:hover,
body.E_actions-active .P_PageElement .P_PageElementButton:focus,
body.E_actions-active .P_PageElement .P_PageElementButton:hover {
    transform: scale(1.07142);
}

.P_PageElement:not(.E_PageElement) .P_PageElementButton:active,
body.E_actions-active .P_PageElement.E_PageElement .P_PageElementButton:active {
    transform: scale(1.03571);
}

@media (max-width: 480px) {

    .P_PageElement__button {
        margin: 0 6px;
        margin-bottom: 12px;
    }

    .E.P_Page__loaded .P_PageElement__button[data-ractive-transition="intro"] {
        animation-name: P_PageElement__button-show__480;
    }

    .E.P_Page__loaded .P_PageElement__button[data-ractive-transition^="outro"] {
        animation-name: P_PageElement__button-hide__480;
    }

    .P_PageElementButton {
        transform: scale(0.92857);
    }

    .P_PageElement:not(.E_PageElement) .P_PageElementButton:focus,
    .P_PageElement:not(.E_PageElement) .P_PageElementButton:hover,
    body.E_actions-active .P_PageElement .P_PageElementButton:focus,
    body.E_actions-active .P_PageElement .P_PageElementButton:hover {
        transform: scale(1);
    }

    .P_PageElement:not(.E_PageElement) .P_PageElementButton:active,
    body.E_actions-active .P_PageElement.E_PageElement .P_PageElementButton:active {
        transform: scale(0.96429);
    }

}

@media (max-width: 360px) {

    .P_PageElement__button {
        margin: 0;
        margin-bottom: 8px;
    }

    .E.P_Page__loaded .P_PageElement__button[data-ractive-transition="intro"] {
        animation-name: P_PageElement__button-show__360;
    }

    .E.P_Page__loaded .P_PageElement__button[data-ractive-transition^="outro"] {
        animation-name: P_PageElement__button-hide__360;
    }

    .P_PageElementButton {
        transform: scale(0.85714);
    }

    .P_PageElement:not(.E_PageElement) .P_PageElementButton:focus,
    .P_PageElement:not(.E_PageElement) .P_PageElementButton:hover,
    body.E_actions-active .P_PageElement .P_PageElementButton:focus,
    body.E_actions-active .P_PageElement .P_PageElementButton:hover {
        transform: scale(0.92857);
    }

    .P_PageElement:not(.E_PageElement) .P_PageElementButton:active,
    body.E_actions-active .P_PageElement.E_PageElement .P_PageElementButton:active {
        transform: scale(0.89286);
    }
}

.P_PageElement:not(.E_PageElement) .P_PageElementButton,
body.E_actions-active .P_PageElement .P_PageElementButton {
    cursor: pointer;
}

.P_animations-10 .P_PageElement:not(.E_PageElement) .P_PageElementButton,
body.E_actions-active .P_animations-10 .P_PageElement .P_PageElementButton {
    transition: var(--P_animations-10);
}

.P_animations-10 .P_PageElement:not(.E_PageElement) .P_PageElementButton:focus,
.P_animations-10 .P_PageElement:not(.E_PageElement) .P_PageElementButton:hover,
body.E_actions-active .P_animations-10 .P_PageElement .P_PageElementButton:focus,
body.E_actions-active .P_animations-10 .P_PageElement .P_PageElementButton:hover {
    transition: var(--P_animations-10-hover);
}

.P_animations-10 .P_PageElement:not(.E_PageElement) .P_PageElementButton:active,
body.E_actions-active .P_animations-10 .P_PageElement .P_PageElementButton:active {
    transition: var(--P_animations-10-active);
}

.P_animations-20 .P_PageElement:not(.E_PageElement) .P_PageElementButton,
body.E_actions-active .P_animations-20 .P_PageElement .P_PageElementButton {
    transition: var(--P_animations-20);
}

.P_animations-20 .P_PageElement:not(.E_PageElement) .P_PageElementButton:focus,
.P_animations-20 .P_PageElement:not(.E_PageElement) .P_PageElementButton:hover,
body.E_actions-active .P_animations-20 .P_PageElement .P_PageElementButton:focus,
body.E_actions-active .P_animations-20 .P_PageElement .P_PageElementButton:hover {
    transition: var(--P_animations-20-hover);
}

.P_animations-20 .P_PageElement:not(.E_PageElement) .P_PageElementButton:active,
body.E_actions-active .P_animations-20 .P_PageElement .P_PageElementButton:active {
    transition: var(--P_animations-20-active);
}

.P_animations-30 .P_PageElement:not(.E_PageElement) .P_PageElementButton,
body.E_actions-active .P_animations-30 .P_PageElement .P_PageElementButton {
    transition: var(--P_animations-30);
}

.P_animations-30 .P_PageElement:not(.E_PageElement) .P_PageElementButton:focus,
.P_animations-30 .P_PageElement:not(.E_PageElement) .P_PageElementButton:hover,
body.E_actions-active .P_animations-30 .P_PageElement .P_PageElementButton:focus,
body.E_actions-active .P_animations-30 .P_PageElement .P_PageElementButton:hover {
    transition: var(--P_animations-30-hover);
}

.P_animations-30 .P_PageElement:not(.E_PageElement) .P_PageElementButton:active,
body.E_actions-active .P_animations-30 .P_PageElement .P_PageElementButton:active {
    transition: var(--P_animations-30-active);
}

.P_animations-40 .P_PageElement:not(.E_PageElement) .P_PageElementButton,
body.E_actions-active .P_animations-40 .P_PageElement .P_PageElementButton {
    transition: var(--P_animations-40);
}

.P_animations-40 .P_PageElement:not(.E_PageElement) .P_PageElementButton:focus,
.P_animations-40 .P_PageElement:not(.E_PageElement) .P_PageElementButton:hover,
body.E_actions-active .P_animations-40 .P_PageElement .P_PageElementButton:focus,
body.E_actions-active .P_animations-40 .P_PageElement .P_PageElementButton:hover {
    transition: var(--P_animations-40-hover);
}

.P_animations-40 .P_PageElement:not(.E_PageElement) .P_PageElementButton:active,
body.E_actions-active .P_animations-40 .P_PageElement .P_PageElementButton:active {
    transition: var(--P_animations-40-active);
}

.P_roundness-0 .P_PageElementButton {
	border-radius: 0;
}

.P_roundness-10 .P_PageElementButton {
	border-radius: 4px;
}

.P_roundness-20 .P_PageElementButton {
	border-radius: 8px;
}

.P_roundness-30 .P_PageElementButton,
.P_roundness-40 .P_PageElementButton {
	border-radius: 28px;
}

.P_PageSection__shadow-10 .P_PageElementButton {
    box-shadow: var(--P_PageSection--shadow-10__box);
}

.P_PageSection__shadow-20 .P_PageElementButton {
    box-shadow: var(--P_PageSection--shadow-20__box);
}

.P_PageSection__shadow-30 .P_PageElementButton {
    box-shadow: var(--P_PageSection--shadow-30__box);
}

.P_PageSection__shadow-10 .P_PageElementButton.P_PageElementButton__stroke {
    text-shadow: var(--P_PageSection--shadow-10__text);
    box-shadow: inset var(--P_PageSection--shadow-10__box),
        var(--P_PageSection--shadow-10__box);
}

.P_PageSection__shadow-20 .P_PageElementButton.P_PageElementButton__stroke {
    text-shadow: var(--P_PageSection--shadow-20__text);
    box-shadow: inset var(--P_PageSection--shadow-20__box),
        var(--P_PageSection--shadow-20__box);
}

.P_PageSection__shadow-30 .P_PageElementButton.P_PageElementButton__stroke {
    text-shadow: var(--P_PageSection--shadow-30__text);
    box-shadow: inset var(--P_PageSection--shadow-30__box),
        var(--P_PageSection--shadow-30__box);
}

/*
@-moz-document url-prefix() {

    .E.P_Page__loaded .P_PageElementButton {
        width: 100%;

        animation: P_PageElementButton--width-auto 0.001s linear 0s forwards;
    }
}
*/

@keyframes P_PageElementButton--width-auto {
    from { width: 100%; }
    to { width: auto; }
}

.P_PageElementButton--content-wrapper {
    vertical-align: middle;
    white-space: nowrap;

    height: 52px;
    min-height: 52px;
    max-height: 52px;
    max-width: 296px;

    display: inline-table;
    table-layout: fixed;

    overflow: hidden;

    transition: padding 0.3s ease-in-out 0s,
        width 0.3s ease-in-out 0s;
}

.P_PageElementButton--text-wrapper {
    font-size: 19px;
    line-height: 52px;
    text-align: center;

    padding: 0;
    max-height: 52px;

    display: table-cell;
}

.P_PageElementButton--text {
    line-height: 22px;
    font-weight: bold;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    vertical-align: middle;
    text-align: center;
    text-wrap: balance;

    top: 1px;
    position: relative;

    padding: 4px 20px;
    min-width: 96px;
    max-height: 52px;
    height: 52px;

    display: table-cell;

    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;

    transition: padding 0.3s ease-in-out 0s,
        color 0.1s linear 0s,
        text-shadow 0.1s linear 0s;
}

.E_PageSection__stop-color-transitions .P_PageElementButton--text {
    transition: padding 0.3s ease-in-out 0s;
}

.P_PageElementButton__long-text .P_PageElementButton--text-wrapper {
    font-size: 17px;
}

.P_PageElementButton__long-text .P_PageElementButton--text {
    top: 0px;
}

.P_PageElementButton--icon {
    line-height: 0;
    vertical-align: middle;

    position: relative;

    width: 56px;
    height: 32px;
    max-height: 52px;

    -webkit-background-size: 100%;
    background-size: 100%;

    display: table-cell;
    overflow: hidden;

    transition: width 0.3s ease-in-out;
}

.P_PageElementButton__has-icon .P_PageElementButton--text {
    padding-left: 0;
}

.P_PageElementButton--icon svg {
    margin: auto;
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0;

    width: 32px;
    height: 32px;

    fill: currentColor;

    display: inline-block;
    transition:
        color 0.1s linear 0s,
        fill 0.1s linear 0s,
        left 0.3s ease-in-out;
}

.E_PageSection__stop-color-transitions .P_PageElementButton--icon svg {
    transition: none;
}

.E.P_Page__loaded .P_PageElementButton--icon[data-ractive-transition="intro"] {
    animation: P_PageElementButton--icon-width-0-56 0.3s ease-in-out forwards;
}

.E.P_Page__loaded .P_PageElementButton--icon[data-ractive-transition^="outro"] {
    animation: P_PageElementButton--icon-width-56-0 0.3s ease-in-out forwards;
}

@keyframes P_PageElementButton--icon-width-0-56 {
    from { width: 0; }
    to { width: 56px; }
}

@keyframes P_PageElementButton--icon-width-56-0 {
    from { width: 56px; }
    to { width: 0px; }
}

@media (max-width: 360px) {

    .P_PageElement__button {
        width: 288px;
    }

    .P_PageElementButton {
        max-width: auto;
        width: 100%;
    }

    .P_PageElementButton__has-icon .P_PageElementButton--content-wrapper,
    .P_PageElementButton__has-icon .P_PageElementButton--text-wrapper {
        width: 100%;
    }

    .P_PageElementButton__has-icon .P_PageElementButton--content-wrapper {
        padding-left: 56px;
        padding-right: 20px;
    }

    .P_PageElementButton__has-icon .P_PageElementButton--text {
        padding-right: 0;
        width: 300px;
        max-width: 100%;
    }

    .P_PageElementButton--icon {
        position:absolute;
        left: 0px;
        top: 0;

        height: 100%;
    }

}


/*--------------------------------------------------------------------*/
/*--------------------------- PAGESECTION ----------------------------*/
/*--------------------------------------------------------------------*/

.P_PageSection--buttons {
    text-align: center;
    line-height: 0;
    font-size: 0;

    position: relative;
    margin: 0px auto;
    padding: 0 8px;

    display: table;
}

@media (max-width: 360px) {

    .P_PageSection--buttons {
        margin-left: -20px;

        padding: 0;
        width: calc(100% + 36px);
    }

    .P_PageSection--buttons .P_PageElement__button {
        margin-right: auto;
        margin-left: auto;
    }
}

.P_PageSection--buttons-wrapper {
    line-height: 0;
    font-size: 0;

    margin: 0px auto;
    margin-top: 16px;
    position: relative;
}

.P_PageSection--buttons-wrapper > * {
    vertical-align: top;
}

.P_PageSection--buttons [id*="__ph"] {
    margin: 0 8px;
    margin-bottom: 16px;

    display: inline-block !important;
}


@media (max-width: 480px) {

    .P_PageSection--buttons-wrapper {
        margin-top: 12px;
    }

    .P_PageSection--buttons [id*="__ph"]  {
        margin: 0 6px;
        margin-bottom: 12px;
    }

}

@media (max-width: 360px) {

    .P_PageSection--buttons-wrapper {
        margin-top: 8px;
    }

    .P_PageSection--buttons [id*="__ph"] {
        margin: 0;
        margin-bottom: 8px;
    }
}

/*---------------------------- ADD-BUTTON ----------------------------*/

.E_PageElementButtons--add-button  {
    z-index: 30;
    position: absolute;
    top: 24px;
    right: -40px;
}

.P_PageSection--buttons__empty .E_PageElementButtons--add-button  {
    top: -20px;
    right: -12px;
}

.P_PageSection--buttons__empty .P_PageSection--buttons-wrapper  {
    margin-top: 0;
}

.E_PageElementButtons--add-button__bottom {
    margin: auto;
    top: 100%;
    bottom: -32px;
    right: 0;
    left: 0;
}

@media (max-width: 480px) {

    .E_PageElementButtons--add-button:not(.E_PageElementButtons--add-button__bottom) {
        top: 20px;
    }
}

@media (max-width: 360px) {

    .E_PageElementButtons--add-button:not(.E_PageElementButtons--add-button__bottom) {
        top: 16px;
    }

    .P_PageSection--buttons__empty .E_PageElementButtons--add-button  {
        margin: auto;
        top: 100%;
        bottom: -20px;
        right: 0;
        left: 0px;
    }
}
