/*====================================================================*/
/*------------------------ PAGESECTIONHEADER -------------------------*/
/*====================================================================*/

.P_PageSectionHeader.P_PageSection__full-size .P_PageSection--center {
    min-height: 480px;

    vertical-align: middle;
}

.P_PageSectionHeader .P_PageSection--content-wrapper {
    text-align: center;

    position: relative;
}

/*font-size krát line-height*/
.P_PageSectionHeader .P_PageSectionHeader--title .P_PageElement:not(.P_PageElement__empty) .P_PageElementTitle {
    min-height: calc((34px + (73 - 34) * (100vw - 320px) / (1440 - 320)) * 1.36);
}

.P_PageSectionHeader .P_PageSectionHeader--subtitle .P_PageElement:not(.P_PageElement__empty) .P_PageElementTitle {
    min-height: calc((19px + (23 - 19) * (100vw - 320px) / (1440 - 320)) * 1.96);
}

.P_PageSectionHeader--title.has-empty-PageElement:not(.has-active-PageElement) ~ .P_PageSectionHeader--subtitle .P_PageElement:not(.P_PageElement__empty) .P_PageElementTitle {
    min-height: calc((23px + (31 - 23) * (100vw - 320px) / (1440 - 320)) * 1.96);
}

@media (min-width: 1440px) {

    .P_PageSectionHeader .P_PageSectionHeader--title .P_PageElement:not(.P_PageElement__empty) .P_PageElementTitle {
        min-height: calc(73px * 1.36);
    }

    .P_PageSectionHeader .P_PageSectionHeader--subtitle .P_PageElement:not(.P_PageElement__empty) .P_PageElementTitle {
        min-height: calc(23px * 1.96);
    }

    .P_PageSectionHeader--title.has-empty-PageElement:not(.has-active-PageElement) ~ .P_PageSectionHeader--subtitle .P_PageElement:not(.P_PageElement__empty) .P_PageElementTitle {
        min-height: calc(31px * 1.96);
    }
}

.P_PageSectionHeader--title,
.P_PageSectionHeader--subtitle,
.P_PageSectionHeader--title .P_PageElement,
.P_PageSectionHeader--subtitle .P_PageElement,
.P_PageSectionHeader .P_PageSection--buttons {
    transition: all 0.3s ease-in-out;
    transition-property: margin, font-size, line-height, width, height, padding;
}

/*title s tlačítky nebo titlem pod*/
.P_PageSectionHeader--title {
    padding-top: calc(144px - 10vh);

    margin-top: calc(14.48vmax - 17px);
    margin-bottom: calc(14.48vmax - 17px);
}

@media (min-width: 1440px) {

    .P_PageSectionHeader--title {
        margin-top: 14.48%;
        margin-bottom: 14.48%;
    }
}

.P_PageSectionHeader .P_PageSectionHeader--title .P_PageElement,
.P_PageSectionHeader .P_PageSectionHeader--title .P_font-title {
    font-size: 73px;
    font-size: calc(34px + (73 - 34) * (100vw - 320px) / (1440 - 320));
    line-height: 1.36;
    font-weight: normal;
}

.P_PageSectionHeader .P_PageSectionHeader--title .P_PageElement .scale-4,
.P_PageSectionHeader .P_PageSectionHeader--title .scale-4.P_font-title,
.P_PageSectionHeader .P_PageSectionHeader--title .P_PageElement .scale-3,
.P_PageSectionHeader .P_PageSectionHeader--title .scale-3.P_font-title,
.P_PageSectionHeader .P_PageSectionHeader--title .P_PageElement .scale-2,
.P_PageSectionHeader .P_PageSectionHeader--title .scale-2.P_font-title {
    font-size: 65px;
    font-size: calc(34px + (65 - 34) * (100vw - 320px) / (1440 - 320));
    font-weight: normal;
}

@media (min-width: 1440px) {

    .P_PageSectionHeader .P_PageSectionHeader--title .P_PageElement,
    .P_PageSectionHeader .P_PageSectionHeader--title .P_font-title {
        font-size: 73px;
    }

    .P_PageSectionHeader .P_PageSectionHeader--title .P_PageElement .scale-4,
    .P_PageSectionHeader .P_PageSectionHeader--title .scale-4.P_font-title,
    .P_PageSectionHeader .P_PageSectionHeader--title .P_PageElement .scale-3,
    .P_PageSectionHeader .P_PageSectionHeader--title .scale-3.P_font-title,
    .P_PageSectionHeader .P_PageSectionHeader--title .P_PageElement .scale-2,
    .P_PageSectionHeader .P_PageSectionHeader--title .scale-2.P_font-title {
        font-size: 65px;
    }
}

/*prázdný title*/
.P_PageSectionHeader--title.has-empty-PageElement:not(.has-active-PageElement) {
    font-size: 0;
    line-height: 0;

    margin-bottom: calc(-14.48vmax + 17px);
}

@media (min-width: 1440px) {

    .P_PageSectionHeader--title.has-empty-PageElement:not(.has-active-PageElement) {
        margin-bottom: -14.48%;
    }
}

.P_PageSectionHeader--title.has-empty-PageElement:not(.has-active-PageElement) .P_PageElement__title {
    top: -64px;
}

.P_PageSectionHeader--title .P_PageElement__title {
    margin-top: -0.75em;
}

.P_PageSectionHeader--title .P_PageElement__title.lines-2 {
    margin-top: -1.5em;
}

.P_PageSectionHeader--title .P_PageElement__title.lines-3 {
    margin-top: -2em;
}

.P_PageSectionHeader--title .P_PageElement__title.lines-7,
.P_PageSectionHeader--title .P_PageElement__title.lines-6,
.P_PageSectionHeader--title .P_PageElement__title.lines-5,
.P_PageSectionHeader--title .P_PageElement__title.lines-4 {
    margin-top: -2.25em;
}

/*subtitle s titlem nad a tlačítky pod */
.P_PageSectionHeader--subtitle {
    margin-top: calc(-14.48vmax + 17px + 32px);
    margin-bottom: calc(14.48vmax - 17px);

    padding: 0px calc(0px + (120 - 0) * (100vw - 320px) / (1440 - 320));
}

@media (min-width: 1440px) {

    .P_PageSectionHeader--subtitle {
        margin-top: calc(-14.48% + 32px);
        margin-bottom: 14.48%;

        padding: 0px 120px;
    }
}

.P_PageSectionHeader--subtitle.has-empty-PageElement:not(.has-active-PageElement) {
    font-size: 0;
    line-height: 0;
}

/*subtitle první*/
.P_PageSectionHeader--title.has-empty-PageElement:not(.has-active-PageElement) ~ .P_PageSectionHeader--subtitle {
    margin-top: calc(14.48vmax - 17px);
}

@media (min-width: 1440px) {

    .P_PageSectionHeader--title.has-empty-PageElement:not(.has-active-PageElement) ~ .P_PageSectionHeader--subtitle {
        margin-top: 14.48%;
    }
}

.P_PageSectionHeader--title.has-empty-PageElement:not(.has-active-PageElement) ~ .P_PageSectionHeader--subtitle .P_PageElement__title {
    margin-top: -0.75em;
}

.P_PageSectionHeader .P_PageSectionHeader--subtitle .P_PageElement,
.P_PageSectionHeader .P_PageSectionHeader--subtitle .P_font-title {
    font-size: 23px;
    font-size: calc(19px + (23 - 19) * (100vw - 320px) / (1440 - 320));
    line-height: 1.96;
    font-weight: normal;
}

.P_PageSectionHeader--title.has-empty-PageElement:not(.has-active-PageElement) ~ .P_PageSectionHeader--subtitle .P_PageElement__title,
.P_PageSectionHeader--title.has-empty-PageElement:not(.has-active-PageElement) ~ .P_PageSectionHeader--subtitle .P_PageElement__title .P_font-title {
    font-size: 31px;
    font-size: calc(23px + (31 - 23) * (100vw - 320px) / (1440 - 320));
}

@media (min-width: 1440px) {

    .P_PageSectionHeader .P_PageSectionHeader--subtitle .P_PageElement,
    .P_PageSectionHeader .P_PageSectionHeader--subtitle .P_font-title {
        font-size: 23px;
    }

    .P_PageSectionHeader--title.has-empty-PageElement:not(.has-active-PageElement) ~ .P_PageSectionHeader--subtitle .P_PageElement__title,
    .P_PageSectionHeader--title.has-empty-PageElement:not(.has-active-PageElement) ~ .P_PageSectionHeader--subtitle .P_PageElement__title .P_font-title {
        font-size: 31px;
    }
}

/*tlačítka jsou první*/
.P_PageSectionHeader--title.has-empty-PageElement:not(.has-active-PageElement) ~ .P_PageSectionHeader--subtitle.has-empty-PageElement:not(.has-active-PageElement) ~ .P_PageSection--buttons {
    margin-top: calc(23.53vmax - 17px - 14.48%);
}

@media (min-width: 1440px) {

    .P_PageSectionHeader--title.has-empty-PageElement:not(.has-active-PageElement) ~ .P_PageSectionHeader--subtitle.has-empty-PageElement:not(.has-active-PageElement) ~ .P_PageSection--buttons {
        margin-top: calc(23.53% - 14.48%);
    }
}
