.P_PageElement {
    z-index: 1;
    position: relative;

    touch-action: manipulation;
}

.E_Page__sortable-active .P_PageElement,
.E_Page__sortable-active .P_PageElement * {
    pointer-events: none;
}

.E_PageElement--outline {
    z-index: 1;
    position: absolute;
    top: -12px;
    left: -12px;

    width: calc(100% + 24px);
    height: calc(100% + 24px);

    border: 1px solid transparent;

    touch-action: manipulation;

    transition:
        border var(--default-transition-duration) var(--default-transition-easing) 0s,
        box-shadow var(--default-transition-duration) var(--default-transition-easing) 0s,
        width 0s linear var(--default-transition-duration),
        height 0s linear var(--default-transition-duration),
        top 0s linear var(--default-transition-duration),
        left 0s linear var(--default-transition-duration);
}

.P_PageElement:not(.E_PageElement__empty) .E_PageElement--outline__active,
.P_PageElement.E_PageElement__empty.E_PageElement__active .E_PageElement--outline__active {
    border-color: var(--color-element-outline);

    pointer-events: none;

    transition: var(--default-transition-hover);
    transition-property: border, box-shadow;
}

.E_PageSection__change-outline .P_PageElement:not(.E_PageElement__empty) .E_PageElement--outline__active,
.E_PageSection__change-outline .P_PageElement.E_PageElement__empty.E_PageElement__active .E_PageElement--outline__active {
    border-color: var(--color-element-outline-2);
}

.E_PageElement--outline:after {
    content: "";

    position: absolute;
    top: -1px;
    left: -1px;

    width: calc(100% + 2px);
    height: calc(100% + 2px);

    box-shadow: 0px 0px 8px 0px transparent;

    pointer-events: none;

    transition: inherit;
}

.P_PageElement:not(.E_PageElement__empty) .E_PageElement--outline__active:after,
.P_PageElement.E_PageElement__empty.E_PageElement__active .E_PageElement--outline__active:after {
    box-shadow: 0px 0px 8px 0px var(--color-element-outline-glow);
}

.E_PageSection__change-outline .P_PageElement:not(.E_PageElement__empty) .E_PageElement--outline__active:after,
.E_PageSection__change-outline .P_PageElement.E_PageElement__empty.E_PageElement__active .E_PageElement--outline__active:after {
    box-shadow: 0px 0px 8px 0px var(--color-element-outline-2-glow);
}

.P_PageElement .P_PageElement .E_PageElement--outline {
    top: -6px;
    left: -6px;

    width: calc(100% + 12px);
    height: calc(100% + 12px);
}

.P_PageElement .P_PageElement .P_PageElement .E_PageElement--outline {
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
}


.P_PageElement .E_PageElement--outline__limited,
.P_PageElement .P_PageElement .E_PageElement--outline__limited,
.P_PageElement .P_PageElement .E_PageElement--outline__limited {
    top: 0px;
    left: 0px;

    width: calc(100% + 0px);
    height: calc(100% + 0px);
}

/*--------------------------------------------------------------------*/
/*------------------------------ EDIT UI -----------------------------*/
/*--------------------------------------------------------------------*/

.E_PageElementEditUI {
    line-height: 0;
    font-size: 0;

    position: absolute;
    top: -11px;
    right: -11px;

    padding-bottom: 6px;
    padding-left: 6px;

    display: flex;

    overflow: hidden;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.E_PageElementEditUI * {
	pointer-events: none;
}

.P_PageElement .P_PageElement .E_PageElementEditUI {
    top: -5px;
    right: -5px;
}

.P_PageElement .P_PageElement .P_PageElement .E_PageElementEditUI {
    top: 1px;
    right: 1px;
}

.P_PageElement .E_PageElement--outline__limited ~ .E_PageElementEditUI,
.P_PageElement .P_PageElement .E_PageElement--outline__limited ~ .E_PageElementEditUI,
.P_PageElement .P_PageElement .E_PageElement--outline__limited ~ .E_PageElementEditUI {
    top: 1px;
    right: 1px;
}

.E_PageElementEditUI {
    opacity: 0;

    transition:
        opacity var(--default-transition-duration) var(--default-transition-easing) 0s,
        top 0s linear var(--default-transition-duration),
        right 0s linear var(--default-transition-duration);
}

.P_PageElement:not(.E_PageElement__empty) .E_PageElement--outline__active ~ .E_PageElementEditUI,
.P_PageElement.E_PageElement__empty.E_PageElement__active .E_PageElement--outline__active ~ .E_PageElementEditUI {
    z-index: 2;

    opacity: 1;

    transition: var(--default-transition-hover);
    transition-property: opacity;
}

.P_PageElement:not(.E_PageElement__empty) .E_PageElement--outline__active ~ .E_PageElementEditUI *,
.P_PageElement.E_PageElement__empty.E_PageElement__active .E_PageElement--outline__active ~ .E_PageElementEditUI * {
    pointer-events: all;
}

.P_PageElement.E_PageElement__empty .E_PageElement--outline__active ~ .E_PageElementEditUI {
    display: none;
}

.E_PageElementEditUI > * {
    font-size: 12px;
    line-height: 1;
    word-break: break-all;

    width: 32px;
    height: 32px;

    color: #404040;
    background-color: #f5f5f5;
    border: none;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    cursor: default;
    touch-action: manipulation;
}

/*---------------------------- ACTIVATE ----------------------------*/

.E_PageElement--activate {
    margin: auto;
    z-index: 100;
    position: absolute;
    top: -20px;
    right: 0;
    left: 0;

    width: 40px;
    height: 40px;

    background-color: var(--color-button-bg);
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;

    transition:
        background-color var(--default-transition-duration) var(--default-transition-easing) 0s,
        box-shadow       var(--default-transition-duration) var(--default-transition-easing) 0s,
        opacity          var(--default-transition-duration) var(--default-transition-easing) 0s,
        visibility 0s linear var(--default-transition-duration);
}

.E_PageElement--activate svg {
    width: 20px;
    height: 20px;

    fill: var(--color-button-icon);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: var(--default-transition);
}

.E_PageElement__empty:not(.E_PageElement__active) .E_PageElement--activate {
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;

    transition:
        background-color var(--default-transition-duration) var(--default-transition-easing) 0s,
        box-shadow       var(--default-transition-duration) var(--default-transition-easing) 0.3s,
        opacity          var(--default-transition-duration) var(--default-transition-easing) 0.3s;
}

.P_PageElement .E_PageElement--activate:hover {
    background-color: var(--color-hover);

    transition:
        background-color var(--default-transition-duration-hover) var(--default-transition-easing-hover) 0s,
        box-shadow       var(--default-transition-duration-hover) var(--default-transition-easing-hover) 0s,
        opacity          var(--default-transition-duration-hover) var(--default-transition-easing-hover) 0s,
        visibility 0s linear var(--default-transition-duration-hover);
}

.E_PageElement--activate:hover svg {
    fill: var(--color-button-icon-active);

    transition: var(--default-transition-hover);
}
