.P_PageElement {
    z-index: 1;
    position: relative;

    touch-action: manipulation;
}

.P_PageElement__active {
    z-index: 15;
}

.P_PageElement:active,
.P_PageElement:focus,
.P_PageElement:hover {
    z-index: 20;
}

.E_PageElement__sorting {
    z-index: 25;
}

.E_Page__sortable-active .P_PageElement,
.E_Page__sortable-active .P_PageElement * {
    pointer-events: none;
}

.E_PageElement--outline {
    z-index: 1;
    position: absolute;
    top: -12px;
    left: -12px;

    width: calc(100% + 24px);
    height: calc(100% + 24px);

    border: 1px solid transparent;

    touch-action: manipulation;

    transition:
        border var(--default-transition-duration) var(--default-transition-easing) 0s,
        box-shadow var(--default-transition-duration) var(--default-transition-easing) 0s,
        width 0s linear var(--default-transition-duration),
        height 0s linear var(--default-transition-duration),
        top 0s linear var(--default-transition-duration),
        left 0s linear var(--default-transition-duration);
}

.P_PageElement:not(.E_PageElement__empty) .E_PageElement--outline__active,
.P_PageElement.E_PageElement__empty.E_PageElement__active .E_PageElement--outline__active {
    border-color: var(--color-element-outline);

    pointer-events: none;

    transition: var(--default-transition-hover);
    transition-property: border, box-shadow;
}

.E_PageSection__change-outline .P_PageElement:not(.E_PageElement__empty) .E_PageElement--outline__active,
.E_PageSection__change-outline .P_PageElement.E_PageElement__empty.E_PageElement__active .E_PageElement--outline__active {
    border-color: var(--color-element-outline-2);
}

.E_Sortable__active .P_PageElement:not(.E_PageElement__sorting):not(.E_PageElement__empty) .E_PageElement--outline__active,
.E_Sortable__active .P_PageElement:not(.E_PageElement__sorting).E_PageElement__empty.E_PageElement__active .E_PageElement--outline__active,
.E_Sortable__active .E_PageSection__change-outline .P_PageElement:not(.E_PageElement__sorting):not(.E_PageElement__empty) .E_PageElement--outline__active,
.E_Sortable__active .E_PageSection__change-outline .P_PageElement:not(.E_PageElement__sorting).E_PageElement__empty.E_PageElement__active .E_PageElement--outline__active {
    border-color: transparent;
}

.E_PageElement--outline:after {
    content: "";

    position: absolute;
    top: -1px;
    left: -1px;

    width: calc(100% + 2px);
    height: calc(100% + 2px);

    box-shadow: 0px 0px 8px 0px transparent;

    pointer-events: none;

    transition: inherit;
}

.P_PageElement:not(.E_PageElement__empty) .E_PageElement--outline__active:after,
.P_PageElement.E_PageElement__empty.E_PageElement__active .E_PageElement--outline__active:after {
    box-shadow: 0px 0px 8px 0px var(--color-element-outline-glow);
}

.E_PageSection__change-outline .P_PageElement:not(.E_PageElement__empty) .E_PageElement--outline__active:after,
.E_PageSection__change-outline .P_PageElement.E_PageElement__empty.E_PageElement__active .E_PageElement--outline__active:after {
    box-shadow: 0px 0px 8px 0px var(--color-element-outline-2-glow);
}

.E_Sortable__active .P_PageElement:not(.E_PageElement__sorting):not(.E_PageElement__empty) .E_PageElement--outline__active:after,
.E_Sortable__active .P_PageElement:not(.E_PageElement__sorting).E_PageElement__empty.E_PageElement__active .E_PageElement--outline__active:after,
.E_Sortable__active .E_PageSection__change-outline .P_PageElement:not(.E_PageElement__sorting):not(.E_PageElement__empty) .E_PageElement--outline__active:after,
.E_Sortable__active .E_PageSection__change-outline .P_PageElement:not(.E_PageElement__sorting).E_PageElement__empty.E_PageElement__active .E_PageElement--outline__active:after {
    box-shadow: 0px 0px 8px 0px transparent;
}

.P_PageElement .P_PageElement .E_PageElement--outline {
    top: -6px;
    left: -6px;

    width: calc(100% + 12px);
    height: calc(100% + 12px);
}

.P_PageElement .P_PageElement .P_PageElement .E_PageElement--outline {
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
}


.P_PageElement .E_PageElement--outline__limited,
.P_PageElement .P_PageElement .E_PageElement--outline__limited,
.P_PageElement .P_PageElement .E_PageElement--outline__limited {
    top: 0px;
    left: 0px;

    width: calc(100% + 0px);
    height: calc(100% + 0px);
}

/*--------------------------------------------------------------------*/
/*------------------------------ EDIT UI -----------------------------*/
/*--------------------------------------------------------------------*/

.E_PageElementEditUI {
    line-height: 0;
    font-size: 0;

    position: absolute;
    top: -11px;
    right: -11px;

    width: calc(100% + 22px);
    height: calc(100% + 22px);

    overflow: hidden;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.E_PageElementEditUI * {
	pointer-events: none;
}

.P_PageElement .P_PageElement .E_PageElementEditUI {
    top: -5px;
    right: -5px;

    width: calc(100% + 10px);
    height: calc(100% + 10px);
}

.P_PageElement .P_PageElement .P_PageElement .E_PageElementEditUI {
    top: 1px;
    right: 1px;

    width: calc(100% - 2px);
    height: calc(100% - 2px);
}

.P_PageElement .E_PageElement--outline__limited ~ .E_PageElementEditUI,
.P_PageElement .P_PageElement .E_PageElement--outline__limited ~ .E_PageElementEditUI,
.P_PageElement .P_PageElement .E_PageElement--outline__limited ~ .E_PageElementEditUI {
    top: 1px;
    right: 1px;

    width: calc(100% - 2px);
    height: calc(100% - 2px);
}

.E_PageElementEditUI {
    opacity: 0;

    transition:
        opacity var(--default-transition-duration) var(--default-transition-easing) 0s,
        top 0s linear var(--default-transition-duration),
        right 0s linear var(--default-transition-duration);
}

.P_PageElement:not(.E_PageElement__empty) .E_PageElement--outline__active ~ .E_PageElementEditUI:not(.E_PageElementEditUI__hidden),
.P_PageElement.E_PageElement__empty.E_PageElement__active .E_PageElement--outline__active ~ .E_PageElementEditUI:not(.E_PageElementEditUI__hidden) {
    z-index: 2;

    opacity: 1;

    transition: var(--default-transition-hover);
    transition-property: opacity;
}

.P_PageElement:not(.E_PageElement__empty) .E_PageElement--outline__active ~ .E_PageElementEditUI > :hover,
.P_PageElement.E_PageElement__empty.E_PageElement__active .E_PageElement--outline__active ~ .E_PageElementEditUI > :hover {
    z-index: 2;
}

.E_Sortable__active .P_PageElement:not(.E_PageElement__sorting):not(.E_PageElement__empty) .E_PageElement--outline__active ~ .E_PageElementEditUI,
.E_Sortable__active .P_PageElement:not(.E_PageElement__sorting).E_PageElement__empty.E_PageElement__active .E_PageElement--outline__active ~ .E_PageElementEditUI {
    opacity: 0;
}

.P_PageElement:not(.E_PageElement__sorting):not(.E_PageElement__empty) .E_PageElement--outline__active ~ .E_PageElementEditUI *,
.P_PageElement:not(.E_PageElement__sorting).E_PageElement__empty.E_PageElement__active .E_PageElement--outline__active ~ .E_PageElementEditUI * {
    pointer-events: all;
}

.P_PageElement.E_PageElement__empty .E_PageElement--outline__active ~ .E_PageElementEditUI {
    display: none;
}

.E_PageElementEditUI__left,
.E_PageElementEditUI__bottom-left,
.E_PageElementEditUI__top-left,
.E_PageElementEditUI__top-right,
.E_PageElementEditUI__bottom-right,
.E_PageElementEditUI__right {
    position: absolute;

    display: inline-flex;

    overflow: hidden;
}

.E_PageElementEditUI__top-left,
.E_PageElementEditUI__top-right,
.E_PageElementEditUI__left,
.E_PageElementEditUI__right {
    top: 0;

    padding-bottom: 6px;
}

.E_PageElementEditUI__bottom-left,
.E_PageElementEditUI__bottom-right {
    bottom: 0;

    padding-top: 6px;
}

.E_PageElementEditUI__top-left,
.E_PageElementEditUI__bottom-left,
.E_PageElementEditUI__left {
    left: 0;

    padding-right: 6px;
}

.E_PageElementEditUI__top-right,
.E_PageElementEditUI__bottom-right,
.E_PageElementEditUI__right {
    right: 0;

    padding-left: 6px;
}

.E_PageElementEditUI__left:after,
.E_PageElementEditUI__right:after,
.E_PageElementEditUI__bottom-left:after,
.E_PageElementEditUI__bottom-right:after,
.E_PageElementEditUI__top-left:after,
.E_PageElementEditUI__top-right:after {
    content: "";

    position: absolute;

    width: calc(100% - 6px);
    height: calc(100% - 6px);

    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);

    pointer-events: none;
}

.E_PageElementEditUI__left:after,
.E_PageElementEditUI__top-left:after,
.E_PageElementEditUI__top-right:after,
.E_PageElementEditUI__right:after {
    top: 0px;
}

.E_PageElementEditUI__bottom-left:after,
.E_PageElementEditUI__bottom-right:after {
    bottom: 0px;
}

.E_PageElementEditUI__bottom-right:after,
.E_PageElementEditUI__top-right:after,
.E_PageElementEditUI__right:after {
    right: 0px;
}

.E_PageElementEditUI__bottom-left:after,
.E_PageElementEditUI__top-left:after,
.E_PageElementEditUI__left:after {
    left: 0px;
}

.E_PageElement .E_PageElementEditUI--sort {
    cursor: grab;
}

/*---------------------------- ACTIVATE ----------------------------*/

.E_PageElement--activate {
    margin: auto;
    z-index: 100;
    position: absolute;
    top: -20px;
    right: 0;
    left: 0;

    width: 40px;
    height: 40px;

    background-color: var(--color-button-bg);
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;

    transition:
        background-color var(--default-transition-duration) var(--default-transition-easing) 0s,
        box-shadow       var(--default-transition-duration) var(--default-transition-easing) 0s,
        opacity          var(--default-transition-duration) var(--default-transition-easing) 0s,
        visibility 0s linear var(--default-transition-duration);
}

.E_PageElement--activate svg {
    width: 20px;
    height: 20px;

    fill: var(--color-button-icon);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: var(--default-transition);
}

.E_PageElement__empty:not(.E_PageElement__active) .E_PageElement--activate {
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;

    transition:
        background-color var(--default-transition-duration) var(--default-transition-easing) 0s,
        box-shadow       var(--default-transition-duration) var(--default-transition-easing) 0.3s,
        opacity          var(--default-transition-duration) var(--default-transition-easing) 0.3s;
}

.P_PageElement .E_PageElement--activate:hover {
    background-color: var(--color-hover);

    transition:
        background-color var(--default-transition-duration-hover) var(--default-transition-easing-hover) 0s,
        box-shadow       var(--default-transition-duration-hover) var(--default-transition-easing-hover) 0s,
        opacity          var(--default-transition-duration-hover) var(--default-transition-easing-hover) 0s,
        visibility 0s linear var(--default-transition-duration-hover);
}

.E_PageElement--activate:hover svg {
    fill: var(--color-button-icon-active);

    transition: var(--default-transition-hover);
}

/*---------------------------- UPLOADABLE ----------------------------*/

.E_PageElement--upload-overlay {
    z-index: 1000;
    position:absolute;
    top: -11px;
    right: -11px;

    width: calc(100% + 22px);
    height: calc(100% + 22px);

    background-color: rgba(252, 252, 252, 0.75);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;

    pointer-events: none;

    transition:
        opacity var(--default-transition-duration) var(--default-transition-easing) 0s,
        visibility 0s linear var(--default-transition-duration);
}

.E_PageElement.dz-drag-hover:not(.dz-not-file) > .E_PageElement--upload-overlay {
    opacity: 1;
    visibility: visible;

    transition:
        opacity var(--default-transition-duration-hover) var(--default-transition-easing-hover) 0s;
}

.P_PageElement .P_PageElement .E_PageElement--upload-overlay {
    top: -5px;
    right: -5px;

    width: calc(100% + 10px);
    height: calc(100% + 10px);
}

.P_PageElement .P_PageElement .P_PageElement .E_PageElement--upload-overlay {
    top: 1px;
    right: 1px;

    width: calc(100% - 2px);
    height: calc(100% - 2px);
}

.P_PageElement .E_PageElement--outline__limited ~ .E_PageElement--upload-overlay,
.P_PageElement .P_PageElement .E_PageElement--outline__limited ~ .E_PageElement--upload-overlay {
    top: 1px;
    right: 1px;

    width: calc(100% - 2px);
    height: calc(100% - 2px);
}

.E_PageElement--upload-overlay:after,
.E_PageElement--upload-overlay:before {
    content: "";

    position: absolute;

    pointer-events: none;
}

.E_PageElement--upload-overlay:after {
    content: "Nahrát soubor";

    font-family: "Encode Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;

    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
    padding: 0 10px;

    color: var(--color-text-1);

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.E_PageElement--upload-overlay:before {
    top: 4px;
    left: 4px;

    width: calc(100% - 8px);
    height: calc(100% - 8px);

    border: 2px dashed #888;
}
