/*====================================================================*/
/*----------------------- PageSectionFactsNumbers ----------------------*/
/*====================================================================*/

.P_PageSectionFactsNumbers--items {
    text-align: center;
    font-size: 0;
    line-height: 0;

    position: relative;
    margin: auto;
    margin-top: 48px;
    margin-bottom: -48px;

    display: table;

    transition: all 0.3s ease-in-out;
    transition-property: margin, font-size, line-height, width, height, padding;
}

@media (max-width: 1024px) {

    .P_PageSectionFactsNumbers--items {
        margin-top: 48px;
        margin-bottom: -40px;
    }
}

@media (max-width: 680px) {

    .P_PageSectionFactsNumbers--items {
        margin-top: 40px;
        margin-bottom: -32px;
    }
}

.P_PageSectionTitles.has-empty-titles:not(.has-active-titles) ~ .P_PageSectionFactsNumbers--items {
    margin-top: 0;
}

.P_PageSectionFactsNumbers--items-wrapper {
    vertical-align: top;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    display: table;
}

.P_PageSectionFactsNumbers--items .P_PageElement__fact {
    vertical-align: top;

    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 48px;

    width: calc(25% - 24px);
    min-width: 264px;
}

.P_PageSectionFactsNumbers--items .P_PageElement__fact .P_PageElementNumber {
    padding-top: 8px;
}

.P_PageSectionFactsNumbers--items .P_PageElement__fact[data-ractive-transition="intro"] {
    animation:
        E_PageSectionFactsNumbers--add-item__min-width 0.3s ease-in-out forwards,
        E_PageSectionFactsNumbers--add-item__margin 0.3s ease-in-out forwards,
        E_PageSectionFactsNumbers--add-item 0.3s ease-in-out forwards;
}

@keyframes E_PageSectionFactsNumbers--add-item__min-width {
    from {
        min-width: 0;
    }
    to {
        min-width: 264px;
    }
}

@keyframes E_PageSectionFactsNumbers--add-item__margin {
    from {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    to {
        margin-bottom: 48px;
        margin-left: 12px;
        margin-right: 12px;
    }
}

@keyframes E_PageSectionFactsNumbers--add-item__margin__1024 {
    from {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    to {
        margin-bottom: 40px;
        margin-left: 12px;
        margin-right: 12px;
    }
}

@keyframes E_PageSectionFactsNumbers--add-item__margin__680 {
    from {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    to {
        margin-bottom: 32px;
        margin-left: 12px;
        margin-right: 12px;
    }
}

@keyframes E_PageSectionFactsNumbers--add-item {
    from {
        width: 0;
    }
    to {
        width: calc(25% - 24px);
    }
}

@media (max-width: 1328px) {

    .P_PageSectionFactsNumbers--items .P_PageElement__fact {
        width: calc(33.333% - 24px);
    }


    .P_PageSectionFactsNumbers--items .P_PageElement__fact[data-ractive-transition="intro"] {
        animation:
            E_PageSectionFactsNumbers--add-item__min-width 0.3s ease-in-out forwards,
            E_PageSectionFactsNumbers--add-item__margin 0.3s ease-in-out forwards,
            E_PageSectionFactsNumbers--add-item__1328 0.3s ease-in-out forwards;
    }

}

@keyframes E_PageSectionFactsNumbers--add-item__1328 {
    from {
        width: 0;
    }
    to {
        width: calc(25% - 24px);
    }
}

@media (max-width: 1024px) {

    .P_PageSectionFactsNumbers--items .P_PageElement__fact {
        margin-bottom: 40px;

        width: calc(50% - 24px);
    }

    .P_PageSectionFactsNumbers--items .P_PageElement__fact[data-ractive-transition="intro"] {
        animation:
            E_PageSectionFactsNumbers--add-item__min-width 0.3s ease-in-out forwards,
            E_PageSectionFactsNumbers--add-item__margin 0.3s ease-in-out forwards,
            E_PageSectionFactsNumbers--add-item__1024 0.3s ease-in-out forwards;
    }

}

@keyframes E_PageSectionFactsNumbers--add-item__1024 {
    from {
        width: 0;
    }
    to {
        width: calc(50% - 24px);
    }
}

@media (max-width: 680px) {

    .P_PageSectionFactsNumbers--items .P_PageElement__fact {
        margin-bottom: 32px;

        width: calc(100% - 24px);
    }

    .P_PageSectionFactsNumbers--items .P_PageElement__fact[data-ractive-transition="intro"] {
        animation:
            E_PageSectionFactsNumbers--add-item__min-width 0.3s ease-in-out forwards,
            E_PageSectionFactsNumbers--add-item__margin__680 0.3s ease-in-out forwards,
            E_PageSectionFactsNumbers--add-item__680 0.3s ease-in-out forwards;
    }

}


@keyframes E_PageSectionFactsNumbers--add-item__680 {
    from {
        width: 0;
    }
    to {
        width: calc(100% - 48px);
    }
}
