/*====================================================================*/
/*----------------------- PageSectionFactsNumbers ----------------------*/
/*====================================================================*/

.P_PageSectionFactsNumbers--items [id^="__ph"] {
    vertical-align: top;
    margin-right: 44px;
    margin-left: 44px;
    margin-bottom: 48px;

    display: inline-block !important;
}

@media (max-width: 1328px) {

    .P_PageSectionFactsNumbers--items [id^="__ph"] {
        margin-left: 24px;
        margin-right: 24px;
    }
}


@media (max-width: 1152px) {

    .P_PageSectionFactsNumbers--items [id^="__ph"] {
        margin-left: 16px;
        margin-right: 16px;
    }
}


@media (max-width: 1088px) {

    .P_PageSectionFactsNumbers--items [id^="__ph"] {
        margin-left: 44px;
        margin-right: 44px;
    }
}


@media (max-width: 1024px) {

    .P_PageSectionFactsNumbers--items [id^="__ph"] {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media (max-width: 888px) {

    .P_PageSectionFactsNumbers--items [id^="__ph"] {
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media (max-width: 840px) {

    .P_PageSectionFactsNumbers--items [id^="__ph"] {
        margin-left: 44px;
        margin-right: 44px;
        margin-bottom: 40px;
    }
}

@media (max-width: 680px) {

    .P_PageSectionFactsNumbers--items [id^="__ph"] {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media (max-width: 576px) {

    .P_PageSectionFactsNumbers--items [id^="__ph"] {
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 32px;
    }
}

@media (max-width: 544px) {

    .P_PageSectionFactsNumbers--items [id^="__ph"] {
        margin-left: 8px;
        margin-right: 8px;
    }
}

@media (max-width: 512px) {

    .P_PageSectionFactsNumbers--items [id^="__ph"] {
        margin-left: 20px;
        margin-right: 20px;
    }

}



/*---------------------------- ADD BUTTONS ----------------------------*/

.E_PageSectionFactsNumbers--add-item {
    z-index: 10;
    position:absolute;
    right: -40px;
    bottom: 80px;
}


.E_PageSectionFactsNumbers--add-item__bottom {
    z-index: 10;
    margin: auto;
    position:absolute;
    top: auto;
    right: 0px;
    left: 0px;
    bottom: -8px;
}

/*//////////////////////////// ADD BUTTONS ////////////////////////////*/
