/*====================================================================*/
/*----------------------- PageSectionFactsNumbers ----------------------*/
/*====================================================================*/

.P_PageSectionFactsNumbers--items [id^="__ph"] {
    vertical-align: top;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 48px;

    display: inline-block !important;
}

@media (max-width: 1024px) {

    .P_PageSectionFactsNumbers--items [id^="__ph"] {
        margin-bottom: 40px;
    }
}

@media (max-width: 680px) {

    .P_PageSectionFactsNumbers--items [id^="__ph"] {
        margin-bottom: 32px;
    }
}

/*---------------------------- ADD BUTTONS ----------------------------*/

.E_PageSectionFactsNumbers--add-item {
    z-index: 10;
    position:absolute;
    right: -40px;
    bottom: 80px;
}


.E_PageSectionFactsNumbers--add-item__bottom {
    z-index: 10;
    margin: auto;
    position:absolute;
    top: auto;
    right: 0px;
    left: 0px;
    bottom: -8px;
}

/*//////////////////////////// ADD BUTTONS ////////////////////////////*/
