/*====================================================================*/
/*------------------------ PageSectionSetings ------------------------*/
/*====================================================================*/

.E_PageSectionSettings {
    line-height: 1;

    position: relative;

    width: 100%;

    background-color: #f4f4f4;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}

.E_PageSectionSettings--wrapper {
    position: relative;

    min-height: 32px;

    overflow: hidden;

    will-change: height, max-height;
}

.E_PageSectionSettings--wrapper-2 {
    margin: 0px auto;

    max-width: var(--P_PageSection__max-width);

    background-color: #f7f7f7;

    overflow: hidden;
}

@media (min-width: 1440px) {

    .E_PageSectionSettings--wrapper-2 {
        border-left: 1px solid #d7d7d7;
        border-right: 1px solid #d7d7d7;
    }
}

.E_PageSectionSettings--shadow {
    content: "";

    z-index: 500;
    position: absolute;
    top: 0px;
    left: -8px;

    width: calc(100% + 16px);
    height: 100%;

    box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.3);

    pointer-events: none;
}

.E_PageSectionSettings--resizable-box {
    display: flex;

    width: 100%;

    transition: var(--default-transition);
    transition-property: height;
}

.E_PageSectionSettings__multiple-tabs .E_PageSectionSettings--scrollable:first-of-type {
    flex-basis: 38.08%;
    flex-grow: 1;

    will-change: min-width;
    transition: var(--default-transition-hover);
    transition-property: min-width;
    transition-duration: 0.2s;
}

.E_PageSectionSettings__multiple-tabs .E_PageSectionSettings--scrollable:last-of-type {
    flex-basis: 61.92%;
    flex-grow: 1;

    border-left: 1px solid #d7d7d7;

    will-change: min-width;
    transition: var(--default-transition-hover);
    transition-property: min-width;
    transition-duration: 0.3s;
}

.E_PageSectionSettings--scrolling-content {
    position: relative;

    overflow: hidden;
}

@media (max-width: 640px) {

    .E_PageSectionSettings__multiple-tabs .E_PageSectionSettings--scrolling-content:after {
        content: "";

        z-index: 600;
        position: absolute;
        top: 0px;
        left: 0px;

        width: 100%;
        height: 100%;
    }

    .E_PageSectionSettings__multiple-tabs:not(:hover) .E_PageSectionSettings--scrollable:first-of-type:not(:hover) .E_PageSectionSettings--scrolling-content:after,
    .E_PageSectionSettings__multiple-tabs:hover .E_PageSectionSettings--scrollable:first-of-type:hover .E_PageSectionSettings--scrolling-content:after,
    .E_PageSectionSettings__multiple-tabs:hover .E_PageSectionSettings--scrollable:last-of-type:hover .E_PageSectionSettings--scrolling-content:after {
        pointer-events: none;

        animation: E_PageSectionSettings--pointer-events-none 0.3s 0s forwards;
    }

    .E_PageSectionSettings__multiple-tabs .E_PageSectionSettings--scrollable:first-of-type {
        min-width: calc(100vw - 60px);
    }

    .E_PageSectionSettings__multiple-tabs .E_PageSectionSettings--scrollable:last-of-type {
        min-width: 60px;

        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    }

    .E_PageSectionSettings__multiple-tabs .E_PageSectionSettings--scrollable:last-of-type:hover {
        min-width: calc(100vw - 60px);
    }

    .E_PageSectionSettings--scrollable:first-of-type,
    .E_PageSectionSettings--scrollable:last-of-type {
        transition-delay: 0.5s;
    }

    .E_PageSectionSettings__multiple-tabs:hover .E_PageSectionSettings--scrollable:first-of-type,
    .E_PageSectionSettings__multiple-tabs:hover .E_PageSectionSettings--scrollable:last-of-type {
        transition-delay: 0s;
    }

    .E_PageSectionSettings__multiple-tabs:hover .E_PageSectionSettings--scrollable:first-of-type:not(:hover) {
        min-width: 60px;
    }

    .E_PageSectionSettings__multiple-tabs .E_PageSectionSettings--scrollable:first-of-type > .E_PageSectionSettings--scrolling-content {
        min-width: calc(100vw - 60px);
    }

    .E_PageSectionSettings__multiple-tabs .E_PageSectionSettings--scrollable:last-of-type  > .E_PageSectionSettings--scrolling-content {
        min-width: calc(100vw - 60px - 1px);
    }
}

@media (max-width: 480px) {

    .E_PageSectionSettings__multiple-tabs .E_PageSectionSettings--scrollable:first-of-type {
        min-width: calc(100vw - 40px);
    }

    .E_PageSectionSettings__multiple-tabs .E_PageSectionSettings--scrollable:last-of-type {
        min-width: 40px;
    }

    .E_PageSectionSettings__multiple-tabs .E_PageSectionSettings--scrollable:last-of-type:hover {
        min-width: calc(100vw - 40px);
    }

    .E_PageSectionSettings__multiple-tabs:hover .E_PageSectionSettings--scrollable:first-of-type:not(:hover) {
        min-width: 40px;
    }

    .E_PageSectionSettings__multiple-tabs .E_PageSectionSettings--scrollable:first-of-type > .E_PageSectionSettings--scrolling-content {
        min-width: calc(100vw - 40px);
    }

    .E_PageSectionSettings__multiple-tabs .E_PageSectionSettings--scrollable:last-of-type  > .E_PageSectionSettings--scrolling-content {
        min-width: calc(100vw - 40px - 1px);
    }
}

/*---------------------------- CLOSE | MINMAX ----------------------------*/

.E_PageSectionSettings--min-max,
.E_PageSectionSettings--close {
    z-index: 1100;
    position: absolute;
    top: 0px;
    right: 0px;

    width: 24px;
    height: 24px;
    padding-top: 2px;

    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 1));
    -moz-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 1));
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 1));

    transition: var(--default-transition);
}

.E_PageSectionSettings--close {
    padding-right: 2px;
}

.E_PageSectionSettings--min-max {
    padding-left: 4px;
}

.E_PageSectionSettings--min-max svg,
.E_PageSectionSettings--close svg {
    width: 12px;
    height: 12px;

    fill: #404040;
    opacity: 0.4;

    transition: var(--default-transition);
}

.E_PageSectionSettings--min-max {
    right: 24px;
}

@media (pointer: coarse) {

    .E_PageSectionSettings--min-max,
    .E_PageSectionSettings--close {
        width: 30px;
        height: 30px;
        padding-top: 0;
    }

    .E_PageSectionSettings--close {
        padding-right: 2px;
    }

    .E_PageSectionSettings--min-max {
        padding-left: 8px;
    }

    .E_PageSectionSettings--min-max svg,
    .E_PageSectionSettings--close svg {
        width: 14px;
        height: 14px;
    }

    .E_PageSectionSettings--min-max {
        right: 30px;
    }
}

.E_PageSectionSettings--min-max__max {
    -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
    -moz-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.E_PageSectionSettings--min-max__max svg {
    fill: var(--color-selected);
    opacity: 1;
}

.E_PageSectionSettings--min-max:hover,
.E_PageSectionSettings--close:hover {
    -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
    -moz-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));

    transition: var(--default-transition-hover);
}

.E_PageSectionSettings--min-max:hover svg,
.E_PageSectionSettings--close:hover svg {
    opacity: 1;

    transition: var(--default-transition-hover);
}

.E_PageSectionSettings--min-max:active svg,
.E_PageSectionSettings--close:active svg {
    transform: scale(0.9);

    transition: var(--default-transition-active);
}

/*---------------------------- RESIZER ----------------------------*/

.E_PageSectionSettings--resizer {
    z-index: 100;
    position: absolute;
    bottom: -7px;
    left: 0px;

    width: 100%;
    height: 12px;

    cursor: ns-resize;
}

@media (pointer: coarse) {

    .E_PageSectionSettings--resizer {
        bottom: -13px;

        height: 24px;
    }
}

.E_PageSectionSettings--resizer:after {
    content: "";

    position: absolute;
    top: calc(50% - 1px);
    left: 0px;

    width: 100%;
    height: 0px;

    border-bottom: 1px solid transparent;

    cursor: ns-resize;

    transition: var(--default-transition);

    transform: translateZ(0);
}

.E_PageSectionSettings--resizer:hover:after {
    border-bottom-color: var(--color-selected);

    transition: var(--default-transition-hover);
}

.E_PageSectionSettings--resizer__active:after,
.E_PageSectionSettings--resizer:active:after {
    border-bottom-color: var(--color-ok);

    transition: var(--default-transition-active);
}

/*---------------------------- SECTION ----------------------------*/

.E_PageSectionSettings--sections {
    width: calc(100% + 12px);
    padding: 16px 12px;

    display: flex;
    flex-wrap: wrap;
}

.E_PageSectionSettings--sections:first-of-type {
    padding-top: 0;
}

.E_PageSectionSettings--sections:last-of-type {
    padding-bottom: 0;
}

.E_PageSectionSettings--sections:not(:last-of-type) {
    border-bottom: 1px solid #d7d7d7;
}

.E_PageSectionSettings--section {
    margin-right: 12px;
    margin-bottom: 16px;

    flex-basis: calc(50% - 12px);
    flex-grow: 1;
}

.E_PageSectionSettings--section:nth-of-type(even):last-of-type {
    margin-bottom: 0;
}

.E_PageSectionSettings--section:nth-of-type(odd):nth-last-child(2),
.E_PageSectionSettings--section:nth-of-type(odd):nth-last-child(1) {
    margin-bottom: 0;
}

/*---------------------------- TITLES ----------------------------*/

.E_PageSectionSettings--section-title {
    font-family: "Encode Sans Narrow", sans-serif;
    font-size: 19px;
    font-weight: 600;
    line-height: 1;
    text-align: left;

    margin-bottom: 10px;

    color: var(--color-title-1);
}

/*---------------------------- DIVIDER ----------------------------*/

.E_PageSectionSettings--divider {
    margin: 16px auto;

    width: 100%;
    height: 1px;

    background-color: #d7d7d7;
}

@keyframes E_PageSectionSettings--pointer-events-none {
    from { pointer-events: all; }
    to { pointer-events: none; }
}

