/*====================================================================*/
/*-------------------- PageElementSettings - Tabs --------------------*/
/*====================================================================*/

.E_PageElementSettings--tabs {
    width: 100%;

    border-bottom: 1px solid #d7d7d7;

    display: flex;
}

.E_PageElementSettings--tab {
    font-family: "Encode Sans", sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 1.21;

    position: relative;

    width: 50%;
    max-width: auto;
    height: 40px;

    color: var(--color-button-text);
    background-color: var(--color-button-bg);

    flex-basis: 50%;
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    transition: var(--default-transition);
}

.E_PageElementSettings--tab:nth-last-child(n + 3):nth-last-child(-n + 3):first-child,
.E_PageElementSettings--tab:nth-last-child(n + 3):nth-last-child(-n + 3):first-child ~ .E_PageElementSettings--tab {
    width: 33.33333%;
    width: calc(100% / 3);
    flex-basis: calc(100% / 3);
}

.E_PageElementSettings--tab:nth-last-child(n + 3):nth-last-child(-n + 3):first-child[data-ractive-transition="intro"],
.E_PageElementSettings--tab:nth-last-child(n + 3):nth-last-child(-n + 3):first-child ~ .E_PageElementSettings--tab[data-ractive-transition="intro"] {
    animation: E_PageElementSettings--show-tab-3 0.3s ease-in-out 0s forwards;
}

.E_PageElementSettings--tab:nth-last-child(n + 3):nth-last-child(-n + 3):first-child[data-ractive-transition="outro"],
.E_PageElementSettings--tab:nth-last-child(n + 3):nth-last-child(-n + 3):first-child ~ .E_PageElementSettings--tab[data-ractive-transition="outro"] {
    animation: E_PageElementSettings--hide-tab-3 0.3s ease-in-out 0s forwards;
}

@keyframes E_PageElementSettings--show-tab-3 {
    from {
        width: 0%;
        max-width: 0%;
        flex-basis: 0%;
    }
    to {
        width: calc(100% / 3);
        max-width: calc(100% / 3);
        flex-basis: calc(100% / 3);
    }
}

@keyframes E_PageElementSettings--hide-tab-3 {
    from {
        max-width: calc(100% / 3);
        width: calc(100% / 3);
        flex-basis: calc(100% / 3);
    }
    to {
        max-width: 0%;
        width: 0%;
        flex-basis: 0%;
    }
}

.E_PageElementSettings--tab-name {
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    margin: auto;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.E_PageElementSettings--tab:not(:first-child):after {
    content: "";

    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    box-shadow: -1px 0px 0px 0px rgba(34, 34, 34, 0.15);

    pointer-events: none;
}

.E_PageElementSettings--tab__active {
    font-weight: 500;

    color: #fff;
    background-color: var(--color-temp-selected-light);
}

.E_PageElementSettings--tab:hover {
    font-weight: 500;

    color: #fff;
    background-color: var(--color-hover);

    transition: var(--default-transition-hover);
    transition-property: background, background-color, color, opacity, box-shadow, width;
}

.E_PageElementSettings--tab__active:hover {
    background-color: var(--color-temp-selected-light-over);
}

.E_PageElementSettings--tab:active,
.E_PageElementSettings--tab__active:active {
    font-weight: 500;

    color: #fff;
    background-color: var(--color-temp-selected-light-active);

    transition: var(--default-transition-active);
    transition-property: background, background-color, color, opacity, box-shadow, width;
}



