.P_PageSection {
    position: relative;

    width: 100%;

    transition:
        height var(--P_PageSection_sorting-transition-duration) var(--P_PageSection_sorting-transition-easing) 0s,
        z-index 0s linear var(--default-transition-duration);
}

.P_PageSection:hover,
.P_PageSection__has-outline:hover,
.P_PageSection__has-settings:hover,
.P_PageSection__has-outline,
.P_PageSection__has-settings {
    transition:
        height var(--P_PageSection_sorting-transition-duration) var(--P_PageSection_sorting-transition-easing) 0s;
}

.P_PageSection:hover {
    z-index: 2;
}

.P_PageSection__has-outline:hover,
.P_PageSection__has-settings:hover,
.P_PageSection__has-outline,
.P_PageSection__has-settings {
    z-index: 3;
}

.P_PageSection--background-color,
.P_PageSection--section,
.P_PageSection--content {
    position: relative;
}

.P_PageSection:hover .P_PageSection--content,
.P_PageSection__has-outline:hover .P_PageSection--content,
.P_PageSection__has-settings:hover .P_PageSection--content,
.P_PageSection__has-outline .P_PageSection--content,
.P_PageSection__has-settings .P_PageSection--content {
    z-index: 1;
}

.P_PageSection__dragged,
.P_PageSection__dragged:hover,
.P_PageSection__removed,
.P_PageSection__removed:hover,
.P_PageSection__placed,
.P_PageSection__placed:hover {
    z-index: 10;

    overflow: hidden;
}

.P_PageSection__removed:hover,
.P_PageSection__removed {
    transition: none;
}

.P_PageSection__placed:not(.P_PageSection__new),
.P_PageSection__removed,
.P_PageSection__dragged {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);

    animation: PageSection--sort-shadow__removed var(--P_PageSection_sorting-transition-duration) var(--P_PageSection_sorting-transition-easing) forwards;
}

.P_PageSection__dragged {
    animation: PageSection--sort-shadow__dragged var(--P_PageSection_sorting-transition-duration) var(--P_PageSection_sorting-transition-easing) forwards;
}

.P_PageSection__placed:not(.P_PageSection__new) {
    animation: PageSection--sort-shadow__placed var(--P_PageSection_sorting-transition-duration) var(--P_PageSection_sorting-transition-easing) forwards reverse;
}

.P_PageSection__new:not(.P_PageSection__inserted-by-tap) {
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.3);

    animation: PageSection--sort-shadow__new var(--P_PageSection_sorting-transition-duration) var(--P_PageSection_sorting-transition-easing) forwards;
}

@keyframes PageSection--sort-shadow__dragged {
    to { box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.3); }
}

@keyframes PageSection--sort-shadow__placed {
    to { box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3); }
}

@keyframes PageSection--sort-shadow__removed {
    to { box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3); }
}

@keyframes PageSection--sort-shadow__new {
    to { box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0); }
}

.P_PageSection__dragged {
    height: var(--P_PageSection__dragged_height);
    min-height: var(--P_PageSection__dragged_height);
}

.E .P_PageSection, .E .P_PageSection:after, .E .P_PageSection:before {
    will-change: box-shadow, transform, opacity, width, min-width, max-width, height, min-height, max-height, margin, margin-bottom;
}

.E .P_PageSection:after {
    content: attr(data-page-section-name);

    font-family: "Encode Sans Narrow", sans-serif;
    font-size: 17px;
    font-weight: 500;

    z-index: 120;
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    color: #fff;
    background-color: #404040;
    opacity: 0;
    visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: opacity, visibility;
    transition-duration: var(--P_PageSection_sorting-transition-duration);
    transition-timing-function: var(--P_PageSection_sorting-transition-easing);
}

.E .P_PageSection__dragged:after {
    opacity: 1;
    visibility: visible;
}

.P_PageSection--content:not(.E_PageSection__stop-color-transitions) .P_PageSection--background-color,
.P_PageSection--content:not(.E_PageSection__stop-color-transitions) .E_PageElement--outline ~ * {
    transition:
        color 0.1s linear,
        border-color 0.1s linear,
        border-radius 0.3s ease-in-out,
        background-color 0.1s linear;
}

.P_PageSection--background-color {
    width: 100%;

    display: table;
    table-layout: fixed;
}

.P_PageSection--content-wrapper {
    margin: 0px auto;

    width: 100%;
    max-width: var(--P_PageSection__max-width);

    display: table;
}

.P_PageSection--center {
    padding: 80px 88px;
    width: 100%;
    height: 100%;

    display: table-cell;
}

@media (max-width: 1440px) {

    .P_PageSection--center {
        padding: 80px 80px;
    }
}

@media (max-width: 1200px) {

    .P_PageSection--center {
        padding: 80px 72px;
    }
}

@media (max-width: 1000px) {

    .P_PageSection--center {
        padding: 80px 64px;
    }
}

@media (max-width: 800px) {

    .P_PageSection--center {
        padding: 80px 44px;
    }
}

@media (max-width: 640px) {

    .P_PageSection--center {
        padding: 80px 32px;
    }
}

@media (max-width: 480px) {

    .P_PageSection--center {
        padding: 80px 24px;
    }
}

@media (max-width: 360px) {

    .P_PageSection--center {
        padding: 80px 20px;
    }
}

.P_PageSection__full-size .P_PageSection--center,
.P_PageSection__full-size .P_PageSection--content-wrapper {
    height: 100vm;
    height: 100vmin;
}

.P_font-type-1 .P_PageSection--content .P_font-title {
    font-family: var(--P_font-type-1-title-font-family);
    font-weight: var(--P_font-type-1-title-font-weight);
}

.P_font-type-2 .P_PageSection--content .P_font-title {
    font-family: var(--P_font-type-2-title-font-family);
    font-weight: var(--P_font-type-2-title-font-weight);
}

.P_font-type-3 .P_PageSection--content .P_font-title {
    font-family: var(--P_font-type-3-title-font-family);
    font-weight: var(--P_font-type-3-title-font-weight);
}

.P_font-type-4 .P_PageSection--content .P_font-title {
    font-family: var(--P_font-type-4-title-font-family);
    font-weight: var(--P_font-type-4-title-font-weight);
}

.P_font-type-1 .P_PageSection--content .P_font-body {
    font-family: var(--P_font-type-1-body-font-family);
    font-weight: var(--P_font-type-1-body-font-weight);
}

.P_font-type-2 .P_PageSection--content .P_font-body {
    font-family: var(--P_font-type-2-body-font-family);
    font-weight: var(--P_font-type-2-body-font-weight);
}

.P_font-type-3 .P_PageSection--content .P_font-body {
    font-family: var(--P_font-type-3-body-font-family);
    font-weight: var(--P_font-type-3-body-font-weight);
}

.P_font-type-4 .P_PageSection--content .P_font-body {
    font-family: var(--P_font-type-4-body-font-family);
    font-weight: var(--P_font-type-4-body-font-weight);
}

.P_PageSection--content sup {
    font-size: 70%;
    vertical-align: super;
}

.P_PageSection--content sub {
    font-size: 70%;
    vertical-align: sub;
}

.P_PageSection--content a {
    color: inherit;
}

/*--------------------------------------------------------------------*/
/*---------------------------- EDIT MODE -----------------------------*/
/*--------------------------------------------------------------------*/

.E_PageSection--add-button {
    width: 40px;
    height: 40px;

    background-color: var(--color-button-bg);
    border-radius: 50%;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;

    transition: var(--default-transition);
    transition-property: background-color, box-shadow, opacity;
}

.E_PageSection--add-button svg {
    width: 20px;
    height: 20px;

    fill: var(--color-button-icon);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: var(--default-transition);
}

.E_PageSection--add-button:hover {
    background-color: var(--color-hover);

    transition: var(--default-transition-hover);
    transition-property: background-color, box-shadow, opacity;
}

.E_PageSection--add-button:hover svg {
    fill: var(--color-button-icon-active);

    transition: var(--default-transition-hover);
}

.E_PageSectionEditUI__hover ~ .P_PageSection--content .E_PageSection--add-button,
.E_PageSectionEditUI__hidden-by-user ~ .P_PageSection--content .E_PageSection--add-button {
    opacity: 1;
}

.E_PageSectionEditUI__hover ~ .P_PageSection--content .E_PageSection--add-button[data-ractive-transition="intro"],
.E_PageSectionEditUI__hidden-by-user ~ .P_PageSection--content .E_PageSection--add-button[data-ractive-transition="intro"] {
    animation: E_PageSection--show-add-button 0.3s var(--default-transition-easing) forwards;
}

.E_PageSectionEditUI__hover ~ .P_PageSection--content .E_PageSection--add-button[data-ractive-transition^="outro"],
.E_PageSectionEditUI__hidden-by-user ~ .P_PageSection--content .E_PageSection--add-button[data-ractive-transition^="outro"] {
    animation: E_PageSection--hide-add-button 0.3s var(--default-transition-easing) forwards;
}

@keyframes E_PageSection--show-add-button {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes E_PageSection--hide-add-button {
    from { opacity: 1; }
    to { opacity: 0; }
}
