.P_PageSection {
    position: relative;

    width: 100%;

    transition-property: height;
    transition-duration: var(--P_PageSection_sorting-transition-duration);
    transition-timing-function: var(--P_PageSection_sorting-transition-easing);
}

.P_PageSection--section {
    position: relative;
}

.P_PageSection__dragged,
.P_PageSection__removed,
.P_PageSection__placed {
    z-index: 100;

    overflow: hidden;
}

.P_PageSection__removed {
    transition: none;
}

.P_PageSection__dragged {
    height: var(--P_PageSection__dragged_height);
    min-height: var(--P_PageSection__dragged_height);
}

.E [class*='P_PageSection'], .E [class*='P_PageSection']:after {
    will-change: transform, opacity, width, height, margin, margin-bottom;
}

.E .P_PageSection:after {
    content: attr(data-page-section-name);

    font-size: 19px;

    z-index: 100;
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    color: #fff;
    background-color: #404040;
    opacity: 0;
    visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: opacity, visibility;
    transition-duration: var(--P_PageSection_sorting-transition-duration);
    transition-timing-function: var(--P_PageSection_sorting-transition-easing);
}

.E .P_PageSection__dragged:after {
    opacity: 1;
    visibility: visible;
}

.P_font-type-1 .P_PageSection--content {
    font-family: serif;
}

.P_font-type-2 .P_PageSection--content {
    font-family: sans-serif;
}
