/*====================================================================*/
/*------------------------- PAGEELEMENTMENU --------------------------*/
/*====================================================================*/

/*--------------------------------------------------------------------*/
/*----------------------------- DROPDOWN -----------------------------*/
/*--------------------------------------------------------------------*/

/*---------------------------- ANIMATiONS ----------------------------*/

.E.P_animations-10 .P_PageElementMenu--dropdown-close,
.E.P_animations-10 .P_PageElementMenu--dropdown-list {
	transition:
             visibility 0s linear var(--P_animations-10-l-duration),
        backdrop-filter var(--P_animations-10-l-duration) var(--P_animations-10-l-easing) 0s,
          border-radius var(--P_animations-10-l-duration) var(--P_animations-10-l-easing) 0s,
             box-shadow var(--P_animations-10-l-duration) var(--P_animations-10-l-easing) 0s,
              transform var(--P_animations-10-l-duration) var(--P_animations-10-l-easing) 0s,
              clip-path var(--P_animations-10-l-duration) var(--P_animations-10-l-easing) 0s,
                opacity var(--P_animations-10-l-duration) var(--P_animations-10-l-easing) 0s,
       background-color 0.1s linear 0s,
                 border 0.1s linear 0s,
                  color 0.1s linear 0s;
}

.E.P_animations-10 .P_PageElementMenu--dropdown-close__active,
.E.P_animations-10 .P_PageElementMenu--dropdown.open .P_PageElementMenu--dropdown-list {
	transition:
        backdrop-filter var(--P_animations-10-l-duration)       var(--P_animations-10-l-easing)       0s,
          border-radius var(--P_animations-10-l-duration-hover) var(--P_animations-10-l-easing-hover) 0s,
             box-shadow var(--P_animations-10-l-duration-hover) var(--P_animations-10-l-easing-hover) 0s,
              transform var(--P_animations-10-l-duration-hover) var(--P_animations-10-l-easing-hover) 0s,
              clip-path var(--P_animations-10-l-duration-hover) var(--P_animations-10-l-easing-hover) 0s,
                opacity var(--P_animations-10-l-duration-hover) var(--P_animations-10-l-easing-hover) 0s,
       background-color 0.1s linear 0s,
                 border 0.1s linear 0s,
                  color 0.1s linear 0s;
}

.E.P_animations-10 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-close,
.E.P_animations-10 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-list {
	transition:
             visibility 0s linear var(--P_animations-10-l-duration),
        backdrop-filter var(--P_animations-10-l-duration) var(--P_animations-10-l-easing) 0s,
             box-shadow var(--P_animations-10-l-duration) var(--P_animations-10-l-easing) 0s,
              transform var(--P_animations-10-l-duration) var(--P_animations-10-l-easing) 0s,
              clip-path var(--P_animations-10-l-duration) var(--P_animations-10-l-easing) 0s,
                opacity var(--P_animations-10-l-duration) var(--P_animations-10-l-easing) 0s,
          border-radius var(--P_animations-10-l-duration) var(--P_animations-10-l-easing) 0s;
}

.E.P_animations-10 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-close__active,
.E.P_animations-10 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown.open .P_PageElementMenu--dropdown-list {
	transition:
        backdrop-filter var(--P_animations-10-l-duration)       var(--P_animations-10-l-easing)       0s,
             box-shadow var(--P_animations-10-l-duration-hover) var(--P_animations-10-l-easing-hover) 0s,
              transform var(--P_animations-10-l-duration-hover) var(--P_animations-10-l-easing-hover) 0s,
              clip-path var(--P_animations-10-l-duration-hover) var(--P_animations-10-l-easing-hover) 0s,
                opacity var(--P_animations-10-l-duration-hover) var(--P_animations-10-l-easing-hover) 0s,
          border-radius var(--P_animations-10-l-duration-hover) var(--P_animations-10-l-easing-hover) 0s;
}

.E.P_animations-20 .P_PageElementMenu--dropdown-close,
.E.P_animations-20 .P_PageElementMenu--dropdown-list {
	transition:
             visibility 0s linear var(--P_animations-20-l-duration),
        backdrop-filter var(--P_animations-20-l-duration) var(--P_animations-20-l-easing) 0s,
          border-radius var(--P_animations-20-l-duration) var(--P_animations-20-l-easing) 0s,
             box-shadow var(--P_animations-20-l-duration) var(--P_animations-20-l-easing) 0s,
              transform var(--P_animations-20-l-duration) var(--P_animations-20-l-easing) 0s,
              clip-path var(--P_animations-20-l-duration) var(--P_animations-20-l-easing) 0s,
                opacity var(--P_animations-20-l-duration) var(--P_animations-20-l-easing) 0s,
       background-color 0.1s linear 0s,
                 border 0.1s linear 0s,
                  color 0.1s linear 0s;
}

.E.P_animations-20 .P_PageElementMenu--dropdown-close__active,
.E.P_animations-20 .P_PageElementMenu--dropdown.open .P_PageElementMenu--dropdown-list {
	transition:
        backdrop-filter 0.25s var(--P_animations-20-l-easing) 0s,
          border-radius var(--P_animations-20-l-duration-hover) var(--P_animations-20-l-easing-hover) 0s,
             box-shadow var(--P_animations-20-l-duration-hover) var(--P_animations-20-l-easing-hover) 0s,
              transform var(--P_animations-20-l-duration-hover) var(--P_animations-20-l-easing-hover) 0s,
              clip-path var(--P_animations-20-l-duration-hover) var(--P_animations-20-l-easing-hover) 0s,
                opacity var(--P_animations-20-l-duration-hover) var(--P_animations-20-l-easing-hover) 0s,
       background-color 0.1s linear 0s,
                 border 0.1s linear 0s,
                  color 0.1s linear 0s;
}

.E.P_animations-20 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-close,
.E.P_animations-20 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-list {
	transition:
             visibility 0s linear var(--P_animations-20-l-duration),
        backdrop-filter var(--P_animations-20-l-duration) var(--P_animations-20-l-easing) 0s,
             box-shadow var(--P_animations-20-l-duration) var(--P_animations-20-l-easing) 0s,
              transform var(--P_animations-20-l-duration) var(--P_animations-20-l-easing) 0s,
              clip-path var(--P_animations-20-l-duration) var(--P_animations-20-l-easing) 0s,
                opacity var(--P_animations-20-l-duration) var(--P_animations-20-l-easing) 0s,
          border-radius var(--P_animations-20-l-duration) var(--P_animations-20-l-easing) 0s;
}

.E.P_animations-20 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-close__active,
.E.P_animations-20 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown.open .P_PageElementMenu--dropdown-list {
	transition:
        backdrop-filter 0.25s var(--P_animations-20-l-easing) 0s,
             box-shadow var(--P_animations-20-l-duration-hover) var(--P_animations-20-l-easing-hover) 0s,
              transform var(--P_animations-20-l-duration-hover) var(--P_animations-20-l-easing-hover) 0s,
              clip-path var(--P_animations-20-l-duration-hover) var(--P_animations-20-l-easing-hover) 0s,
                opacity var(--P_animations-20-l-duration-hover) var(--P_animations-20-l-easing-hover) 0s,
          border-radius var(--P_animations-20-l-duration-hover) var(--P_animations-20-l-easing-hover) 0s;
}

.E.P_animations-30 .P_PageElementMenu--dropdown-close,
.E.P_animations-30 .P_PageElementMenu--dropdown-list {
	transition:
             visibility 0s linear var(--P_animations-30-l-duration),
        backdrop-filter var(--P_animations-30-l-duration) var(--P_animations-30-l-easing) 0s,
          border-radius var(--P_animations-30-l-duration) var(--P_animations-30-l-easing) 0s,
             box-shadow var(--P_animations-30-l-duration) var(--P_animations-30-l-easing) 0s,
              transform var(--P_animations-30-l-duration) var(--P_animations-30-l-easing) 0s,
              clip-path var(--P_animations-30-l-duration) var(--P_animations-30-l-easing) 0s,
                opacity var(--P_animations-30-l-duration) var(--P_animations-30-l-easing) 0s,
       background-color 0.1s linear 0s,
                 border 0.1s linear 0s,
                  color 0.1s linear 0s;
}

.E.P_animations-30 .P_PageElementMenu--dropdown-close__active,
.E.P_animations-30 .P_PageElementMenu--dropdown.open .P_PageElementMenu--dropdown-list {
	transition:
        backdrop-filter 0.2s var(--P_animations-30-l-easing) 0s,
          border-radius var(--P_animations-30-l-duration-hover) var(--P_animations-30-l-easing-hover) 0s,
             box-shadow var(--P_animations-30-l-duration-hover) var(--P_animations-30-l-easing-hover) 0s,
              transform var(--P_animations-30-l-duration-hover) var(--P_animations-30-l-easing-hover) 0s,
              clip-path var(--P_animations-30-l-duration-hover) var(--P_animations-30-l-easing-hover) 0s,
                opacity var(--P_animations-30-l-duration-hover) var(--P_animations-30-l-easing-hover) 0s,
       background-color 0.1s linear 0s,
                 border 0.1s linear 0s,
                  color 0.1s linear 0s;
}

.E.P_animations-30 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-close,
.E.P_animations-30 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-list {
	transition:
             visibility 0s linear var(--P_animations-30-l-duration),
        backdrop-filter var(--P_animations-30-l-duration) var(--P_animations-30-l-easing) 0s,
             box-shadow var(--P_animations-30-l-duration) var(--P_animations-30-l-easing) 0s,
              transform var(--P_animations-30-l-duration) var(--P_animations-30-l-easing) 0s,
              clip-path var(--P_animations-30-l-duration) var(--P_animations-30-l-easing) 0s,
                opacity var(--P_animations-30-l-duration) var(--P_animations-30-l-easing) 0s,
          border-radius var(--P_animations-30-l-duration) var(--P_animations-30-l-easing) 0s;
}

.E.P_animations-30 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-close__active,
.E.P_animations-30 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown.open .P_PageElementMenu--dropdown-list {
	transition:
        backdrop-filter 0.2s var(--P_animations-30-l-easing) 0s,
             box-shadow var(--P_animations-30-l-duration-hover) var(--P_animations-30-l-easing-hover) 0s,
              transform var(--P_animations-30-l-duration-hover) var(--P_animations-30-l-easing-hover) 0s,
              clip-path var(--P_animations-30-l-duration-hover) var(--P_animations-30-l-easing-hover) 0s,
                opacity var(--P_animations-30-l-duration-hover) var(--P_animations-30-l-easing-hover) 0s,
          border-radius var(--P_animations-30-l-duration-hover) var(--P_animations-30-l-easing-hover) 0s;
}

.E.P_animations-40 .P_PageElementMenu--dropdown-close,
.E.P_animations-40 .P_PageElementMenu--dropdown-list {
	transition:
              visibility 0s linear var(--P_animations-40-l-duration),
         backdrop-filter var(--P_animations-40-l-duration) var(--P_animations-40-l-easing) 0s,
           border-radius var(--P_animations-40-l-duration) var(--P_animations-40-l-easing) 0s,
              box-shadow var(--P_animations-40-l-duration) var(--P_animations-40-l-easing) 0s,
               transform var(--P_animations-40-l-duration) var(--P_animations-40-l-easing) 0s,
               clip-path var(--P_animations-40-l-duration) var(--P_animations-40-l-easing) 0s,
                 opacity var(--P_animations-40-l-duration) var(--P_animations-40-l-easing) 0s,
        background-color 0.1s linear 0s,
                  border 0.1s linear 0s,
                   color 0.1s linear 0s;
}

.E.P_animations-40 .P_PageElementMenu--dropdown-close__active,
.E.P_animations-40 .P_PageElementMenu--dropdown.open .P_PageElementMenu--dropdown-list {
	transition:
         backdrop-filter 0.65s var(--P_animations-40-l-easing-hover__2) 0s,
           border-radius var(--P_animations-40-l-duration-hover) var(--P_animations-40-l-easing) 0s,
              box-shadow var(--P_animations-40-l-duration-hover) var(--P_animations-40-l-easing) 0s,
               transform var(--P_animations-40-l-duration-hover) var(--P_animations-40-l-easing-hover) 0s,
               clip-path var(--P_animations-40-l-duration-hover) var(--P_animations-40-l-easing) 0s,
                 opacity var(--P_animations-40-l-duration-hover) var(--P_animations-40-l-easing) 0s,
        background-color 0.1s linear 0s,
                  border 0.1s linear 0s,
                   color 0.1s linear 0s;
}

.E.P_animations-40 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-close,
.E.P_animations-40 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-list {
	transition:
              visibility 0s linear var(--P_animations-40-l-duration),
         backdrop-filter var(--P_animations-40-l-duration) var(--P_animations-40-l-easing) 0s,
              box-shadow var(--P_animations-40-l-duration) var(--P_animations-40-l-easing) 0s,
               transform var(--P_animations-40-l-duration) var(--P_animations-40-l-easing) 0s,
               clip-path var(--P_animations-40-l-duration) var(--P_animations-40-l-easing) 0s,
                 opacity var(--P_animations-40-l-duration) var(--P_animations-40-l-easing) 0s,
           border-radius var(--P_animations-40-l-duration) var(--P_animations-40-l-easing) 0s;
}

.E.P_animations-40 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-close__active,
.E.P_animations-40 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown.open .P_PageElementMenu--dropdown-list {
	transition:
         backdrop-filter 0.65s var(--P_animations-40-l-easing-hover__2) 0s,
              box-shadow var(--P_animations-40-l-duration-hover) var(--P_animations-40-l-easing) 0s,
               transform var(--P_animations-40-l-duration-hover) var(--P_animations-40-l-easing-hover) 0s,
               clip-path var(--P_animations-40-l-duration-hover) var(--P_animations-40-l-easing) 0s,
                 opacity var(--P_animations-40-l-duration-hover) var(--P_animations-40-l-easing) 0s,
           border-radius var(--P_animations-40-l-duration-hover) var(--P_animations-40-l-easing) 0s;
}

.E .P_animations-10 .P_PageElementMenu--dropdown-list-bg,
.E .P_animations-10 .P_PageElementMenu--dropdown-list:after {
	transition:
              opacity var(--P_animations-10-l-duration) var(--P_animations-10-l-easing) 0s,
        border-radius var(--P_animations-10-l-duration) var(--P_animations-10-l-easing) 0s;
}

.E .P_animations-10 .P_PageElementMenu--dropdown.open .P_PageElementMenu--dropdown-list-bg,
.E .P_animations-10 .P_PageElementMenu--dropdown.open .P_PageElementMenu--dropdown-list:after {
	transition:
              opacity var(--P_animations-10-l-duration-hover) var(--P_animations-10-l-easing-hover) 0s,
        border-radius var(--P_animations-10-l-duration-hover) var(--P_animations-10-l-easing-hover) 0s;
}

.E.P_animations-10 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-list-bg,
.E.P_animations-10 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-list:after {
	transition:
              opacity var(--P_animations-10-l-duration) var(--P_animations-10-l-easing) 0s,
        border-radius var(--P_animations-10-l-duration) var(--P_animations-10-l-easing) 0s;
}

.E.P_animations-10 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown.open .P_PageElementMenu--dropdown-list-bg,
.E.P_animations-10 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown.open .P_PageElementMenu--dropdown-list:after {
	transition:
              opacity var(--P_animations-10-l-duration-hover) var(--P_animations-10-l-easing-hover) 0s,
        border-radius var(--P_animations-10-l-duration-hover) var(--P_animations-10-l-easing-hover) 0s;
}

.E.P_animations-20 .P_PageElementMenu--dropdown-list-bg,
.E.P_animations-20 .P_PageElementMenu--dropdown-list:after {
	transition:
              opacity var(--P_animations-20-l-duration) var(--P_animations-20-l-easing) 0s,
        border-radius var(--P_animations-20-l-duration) var(--P_animations-20-l-easing) 0s;
}

.E.P_animations-20 .P_PageElementMenu--dropdown.open .P_PageElementMenu--dropdown-list-bg,
.E.P_animations-20 .P_PageElementMenu--dropdown.open .P_PageElementMenu--dropdown-list:after {
	transition:
              opacity var(--P_animations-20-l-duration-hover) var(--P_animations-20-l-easing-hover) 0s,
        border-radius var(--P_animations-20-l-duration-hover) var(--P_animations-20-l-easing-hover) 0s;
}

.E.P_animations-20 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-list-bg,
.E.P_animations-20 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-list:after {
	transition:
              opacity var(--P_animations-20-l-duration) var(--P_animations-20-l-easing) 0s,
        border-radius var(--P_animations-20-l-duration) var(--P_animations-20-l-easing) 0s;
}

.E.P_animations-20 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown.open .P_PageElementMenu--dropdown-list-bg,
.E.P_animations-20 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown.open .P_PageElementMenu--dropdown-list:after {
	transition:
              opacity var(--P_animations-20-l-duration-hover) var(--P_animations-20-l-easing-hover) 0s,
        border-radius var(--P_animations-20-l-duration-hover) var(--P_animations-20-l-easing-hover) 0s;
}

.E.P_animations-30 .P_PageElementMenu--dropdown-list-bg,
.E.P_animations-30 .P_PageElementMenu--dropdown-list:after {
	transition:
              opacity var(--P_animations-30-l-duration) var(--P_animations-30-l-easing) 0s,
        border-radius var(--P_animations-30-l-duration) var(--P_animations-30-l-easing) 0s;
}

.E.P_animations-30 .P_PageElementMenu--dropdown.open .P_PageElementMenu--dropdown-list-bg,
.E.P_animations-30 .P_PageElementMenu--dropdown.open .P_PageElementMenu--dropdown-list:after {
	transition:
              opacity var(--P_animations-30-l-duration-hover) var(--P_animations-30-l-easing-hover) 0s,
        border-radius var(--P_animations-30-l-duration-hover) var(--P_animations-30-l-easing-hover) 0s;
}

.E.P_animations-30 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-list-bg,
.E.P_animations-30 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-list:after {
	transition:
              opacity var(--P_animations-30-l-duration) var(--P_animations-30-l-easing) 0s,
        border-radius var(--P_animations-30-l-duration) var(--P_animations-30-l-easing) 0s;
}

.E.P_animations-30 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown.open .P_PageElementMenu--dropdown-list-bg,
.E.P_animations-30 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown.open .P_PageElementMenu--dropdown-list:after {
	transition:
              opacity var(--P_animations-30-l-duration-hover) var(--P_animations-30-l-easing-hover) 0s,
        border-radius var(--P_animations-30-l-duration-hover) var(--P_animations-30-l-easing-hover) 0s;
}

.E.P_animations-40 .P_PageElementMenu--dropdown-list-bg,
.E.P_animations-40 .P_PageElementMenu--dropdown-list:after {
	transition:
              opacity var(--P_animations-40-l-duration) var(--P_animations-40-l-easing) 0s,
        border-radius var(--P_animations-40-l-duration) var(--P_animations-40-l-easing) 0s;
}

.E.P_animations-40 .P_PageElementMenu--dropdown.open .P_PageElementMenu--dropdown-list-bg,
.E.P_animations-40 .P_PageElementMenu--dropdown.open .P_PageElementMenu--dropdown-list:after {
	transition:
              opacity var(--P_animations-40-l-duration-hover) var(--P_animations-40-l-easing) 0s,
        border-radius var(--P_animations-40-l-duration-hover) var(--P_animations-40-l-easing) 0s;
}

.E.P_animations-40 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-list-bg,
.E.P_animations-40 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-list:after {
	transition:
              opacity var(--P_animations-40-l-duration) var(--P_animations-40-l-easing) 0s,
        border-radius var(--P_animations-40-l-duration) var(--P_animations-40-l-easing) 0s;
}

.E.P_animations-40 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown.open .P_PageElementMenu--dropdown-list-bg,
.E.P_animations-40 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown.open .P_PageElementMenu--dropdown-list:after {
	transition:
              opacity var(--P_animations-40-l-duration-hover) var(--P_animations-40-l-easing) 0s,
        border-radius var(--P_animations-40-l-duration-hover) var(--P_animations-40-l-easing) 0s;
}

.E.P_animations-10 .P_PageElementMenu--dropdown-item:after {
    transition:
              transform var(--P_animations-10-l-duration) var(--P_animations-10-l-easing),
                opacity var(--P_animations-10-l-duration) var(--P_animations-10-l-easing),
        background-color 0.1s linear;
}

.E.P_animations-10 .P_PageElementMenu--dropdown-item:hover:after {
    transition:
               transform var(--P_animations-10-l-duration-hover) var(--P_animations-10-l-easing-hover),
                 opacity var(--P_animations-10-l-duration-hover) var(--P_animations-10-l-easing-hover),
        background-color 0.1s linear;
}

.E.P_animations-10 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-item:after {
    transition:
              transform var(--P_animations-10-l-duration) var(--P_animations-10-l-easing),
                opacity var(--P_animations-10-l-duration) var(--P_animations-10-l-easing);
}

.E.P_animations-10 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-item:hover:after {
    transition:
               transform var(--P_animations-10-l-duration-hover) var(--P_animations-10-l-easing-hover),
                 opacity var(--P_animations-10-l-duration-hover) var(--P_animations-10-l-easing-hover);
}

.E.P_animations-20 .P_PageElementMenu--dropdown-item:after {
    transition:
              transform var(--P_animations-20-l-duration) var(--P_animations-20-l-easing),
                opacity var(--P_animations-20-l-duration) var(--P_animations-20-l-easing),
        background-color 0.1s linear;
}

.E.P_animations-20 .P_PageElementMenu--dropdown-item:hover:after {
    transition:
               transform var(--P_animations-20-l-duration-hover) var(--P_animations-20-l-easing-hover),
                 opacity var(--P_animations-20-l-duration-hover) var(--P_animations-20-l-easing-hover),
        background-color 0.1s linear;
}

.E.P_animations-20 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-item:after {
    transition:
              transform var(--P_animations-20-l-duration) var(--P_animations-20-l-easing),
                opacity var(--P_animations-20-l-duration) var(--P_animations-20-l-easing);
}

.E.P_animations-20 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-item:hover:after {
    transition:
               transform var(--P_animations-20-l-duration-hover) var(--P_animations-20-l-easing-hover),
                 opacity var(--P_animations-20-l-duration-hover) var(--P_animations-20-l-easing-hover);
}

.E.P_animations-30 .P_PageElementMenu--dropdown-item:after {
    transition:
              transform var(--P_animations-30-l-duration) var(--P_animations-30-l-easing),
                opacity var(--P_animations-30-l-duration) var(--P_animations-30-l-easing),
        background-color 0.1s linear;
}

.E.P_animations-30 .P_PageElementMenu--dropdown-item:hover:after {
    transition:
               transform var(--P_animations-30-l-duration-hover) var(--P_animations-30-l-easing-hover),
                 opacity var(--P_animations-30-l-duration-hover) var(--P_animations-30-l-easing-hover),
        background-color 0.1s linear;
}

.E.P_animations-30 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-item:after {
    transition:
              transform var(--P_animations-30-l-duration) var(--P_animations-30-l-easing),
                opacity var(--P_animations-30-l-duration) var(--P_animations-30-l-easing);
}

.E.P_animations-30 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-item:hover:after {
    transition:
               transform var(--P_animations-30-l-duration-hover) var(--P_animations-30-l-easing-hover),
                 opacity var(--P_animations-30-l-duration-hover) var(--P_animations-30-l-easing-hover);
}

.E.P_animations-40 .P_PageElementMenu--dropdown-item:after {
    transition:
              transform var(--P_animations-40-l-duration) var(--P_animations-40-l-easing),
                opacity var(--P_animations-40-l-duration) var(--P_animations-40-l-easing),
        background-color 0.1s linear;
}

.E.P_animations-40 .P_PageElementMenu--dropdown-item:hover:after {
    transition:
               transform var(--P_animations-40-l-duration-hover) var(--P_animations-40-l-easing-hover),
                 opacity var(--P_animations-40-l-duration-hover) var(--P_animations-40-l-easing),
        background-color 0.1s linear;
}

.E.P_animations-40 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-item:after {
    transition:
              transform var(--P_animations-40-l-duration) var(--P_animations-40-l-easing),
                opacity var(--P_animations-40-l-duration) var(--P_animations-40-l-easing);
}

.E.P_animations-40 .E_PageSection__stop-color-transitions .P_PageElementMenu--dropdown-item:hover:after {
    transition:
               transform var(--P_animations-40-l-duration-hover) var(--P_animations-40-l-easing-hover),
                 opacity var(--P_animations-40-l-duration-hover) var(--P_animations-40-l-easing);
}

/*--------------------------------------------------------------------*/
/*------------------------------- LINKS ------------------------------*/
/*--------------------------------------------------------------------*/

/*---------------------------- ANIMATIONS ----------------------------*/

.E.P_animations-10 .P_PageElementMenu .P_PageElementMenu--link-dot {
    transition:
               transform var(--P_animations-10-duration) var(--P_animations-10-easing),
                 opacity var(--P_animations-10-duration) var(--P_animations-10-easing),
              box-shadow 0.1s linear,
                   color 0.1s linear,
        background-color 0.1s linear;
}

.E.P_animations-10 .E_PageSection__stop-color-transitions .P_PageElementMenu .P_PageElementMenu--link-dot {
    transition:
               transform var(--P_animations-10-duration) var(--P_animations-10-easing),
                 opacity var(--P_animations-10-duration) var(--P_animations-10-easing),
              box-shadow 0.1s linear;
}

.E.P_animations-10 .P_PageElementMenu--link:hover .P_PageElementMenu--link-dot {
    transition:
               transform var(--P_animations-10-duration-hover) var(--P_animations-10-easing-hover),
                 opacity var(--P_animations-10-duration-hover) var(--P_animations-10-easing-hover),
              box-shadow 0.1s linear,
                   color 0.1s linear,
        background-color 0.1s linear;
}

.E.P_animations-10 .E_PageSection__stop-color-transitions .P_PageElementMenu--link:hover .P_PageElementMenu--link-dot {
    transition:
               transform var(--P_animations-10-duration-hover) var(--P_animations-10-easing-hover),
                 opacity var(--P_animations-10-duration-hover) var(--P_animations-10-easing-hover),
              box-shadow 0.1s linear;
}

.E.P_animations-20 .P_PageElementMenu .P_PageElementMenu--link-dot {
    transition:
               transform var(--P_animations-20-duration) var(--P_animations-20-easing),
                 opacity var(--P_animations-20-duration) var(--P_animations-20-easing),
              box-shadow 0.1s linear,
                   color 0.1s linear,
        background-color 0.1s linear;
}

.E.P_animations-20 .E_PageSection__stop-color-transitions .P_PageElementMenu .P_PageElementMenu--link-dot {
    transition:
               transform var(--P_animations-20-duration) var(--P_animations-20-easing),
                 opacity var(--P_animations-20-duration) var(--P_animations-20-easing),
              box-shadow 0.1s linear;
}

.E.P_animations-20 .P_PageElementMenu--link:hover .P_PageElementMenu--link-dot {
    transition:
               transform var(--P_animations-20-duration-hover) var(--P_animations-20-easing-hover),
                 opacity var(--P_animations-20-duration-hover) var(--P_animations-20-easing-hover),
              box-shadow 0.1s linear,
                   color 0.1s linear,
        background-color 0.1s linear;
}

.E.P_animations-20 .E_PageSection__stop-color-transitions .P_PageElementMenu--link:hover .P_PageElementMenu--link-dot {
    transition:
               transform var(--P_animations-20-duration-hover) var(--P_animations-20-easing-hover),
                 opacity var(--P_animations-20-duration-hover) var(--P_animations-20-easing-hover),
              box-shadow 0.1s linear;
}

.E.P_animations-30 .P_PageElementMenu .P_PageElementMenu--link-dot {
    transition:
               transform var(--P_animations-30-duration) var(--P_animations-30-easing),
                 opacity var(--P_animations-30-duration) var(--P_animations-30-easing),
              box-shadow 0.1s linear,
                   color 0.1s linear,
        background-color 0.1s linear;
}

.E.P_animations-30 .E_PageSection__stop-color-transitions .P_PageElementMenu .P_PageElementMenu--link-dot {
    transition:
               transform var(--P_animations-30-duration) var(--P_animations-30-easing),
                 opacity var(--P_animations-30-duration) var(--P_animations-30-easing),
              box-shadow 0.1s linear;
}

.E.P_animations-30 .P_PageElementMenu--link:hover .P_PageElementMenu--link-dot {
    transition:
               transform var(--P_animations-30-duration-hover) var(--P_animations-30-easing-hover),
                 opacity var(--P_animations-30-duration-hover) var(--P_animations-30-easing-hover),
              box-shadow 0.1s linear,
                   color 0.1s linear,
        background-color 0.1s linear;
}

.E.P_animations-30 .E_PageSection__stop-color-transitions .P_PageElementMenu--link:hover .P_PageElementMenu--link-dot {
    transition:
               transform var(--P_animations-30-duration-hover) var(--P_animations-30-easing-hover),
                 opacity var(--P_animations-30-duration-hover) var(--P_animations-30-easing-hover),
              box-shadow 0.1s linear;
}

.E.P_animations-40 .P_PageElementMenu .P_PageElementMenu--link-dot {
    transition:
               transform var(--P_animations-40-duration) var(--P_animations-40-easing),
                 opacity var(--P_animations-40-duration) var(--P_animations-40-easing),
              box-shadow 0.1s linear,
                   color 0.1s linear,
        background-color 0.1s linear;
}

.E.P_animations-40 .E_PageSection__stop-color-transitions .P_PageElementMenu .P_PageElementMenu--link-dot {
    transition:
               transform var(--P_animations-40-duration) var(--P_animations-40-easing),
                 opacity var(--P_animations-40-duration) var(--P_animations-40-easing),
              box-shadow 0.1s linear;
}

.E.P_animations-40 .P_PageElementMenu--link:hover .P_PageElementMenu--link-dot {
    transition:
               transform var(--P_animations-40-duration-hover) var(--P_animations-40-easing-hover),
                 opacity var(--P_animations-40-duration-hover) var(--P_animations-40-easing),
              box-shadow 0.1s linear,
                   color 0.1s linear,
        background-color 0.1s linear;
}

.E.P_animations-40 .E_PageSection__stop-color-transitions .P_PageElementMenu--link:hover .P_PageElementMenu--link-dot {
    transition:
               transform var(--P_animations-40-duration-hover) var(--P_animations-40-easing-hover),
                 opacity var(--P_animations-40-duration-hover) var(--P_animations-40-easing),
              box-shadow 0.1s linear;
}

/*//////////////////////////// ANIMATIONS ////////////////////////////*/

body:not(.E_actions-active) .E .P_PageElementMenu--link:hover .P_PageElementMenu--link-dot,
body:not(.E_actions-active) .E .P_PageElementMenu--links-wrapper:not(:hover) .P_PageElementMenu--link__active .P_PageElementMenu--link-dot {
    opacity: 0;
}

body:not(.E_actions-active) .E .P_PageElementMenu--hidden-link:after,
body:not(.E_actions-active) .E .P_PageElementMenu--dropdown-list:not(:hover) > .P_PageElementMenu--hidden-link.P_PageElementMenu--dropdown-item__active:after,
body:not(.E_actions-active) .E .P_PageElementMenu--dropdown-list:hover .P_PageElementMenu--dropdown-sublist:not(:hover) .P_PageElementMenu--hidden-link.P_PageElementMenu--dropdown-item__active:after {
    opacity: 0;
}

.E .P_PageElementMenu--hidden-link-self {
    cursor: auto;
}

.E .P_PageElementMenu--hidden-link-self:before,
.E .P_PageElementMenu--link-self:before {
    content: "";

    z-index: 1;
    position: absolute;
    top: 16px;
    left: 8px;

    width: calc(100% - 16px);
    height: calc(100% - 32px);

    border: 1px solid transparent;

    pointer-events: none;

    transition:
        border var(--default-transition-duration) var(--default-transition-easing) 0s,
        box-shadow var(--default-transition-duration) var(--default-transition-easing) 0s;
}

.E .P_PageElementMenu--hidden-link-self:hover:before,
.E .P_PageElementMenu--hidden-link-self:focus:before,
.E .P_PageElementMenu--link-self:hover:before,
.E .P_PageElementMenu--link-self:focus:before {
    border-color: var(--color-element-outline);

    pointer-events: none;

    transition: var(--default-transition-hover);
}

.E .E_PageSection__change-outline .P_PageElementMenu--hidden-link-self:hover:before,
.E .E_PageSection__change-outline .P_PageElementMenu--hidden-link-self:focus:before,
.E .E_PageSection__change-outline .P_PageElementMenu--link-self:hover:before,
.E .E_PageSection__change-outline .P_PageElementMenu--link-self:focus:before {
    border-color: var(--color-element-outline-2);
}

.E.E_Page__Sortable__active .P_PageElementMenu--hidden-link-self:hover:before,
.E.E_Page__Sortable__active .P_PageElementMenu--hidden-link-self:focus:before,
.E.E_Page__Sortable__active .P_PageElementMenu--link-self:hover:before,
.E.E_Page__Sortable__active .P_PageElementMenu--link-self:focus:before,
.E.E_Page__Sortable__active .E_PageSection__change-outline .P_PageElementMenu--hidden-link-self:hover:before,
.E.E_Page__Sortable__active .E_PageSection__change-outline .P_PageElementMenu--hidden-link-self:focus:before,
.E.E_Page__Sortable__active .E_PageSection__change-outline .P_PageElementMenu--link-self:hover:before,
.E.E_Page__Sortable__active .E_PageSection__change-outline .P_PageElementMenu--link-self:focus:before {
    border-color: transparent;
}

.E .P_PageElementMenu--hidden-link-self:after,
.E .P_PageElementMenu--link-self:after {
    content: "";

    position: absolute;
    top: 16px;
    left: 8px;

    width: calc(100% - 16px);
    height: calc(100% - 32px);

    box-shadow: 0px 0px 8px 0px transparent;

    pointer-events: none;

    transition:
        border var(--default-transition-duration) var(--default-transition-easing) 0s,
        box-shadow var(--default-transition-duration) var(--default-transition-easing) 0s;
}

.E .P_PageElementMenu--hidden-link-self:hover:after,
.E .P_PageElementMenu--hidden-link-self:focus:after,
.E .P_PageElementMenu--link-self:hover:after,
.E .P_PageElementMenu--link-self:focus:after {
    box-shadow: 0px 0px 8px 0px var(--color-element-outline-glow);
}

.E .E_PageSection__change-outline .P_PageElementMenu--hidden-link-self:hover:after,
.E .E_PageSection__change-outline .P_PageElementMenu--hidden-link-self:focus:after,
.E .E_PageSection__change-outline .P_PageElementMenu--link-self:hover:after,
.E .E_PageSection__change-outline .P_PageElementMenu--link-self:focus:after {
    box-shadow: 0px 0px 8px 0px var(--color-element-outline-2-glow);
}

.E.E_Page__Sortable__active .P_PageElementMenu--hidden-link-self:hover:after,
.E.E_Page__Sortable__active .P_PageElementMenu--hidden-link-self:focus:after,
.E.E_Page__Sortable__active .P_PageElementMenu--link-self:hover:after,
.E.E_Page__Sortable__active .P_PageElementMenu--link-self:focus:after,
.E.E_Page__Sortable__active .E_PageSection__change-outline .P_PageElementMenu--hidden-link-self:hover:after,
.E.E_Page__Sortable__active .E_PageSection__change-outline .P_PageElementMenu--hidden-link-self:focus:after,
.E.E_Page__Sortable__active .E_PageSection__change-outline .P_PageElementMenu--link-self:hover:after,
.E.E_Page__Sortable__active .E_PageSection__change-outline .P_PageElementMenu--link-self:focus:after {
    box-shadow: 0px 0px 8px 0px transparent;
}

.E .P_PageElementMenu--links:nth-last-child(2) .P_PageElementMenu--link:last-child .P_PageElementMenu--link-self:after,
.E .P_PageElementMenu--links:nth-last-child(2) .P_PageElementMenu--link:last-child .P_PageElementMenu--link-self:before {
    width: calc(100% - 8px);
}

.E .P_PageElementMenu--hidden-link-self:before,
.E .P_PageElementMenu--hidden-link-self:after {
    top: 4px;

    height: calc(100% - 8px);
}

/*--------------------------------------------------------------------*/
/*------------------------------- CART -------------------------------*/
/*--------------------------------------------------------------------*/

/*---------------------------- CART - ANIMATIONS ----------------------------*/

.E.P_animations-10 .P_PageElementMenu--cart:before,
.E.P_animations-10 .P_PageElementMenu--cart:after {
    transition:
               transform var(--P_animations-10-duration) var(--P_animations-10-easing),
                 opacity var(--P_animations-10-duration) var(--P_animations-10-easing),
                   color 0.1s linear,
        background-color 0.1s linear;
}

.E.P_animations-10 .P_PageElementMenu--cart.open:before,
.E.P_animations-10 .P_PageElementMenu--cart.open:after {
    transition:
               transform var(--P_animations-10-duration-hover) var(--P_animations-10-easing-hover),
                 opacity var(--P_animations-10-duration-hover) var(--P_animations-10-easing-hover),
                   color 0.1s linear,
        background-color 0.1s linear;
}

.E.P_animations-10 .E_PageSection__stop-color-transitions .P_PageElementMenu--cart:before,
.E.P_animations-10 .E_PageSection__stop-color-transitions .P_PageElementMenu--cart:after {
    transition:
        transform var(--P_animations-10-duration) var(--P_animations-10-easing),
          opacity var(--P_animations-10-duration) var(--P_animations-10-easing);
}

.E.P_animations-10 .E_PageSection__stop-color-transitions .P_PageElementMenu--cart.open:before,
.E.P_animations-10 .E_PageSection__stop-color-transitions .P_PageElementMenu--cart.open:after {
    transition:
        transform var(--P_animations-10-duration-hover) var(--P_animations-10-easing-hover),
          opacity var(--P_animations-10-duration-hover) var(--P_animations-10-easing-hover);
}

.E.P_animations-20 .P_PageElementMenu--cart:before,
.E.P_animations-20 .P_PageElementMenu--cart:after {
    transition:
               transform var(--P_animations-20-duration) var(--P_animations-20-easing),
                 opacity var(--P_animations-20-duration) var(--P_animations-20-easing),
                   color 0.1s linear,
        background-color 0.1s linear;
}

.E.P_animations-20 .P_PageElementMenu--cart.open:before,
.E.P_animations-20 .P_PageElementMenu--cart.open:after {
    transition:
               transform var(--P_animations-20-duration-hover) var(--P_animations-20-easing-hover),
                 opacity var(--P_animations-20-duration-hover) var(--P_animations-20-easing-hover),
                   color 0.1s linear,
        background-color 0.1s linear;
}

.E.P_animations-20 .E_PageSection__stop-color-transitions .P_PageElementMenu--cart:before,
.E.P_animations-20 .E_PageSection__stop-color-transitions .P_PageElementMenu--cart:after {
    transition:
        transform var(--P_animations-20-duration) var(--P_animations-20-easing),
          opacity var(--P_animations-20-duration) var(--P_animations-20-easing);
}

.E.P_animations-20 .E_PageSection__stop-color-transitions .P_PageElementMenu--cart.open:before,
.E.P_animations-20 .E_PageSection__stop-color-transitions .P_PageElementMenu--cart.open:after {
    transition:
        transform var(--P_animations-20-duration-hover) var(--P_animations-20-easing-hover),
          opacity var(--P_animations-20-duration-hover) var(--P_animations-20-easing-hover);
}

.E.P_animations-30 .P_PageElementMenu--cart:before,
.E.P_animations-30 .P_PageElementMenu--cart:after {
    transition:
               transform var(--P_animations-30-duration) var(--P_animations-30-easing),
                 opacity var(--P_animations-30-duration) var(--P_animations-30-easing),
                   color 0.1s linear,
        background-color 0.1s linear;
}

.E.P_animations-30 .P_PageElementMenu--cart.open:before,
.E.P_animations-30 .P_PageElementMenu--cart.open:after {
    transition:
               transform var(--P_animations-30-duration-hover) var(--P_animations-30-easing-hover),
                 opacity var(--P_animations-30-duration-hover) var(--P_animations-30-easing-hover),
                   color 0.1s linear,
        background-color 0.1s linear;
}

.E.P_animations-30 .E_PageSection__stop-color-transitions .P_PageElementMenu--cart:before,
.E.P_animations-30 .E_PageSection__stop-color-transitions .P_PageElementMenu--cart:after {
    transition:
        transform var(--P_animations-30-duration) var(--P_animations-30-easing),
          opacity var(--P_animations-30-duration) var(--P_animations-30-easing);
}

.E.P_animations-30 .E_PageSection__stop-color-transitions .P_PageElementMenu--cart.open:before,
.E.P_animations-30 .E_PageSection__stop-color-transitions .P_PageElementMenu--cart.open:after {
    transition:
        transform var(--P_animations-30-duration-hover) var(--P_animations-30-easing-hover),
          opacity var(--P_animations-30-duration-hover) var(--P_animations-30-easing-hover);
}

.E.P_animations-40 .P_PageElementMenu--cart:before,
.E.P_animations-40 .P_PageElementMenu--cart:after {
    transition:
               transform var(--P_animations-40-duration) var(--P_animations-40-easing),
                 opacity var(--P_animations-40-duration) var(--P_animations-40-easing),
                   color 0.1s linear,
        background-color 0.1s linear;
}

.E.P_animations-40 .P_PageElementMenu--cart.open:before,
.E.P_animations-40 .P_PageElementMenu--cart.open:after {
    transition:
               transform var(--P_animations-40-duration-hover) var(--P_animations-40-easing-hover),
                 opacity var(--P_animations-40-duration-hover) var(--P_animations-40-easing),
                   color 0.1s linear,
        background-color 0.1s linear;
}

.E.P_animations-40 .E_PageSection__stop-color-transitions .P_PageElementMenu--cart:before,
.E.P_animations-40 .E_PageSection__stop-color-transitions .P_PageElementMenu--cart:after {
    transition:
        transform var(--P_animations-40-duration) var(--P_animations-40-easing),
          opacity var(--P_animations-40-duration) var(--P_animations-40-easing);
}

.E.P_animations-40 .E_PageSection__stop-color-transitions .P_PageElementMenu--cart.open:before,
.E.P_animations-40 .E_PageSection__stop-color-transitions .P_PageElementMenu--cart.open:after {
    transition:
        transform var(--P_animations-40-duration-hover) var(--P_animations-40-easing-hover),
          opacity var(--P_animations-40-duration-hover) var(--P_animations-40-easing);
}

/*//////////////////////////// CART - ANIMATIONS ////////////////////////////*/

/**************************************/

.E .P_PageElementMenu .P_PageElementMenu--cart-count,
.E .P_PageElementMenu .P_PageElementMenu--cart-icon,
.E .P_PageElementMenu .P_PageElementMenu--show-hidden-icon,
.E .P_PageElementMenu .P_PageElementMenu--link-self,
.E .P_PageElementMenu .P_PageElementMenu--selected-currency,
.E .P_PageElementMenu .P_PageElementMenu--selected-lang,
.E .P_PageElementMenu .P_PageElementMenu--show-hidden-text {
    transition:
        background-color 0.1s linear 0s,
                   color 0.1s linear 0s,
             text-shadow 0.1s linear,
              box-shadow 0.1s linear,
                  filter 0.1s linear,
                  height 0.3s ease-in-out;
}

.E .P_PageElement .P_PageElementMenu {
    transition:
        background-color 0.1s linear 0s,
              box-shadow 0.1s linear;
}

.E .E_PageSection__stop-color-transitions .P_PageElementMenu .P_PageElementMenu--cart-count,
.E .E_PageSection__stop-color-transitions .P_PageElementMenu .P_PageElementMenu--cart-icon,
.E .E_PageSection__stop-color-transitions .P_PageElementMenu .P_PageElementMenu--show-hidden-icon,
.E .E_PageSection__stop-color-transitions .P_PageElementMenu .P_PageElementMenu--link-self,
.E .E_PageSection__stop-color-transitions .P_PageElementMenu .P_PageElementMenu--selected-currency,
.E .E_PageSection__stop-color-transitions .P_PageElementMenu .P_PageElementMenu--selected-lang,
.E .E_PageSection__stop-color-transitions .P_PageElementMenu .P_PageElementMenu--show-hidden-text,
.E .E_PageSection__stop-color-transitions .P_PageElementMenu {
    transition:
        text-shadow 0.1s linear,
         box-shadow 0.1s linear,
             filter 0.1s linear,
             height 0.3s ease-in-out
}



























