/*====================================================================*/
/*----------------------- PageSectionServices ----------------------*/
/*====================================================================*/

.P_PageSectionServices--items {
    text-align: center;
    font-size: 0;
    line-height: 0;

    position: relative;
    margin: auto;
    margin-top: 48px;
    margin-bottom: -48px;

    display: table;

    transition: all 0.3s ease-in-out;
    transition-property: margin, font-size, line-height, width, height, padding;
}

.P_PageSectionServices__left .P_PageSectionServices--items {
    text-align: left;

    margin-bottom: -64px;
}

.P_PageSectionServices__center-image .P_PageSectionServices--items {
    margin-top: 56px;
    margin-bottom: -56px;
}

@media (max-width: 1024px) {

    .P_PageSectionServices--items {
        margin-top: 48px;
    }

    .P_PageSectionServices__center-image .P_PageSectionServices--items {
        margin-top: 48px;
        margin-bottom: -48px;
    }

    .P_PageSectionServices__center .P_PageSectionServices--items {
        margin-bottom: -40px;
    }
}

@media (max-width: 680px) {

    .P_PageSectionServices--items {
        margin-top: 40px;
    }

    .P_PageSectionServices__center-image .P_PageSectionServices--items {
        margin-top: 40px;
        margin-bottom: -40px;
    }

    .P_PageSectionServices__center .P_PageSectionServices--items {
        margin-bottom: -32px;
    }
}

@media (max-width: 600px) {

    .P_PageSectionServices__left .P_PageSectionServices--items {
        margin-bottom: -48px;
    }
}

.P_PageSectionTitles.has-empty-titles:not(.has-active-titles) ~ .P_PageSectionServices--items {
    margin-top: 0;
}

.P_PageSectionServices--items-wrapper {
    vertical-align: top;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    display: table;
}

.P_PageSectionServices--items .P_PageElement__service {
    vertical-align: top;
}

[class*="P_PageSectionServices__center"] .P_PageSectionServices--items .P_PageElement__service {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 48px;

    width: calc(25% - 24px);
    min-width: 264px;
}

.P_PageSectionServices__center-image .P_PageSectionServices--items .P_PageElement__service {
    margin-bottom: 56px;
}

.P_PageSectionServices__left .P_PageSectionServices--items,
.P_PageSectionServices__left .P_PageSectionServices--items-wrapper {
    width: 100%;
}

.P_PageSectionServices__left .P_PageSectionServices--items .P_PageElement__service {
    margin-left: 44px;
    margin-right: 44px;
    margin-bottom: 64px;

    width: calc(50% - 88px);
    max-width: calc(100% - 0px);
}

.P_PageSectionServices__center .P_PageSectionServices--items .P_PageElement__service[data-ractive-transition="intro"] {
    animation:
        E_PageSectionServices__center--add-item__min-width 0.3s ease-in-out forwards,
        E_PageSectionServices__center--add-item__margin 0.3s ease-in-out forwards,
        E_PageSectionServices__center--add-item 0.3s ease-in-out forwards;
}


.P_PageSectionServices__center-image .P_PageSectionServices--items .P_PageElement__service[data-ractive-transition="intro"] {
    animation:
        E_PageSectionServices__center--add-item__min-width 0.3s ease-in-out forwards,
        E_PageSectionServices__center-image--add-item__margin 0.3s ease-in-out forwards,
        E_PageSectionServices__center--add-item 0.3s ease-in-out forwards;
}


.P_PageSectionServices__left .P_PageSectionServices--items .P_PageElement__service[data-ractive-transition="intro"] {
    animation:
        E_PageSectionServices__left--add-item__margin 0.3s ease-in-out forwards,
        E_PageSectionServices__left--add-item 0.3s ease-in-out forwards;
}


.P_PageSectionServices__left .P_PageSectionServices--items .P_PageElement__service[data-ractive-transition="intro"] .P_PageElementText {
    white-space: nowrap;
}

@keyframes E_PageSectionServices__left--add-item__margin {
    from {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    to {
        margin-bottom: 64px;
        margin-left: 44px;
        margin-right: 44px;
        margin-top: -12px;
        padding-top: 12px;
    }
}

@keyframes E_PageSectionServices__left--add-item {
    from {
        width: 0;
    }
    to {
        width: calc(50% - 88px);
    }
}

@media (max-width: 1440px) {

    .P_PageSectionServices__left .P_PageSectionServices--items .P_PageElement__service {
        margin-left: 40px;
        margin-right: 40px;

        width: calc(50% - 80px);
    }

    .P_PageSectionServices__left .P_PageSectionServices--items .P_PageElement__service[data-ractive-transition="intro"] {
        animation:
            E_PageSectionServices__left--add-item__margin__1440 0.3s ease-in-out forwards,
            E_PageSectionServices__left--add-item__1440 0.3s ease-in-out forwards;
    }
}

@keyframes E_PageSectionServices__left--add-item__margin__1440 {
    from {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    to {
        margin-bottom: 64px;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: -12px;
        padding-top: 12px;
    }
}

@keyframes E_PageSectionServices__left--add-item__1440 {
    from {
        width: 0;
    }
    to {
        width: calc(50% - 80px);
    }
}

@media (max-width: 1200px) {


    .P_PageSectionServices__left .P_PageSectionServices--items .P_PageElement__service {
        margin-left: 24px;
        margin-right: 24px;

        width: calc(50% - 48px);
    }

    .P_PageSectionServices__left .P_PageSectionServices--items .P_PageElement__service[data-ractive-transition="intro"] {
        animation:
            E_PageSectionServices__left--add-item__margin__1200 0.3s ease-in-out forwards,
            E_PageSectionServices__left--add-item__1200 0.3s ease-in-out forwards;
    }
}

@keyframes E_PageSectionServices__left--add-item__margin__1200 {
    from {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    to {
        margin-bottom: 64px;
        margin-left: 24px;
        margin-right: 24px;
        margin-top: -12px;
        padding-top: 12px;
    }
}

@keyframes E_PageSectionServices__left--add-item__1200 {
    from {
        width: 0;
    }
    to {
        width: calc(50% - 48px);
    }
}

@media (max-width: 1100px) {

    .P_PageSectionServices__left .P_PageSectionServices--items .P_PageElement__service {
        margin-right: 16px;
        margin-left: 16px;

        width: calc(50% - 32px);
    }

    .P_PageSectionServices__left .P_PageSectionServices--items .P_PageElement__service[data-ractive-transition="intro"] {
        animation:
            E_PageSectionServices__left--add-item__margin__1100 0.3s ease-in-out forwards,
            E_PageSectionServices__left--add-item__1100 0.3s ease-in-out forwards;
    }

}

@keyframes E_PageSectionServices__left--add-item__margin__1100 {
    from {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    to {
        margin-bottom: 64px;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: -12px;
        padding-top: 12px;
    }
}

@keyframes E_PageSectionServices__left--add-item__1100 {
    from {
        width: 0;
    }
    to {
        width: calc(50% - 32px);
    }
}

@media (max-width: 960px) {

    .P_PageSectionServices__left .P_PageSectionServices--items,
    .P_PageSectionServices__left .P_PageSectionServices--items-wrapper {
        text-align: center;
    }

    .P_PageSectionServices__left .P_PageSectionServices--items .P_PageElement__service {
        margin-left: auto;
        margin-right: auto;

        width: calc(100% - 164px);

        display: block;
    }

    .P_PageSectionServices__left .P_PageSectionServices--items .P_PageElement__service[data-ractive-transition="intro"] {
        animation:
            E_PageSectionServices__left--add-item__margin__960 0.3s ease-in-out forwards,
            E_PageSectionServices__left--add-item__960 0.3s ease-in-out forwards;
    }
}


@keyframes E_PageSectionServices__left--add-item__margin__960 {
    from {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    to {
        margin-bottom: 64px;
        margin-top: -12px;
        padding-top: 12px;
    }
}

@keyframes E_PageSectionServices__left--add-item__960 {
    from {
        width: 0;
    }
    to {
        width: calc(100% - 164px);
    }
}


@media (max-width: 800px) {

    .P_PageSectionServices__left .P_PageSectionServices--items .P_PageElement__service {
        width: calc(100% - 128px);
    }

    .P_PageSectionServices__left .P_PageSectionServices--items .P_PageElement__service[data-ractive-transition="intro"] {
        animation:
            E_PageSectionServices__left--add-item__margin__800 0.3s ease-in-out forwards,
            E_PageSectionServices__left--add-item__800 0.3s ease-in-out forwards;
    }
}

@keyframes E_PageSectionServices__left--add-item__margin__800 {
    from {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    to {
        margin-bottom: 64px;
        margin-top: -12px;
        padding-top: 12px;
    }
}

@keyframes E_PageSectionServices__left--add-item__800 {
    from {
        width: 0;
    }
    to {
        width: calc(100% - 128px);
    }
}

@media (max-width: 768px) {

    .P_PageSectionServices__left .P_PageSectionServices--items .P_PageElement__service {
        width: calc(100% - 80px);
    }

    .P_PageSectionServices__left .P_PageSectionServices--items .P_PageElement__service[data-ractive-transition="intro"] {
        animation:
            E_PageSectionServices__left--add-item__margin__768 0.3s ease-in-out forwards,
            E_PageSectionServices__left--add-item__768 0.3s ease-in-out forwards;
    }
}


@keyframes E_PageSectionServices__left--add-item__margin__768 {
    from {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    to {
        margin-bottom: 64px;
        margin-top: -12px;
        padding-top: 12px;
    }
}

@keyframes E_PageSectionServices__left--add-item__768 {
    from {
        width: 0;
    }
    to {
        width: calc(100% - 80px);
    }
}


@media (max-width: 600px) {

    .P_PageSectionServices__left .P_PageSectionServices--items .P_PageElement__service {
        margin-bottom: 48px;

        width: calc(100% - 40px);
    }

    .P_PageSectionServices__left .P_PageSectionServices--items .P_PageElement__service[data-ractive-transition="intro"] {
        animation:
            E_PageSectionServices__left--add-item__margin__800 0.3s ease-in-out forwards,
            E_PageSectionServices__left--add-item__800 0.3s ease-in-out forwards;
    }
}


@keyframes E_PageSectionServices__left--add-item__margin__600 {
    from {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    to {
        margin-bottom: 48px;
        margin-top: -12px;
        padding-top: 12px;
    }
}

@keyframes E_PageSectionServices__left--add-item__600 {
    from {
        width: 0;
    }
    to {
        width: calc(100% - 40px);
    }
}


@media (max-width: 480px) {

    .P_PageSectionServices__left .P_PageSectionServices--items .P_PageElement__service {
        width: calc(100% - 0px);
    }

    .P_PageSectionServices__left .P_PageSectionServices--items .P_PageElement__service[data-ractive-transition="intro"] {
        animation:
            E_PageSectionServices__left--add-item__margin__480 0.3s ease-in-out forwards,
            E_PageSectionServices__left--add-item__480 0.3s ease-in-out forwards;
    }
}


@keyframes E_PageSectionServices__left--add-item__margin__480 {
    from {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    to {
        margin-bottom: 48px;
        margin-top: -12px;
        padding-top: 12px;
    }
}

@keyframes E_PageSectionServices__left--add-item__480 {
    from {
        width: 0;
    }
    to {
        width: calc(100% - 0px);
    }
}


@keyframes E_PageSectionServices__center--add-item__min-width {
    from {
        min-width: 0;
    }
    to {
        min-width: 264px;
    }
}

@keyframes E_PageSectionServices__center--add-item__margin {
    from {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    to {
        margin-bottom: 48px;
        margin-left: 12px;
        margin-right: 12px;
    }
}

@keyframes E_PageSectionServices__center-image--add-item__margin {
    from {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    to {
        margin-bottom: 56px;
        margin-left: 12px;
        margin-right: 12px;
    }
}

@keyframes E_PageSectionServices__center--add-item {
    from {
        width: 0;
    }
    to {
        width: calc(25% - 24px);
    }
}

@media (max-width: 1328px) {

    [class*="P_PageSectionServices__center"] .P_PageSectionServices--items .P_PageElement__service {
        width: calc(33.333% - 24px);
    }

    .P_PageSectionServices__center .P_PageSectionServices--items .P_PageElement__service[data-ractive-transition="intro"] {
        animation:
            E_PageSectionServices__center--add-item__min-width 0.3s ease-in-out forwards,
            E_PageSectionServices__center--add-item__margin 0.3s ease-in-out forwards,
            E_PageSectionServices__center--add-item__1328 0.3s ease-in-out forwards;
    }

    .P_PageSectionServices__center-image .P_PageSectionServices--items .P_PageElement__service[data-ractive-transition="intro"] {
        animation:
            E_PageSectionServices__center--add-item__min-width 0.3s ease-in-out forwards,
            E_PageSectionServices__center-image--add-item__margin 0.3s ease-in-out forwards,
            E_PageSectionServices__center--add-item__1328 0.3s ease-in-out forwards;
    }

}

@keyframes E_PageSectionServices__center--add-item__1328 {
    from {
        width: 0;
    }
    to {
        width: calc(33.333% - 24px);
    }
}

@media (max-width: 1024px) {

    [class*="P_PageSectionServices__center"] .P_PageSectionServices--items .P_PageElement__service {
        margin-bottom: 40px;

        width: calc(50% - 24px);
    }

    .P_PageSectionServices__center .P_PageSectionServices--items .P_PageElement__service {
        margin-bottom: 48px;
    }

    .P_PageSectionServices__center .P_PageSectionServices--items .P_PageElement__service[data-ractive-transition="intro"] {
        animation:
            E_PageSectionServices__center--add-item__min-width 0.3s ease-in-out forwards,
            E_PageSectionServices__center--add-item__margin__1024 0.3s ease-in-out forwards,
            E_PageSectionServices__center--add-item__1024 0.3s ease-in-out forwards;
    }

    .P_PageSectionServices__center-image .P_PageSectionServices--items .P_PageElement__service[data-ractive-transition="intro"] {
        animation:
            E_PageSectionServices__center--add-item__min-width 0.3s ease-in-out forwards,
            E_PageSectionServices__center-image--add-item__margin__1024 0.3s ease-in-out forwards,
            E_PageSectionServices__center--add-item__1024 0.3s ease-in-out forwards;
    }

}

@keyframes E_PageSectionServices__center--add-item__margin__1024 {
    from {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    to {
        margin-bottom: 40px;
        margin-left: 12px;
        margin-right: 12px;
    }
}

@keyframes E_PageSectionServices__center-image--add-item__margin__1024 {
    from {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    to {
        margin-bottom: 48px;
        margin-left: 12px;
        margin-right: 12px;
    }
}

@keyframes E_PageSectionServices__center--add-item__1024 {
    from {
        width: 0;
    }
    to {
        width: calc(50% - 24px);
    }
}

@media (max-width: 680px) {

    [class*="P_PageSectionServices__center"] .P_PageSectionServices--items .P_PageElement__service {
        margin-bottom: 32px;

        width: calc(100% - 24px);
    }

    .P_PageSectionServices__center-image .P_PageSectionServices--items .P_PageElement__service {
        margin-bottom: 40px;
    }


    .P_PageSectionServices__center .P_PageSectionServices--items .P_PageElement__service[data-ractive-transition="intro"] {
        animation:
            E_PageSectionServices__center--add-item__min-width 0.3s ease-in-out forwards,
            E_PageSectionServices__center--add-item__margin__680 0.3s ease-in-out forwards,
            E_PageSectionServices__center--add-item__680 0.3s ease-in-out forwards;
    }

    .P_PageSectionServices__center-image .P_PageSectionServices--items .P_PageElement__service[data-ractive-transition="intro"] {
        animation:
            E_PageSectionServices__center--add-item__min-width 0.3s ease-in-out forwards,
            E_PageSectionServices__center--add-item-images__margin__680 0.3s ease-in-out forwards,
            E_PageSectionServices__center--add-item__680 0.3s ease-in-out forwards;
    }

}

@keyframes E_PageSectionServices__center--add-item__margin__680 {
    from {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    to {
        margin-bottom: 32px;
        margin-left: 12px;
        margin-right: 12px;
    }
}

@keyframes E_PageSectionServices__center-image--add-item__margin__680 {
    from {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    to {
        margin-bottom: 40px;
        margin-left: 12px;
        margin-right: 12px;
    }
}

@keyframes E_PageSectionServices__center--add-item__680 {
    from {
        width: 0;
    }
    to {
        width: calc(100% - 24px);
    }
}
