/*====================================================================*/
/*----------------------- PAGESECTIONFACTSICONS ----------------------*/
/*====================================================================*/

.P_PageSectionServices--items [id^="__ph"] {
    vertical-align: top;

    margin-right: 12px;
    margin-left: 12px;

    display: inline-block !important;
}

.P_PageSectionServices__center .P_PageSectionServices--items [id^="__ph"] {
    margin-bottom: 48px;
}

.P_PageSectionServices__center-image .P_PageSectionServices--items [id^="__ph"] {
    margin-bottom: 56px;
}

.P_PageSectionServices__left .P_PageSectionServices--items [id^="__ph"] {
    margin-left: 44px;
    margin-right: 44px;
    margin-bottom: 64px;
    margin-top: -12px;
}

@media (max-width: 1024px) {

    .P_PageSectionServices__center-image .P_PageSectionServices--items [id^="__ph"]{
        margin-bottom: 48px;
    }

    .P_PageSectionServices__center .P_PageSectionServices--items [id^="__ph"]{
        margin-bottom: 40px;
    }
}

@media (max-width: 960px) {

    .P_PageSectionServices__left .P_PageSectionServices--items [id^="__ph"]{
        margin-left: auto;
        margin-right: auto;

        display: block !important;
    }
}

@media (max-width: 680px) {

    .P_PageSectionServices__center-image .P_PageSectionServices--items [id^="__ph"]{
        margin-bottom: 40px;
    }

    .P_PageSectionServices__center .P_PageSectionServices--items [id^="__ph"]{
        margin-bottom: 32px;
    }
}

@media (max-width: 600px) {

    .P_PageSectionServices__left .P_PageSectionServices--items [id^="__ph"]{
        margin-bottom: 48px;
    }
}

/*---------------------------- ADD BUTTONS ----------------------------*/

.E_PageSectionServices--add-item {
    z-index: 10;
    position:absolute;
    right: -40px;
    bottom: 80px;
}


.E_PageSectionServices--add-item__bottom {
    z-index: 10;
    margin: auto;
    position:absolute;
    top: auto;
    right: 0px;
    left: 0px;
    bottom: -8px;
}

.P_PageSectionServices__left .E_PageSectionServices--add-item__bottom {
    bottom: 16px;
}

/*//////////////////////////// ADD BUTTONS ////////////////////////////*/
